@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.PopoverMenuItem {
  text-transform: capitalize;
  opacity: 1;

  & > a {
    height: 30px !important;
    line-height: 30px !important;

    &:hover {
      color: @primary-color !important;
    }

    &[disabled] {
      color: #c2ccd3 !important;
    }

    & > span {
      white-space: nowrap;
      font-size: 16px !important;
      font-weight: 500;
      color: @black-text;
    }
  }

  &--bold {
    & > a {
      font-weight: bold !important;
    }
  }
}

.PopoverMenuItem.PopOverMenuItem__full-screen-hidden {
  display: list-item;

  @media @small {
    display: none;
  }
}

.PopoverMenuItem.PopOverMenuItem__mobile-screen-hidden {
  display: none;

  @media @small {
    display: list-item;
  }
}

@import 'PopoverMenuItem-nightmode';
