@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.PopoverMenuItem {
  height: 30px !important;
  font-size: 16px !important;
  //font-weight: 500 !important;

  a {
    .menu-item-link();

    &--bold {
      & > a {
        font-weight: bold !important;
      }
    }
  }
}

.PopoverMenuItem.PopOverMenuItem__full-screen-hidden {
  display: list-item;

  @media @small {
    display: none;
  }
}

.PopoverMenuItem.PopOverMenuitem__topNav {
  font-size: 18px !important;
  font-weight: 400 !important;
}
