@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.ListDescription {
  margin: 30px 5%;
  color: @blue-botticelli;
  word-break: break-word;
  font-size: 18px;

  p {
    white-space: break-spaces;
    word-break: break-word;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
    @media @small {
      display: block;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--website-color);
    @media @small {
      text-align: left;
      justify-content: flex-start;
      margin: 10px 0 0;
    }

    &.margin-bottom {
      margin: 0 0 10px;
    }
  }

  &__image-container {
    @media @small {
      float: right;
    }
  }

  &__image {
    border: 1px solid @white-gainsboro;
    width: -webkit-fill-available;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    max-width: 100%;
    height: auto;
    @media @small {
      margin: 0 20px 0 40px;
      object-fit: contain;
      max-height: 300px;
    }
    @media @medium {
      max-height: 360px;
      margin: 0 20px 20px 40px;
    }
  }
}
