figure.md-block-image {
  img {
    cursor: default;

    &.is-selected {
      box-shadow: 0 0 0 3px #02b875;
    }
  }

  figcaption {
    padding: 25px 0;

    .public-DraftStyleDefault-block {
      text-align: center;
    }
  }

  .md-block-image-inner-container {
    position: relative;
    text-align: center;
  }
  .md-block-image-toolbar-container {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
}
