.md-block-todo {
  input[type='checkbox'] {
    cursor: pointer;
    float: left;
    position: relative;
    top: 4px;
    left: -4px;
  }

  .md-block-todo-completed {
    color: #949494;
    text-decoration: line-through;
  }
}
