@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.DepartmentSearch {
  margin: 5px;

  @media @small {
    margin: 20px;
  }
  .ant-tag {
    padding: 2px 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  i.anticon.anticon-close {
    font-size: 14px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrap {
    margin-bottom: 10px;
  }

  &__type {
    text-transform: capitalize;
    color: @blue-gullGray;
    font-size: 18px;
  }

  .ShopCardWidth();
}

.DepartmentSearch.clean {
  font-family: var(--template-font-body, inherit);

  .ShopObjectCardClean {
    &__avatarWrap {
      width: 150px;
      height: 150px;
      min-width: 150px;
    }

    @media (min-width: 1201px) {
      width: calc((100% - 40px) / 5);

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 10px;
      }
    }

    @media (max-width: 1200px) and (min-width: 999px) {
      width: calc((100% - 30px) / 4);

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    @media (max-width: 998px) and (min-width: 481px) {
      width: calc((100% - 20px) / 3);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
