@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.DepartmentSearch {
  margin: 5px;

  @media @small {
    margin: 20px;
  }
  .ant-tag {
    padding: 2px 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  i.anticon.anticon-close {
    font-size: 14px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrap {
    margin-bottom: 10px;
  }

  &__type {
    text-transform: capitalize;
    color: @blue-gullGray;
    font-size: 18px;
  }

  .ShopCardWidth();
}
