@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.LightboxTools {
  &__search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__search-objects {
    border-radius: 4px;
    padding: 4px 16px;
    min-width: 300px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.7;
    border: none;
    background-color: @grey-nero;
    .ant-select-combobox.ant-select-search__field__wrap {
      input.ant-select-auto-complete.ant-select.ant-input {
        color: @white-smoke !important;
      }
    }
  }
  &__select {
    border-radius: 4px;
    padding: 4px 16px;
    min-width: 155px;
    max-width: 170px;
    top: 10px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: @white-smoke;
    opacity: 0.7;
    border: 1px solid @normal-grey;
    background-color: @grey-nero;

    @media @medium {
      min-width: 200px;
      max-width: 200px;
    }

    .ant-select-selection-selected-value {
      color: @white-smoke;
    }
    .ant-select-arrow {
      color: @white-smoke!important;
    }
  }
  &__dropdown {
    &.ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft {
      z-index: 1400 !important;
    }
  }
  .ril-image-current.ril__image {
    background-color: @white !important;
  }
  .ril-image-current.ril__image.ril-errored,
  .ril-loadingContainer,
  .ril-image-current.ril__image.ril-not-loaded {
    background-color: transparent !important;
  }
  .ril-toolbar.ril__toolbar {
    display: flex !important;
    justify-content: normal !important;
  }
  .ril__toolbarRightSide {
    display: flex;
  }
  .ril__toolbarLeftSide {
    width: 90%;
  }

  .ril__captionContent,
  .ril__toolbarItem {
    width: 100%;
  }
  &__container {
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (min-width: @medium-bp) {
      width: 95%;
    }
  }
  &__selects {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
    @media (min-width: 820px) {
      margin-left: auto;
      margin-right: auto;
      width: 78%;
    }
    @media (min-width: 1023px) {
      width: 70%;
    }
    @media (min-width: 1100px) {
      width: 60%;
    }
    @media (min-width: 1200px) {
      width: 50%;
    }
    @media (min-width: 1500px) {
      width: 45%;
    }
    @media (min-width: 1700px) {
      width: 40%;
    }
    @media (min-width: 2000px) {
      width: 35%;
    }
  }
  &__container-header {
    height: 60px;
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    @media (min-width: 820px) {
      width: 100%;
    }
    @media (min-width: 1023px) {
      justify-content: space-between;
      width: 100%;
    }
  }
  &__guestContainer {
    font-size: 16px;
    display: flex;
    width: 95%;
    justify-content: flex-end;
  }
  &__albumInfo,
  select {
    border-radius: 4px;
    padding: 4px 16px;
    margin-left: 10px;
    min-width: 300px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: @white-smoke;
    opacity: 0.7;
    border: 1px solid @normal-grey;
    background-color: @grey-nero;
    &-container {
      display: flex;
      align-items: center;
      max-width: 370px;
    }
    &-related-container {
      display: flex;
      align-items: center;
      max-width: 300px;
    }
    &-title {
      margin-right: 10px;
      color: @white-smoke;
      opacity: 0.7;
      font-weight: 600;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin-left: 10px;

    &:hover {
      opacity: 1;
    }
  }
  &__width {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 10px;
  }
  &__approving-card {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
