@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.ShopFilters {
  border: none;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-family: var(--template-font-body, inherit);

  @media @small {
    display: block;
    background: @white;
    padding: 10px;
    border: @base-border;
    border-radius: 4px;
  }

  &__show-more {
    cursor: pointer;
    text-decoration: underline;
    color: @black;
    transition: 0.5s;

    &:hover {
      color: var(--website-hover-color);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    border-bottom: @base-border;
    color: @blue-baliHai;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__subtitle {
    display: inline-block;
    font-weight: 800;
    margin-bottom: 5px;
  }

  &__block {
    margin-bottom: 5px;

    &:last-child {
      margin: 0;
    }
  }
}

@import 'ShopFilter-nightmode';
