@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';
@import (reference) '../../../../investarena/components/Common.less';

.nightmode {
  .MobileMenu {
    &__input-container {
      input {
        background-color: @grey-nero !important;
        caret-color: @white;
        color: @white-smoke !important;
      }
    }
    .ant-select-selection {
      border: 0 !important;
    }
  }
}
