@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';
@import (reference) '../../../../investarena/components/Common.less';

.MobileMenu {
  position: absolute;
  right: 0;
  background: #3a79ee;
  color: @white;
  height: 100vh;

  .UserData {
    display: flex;
    justify-content: space-between;
  }

  .BrokerBalance {
    align-items: baseline;
    color: @white-smoke !important;

    .ant-dropdown-trigger {
      display: flex;
      flex-direction: row;
      height: 2rem;
      align-items: center;
    }
  }

  &__disconnect-broker {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
  }

  &__wrapper {
    margin: 1rem;
  }

  &__input-container {
    position: relative;
    display: flex;
    margin: 1rem 0;

    input {
      height: 38px !important;
      padding: 0 0 0 43px !important;
      background-color: @white !important;
      caret-color: @grey-nero;
      color: @grey-nero !important;

      &:hover,
      &:focus {
        box-shadow: none !important;
      }
    }

    i {
      left: 16px;
      position: absolute;
      color: @blue-baliHai;
      font-size: 20px;
      z-index: @backtop-z-index;
      line-height: 38px !important;
    }

    .ant-select-selection__rendered {
      line-height: 38px !important;
    }
  }

  .ant-menu-item > a {
    border-color: @white;
    background-color: @white;
  }
}

.Topnav__search-dropdown-container.ant-select-dropdown {
  top: 180px !important;
  width: calc(100% - 145px);
  border-right: 1px solid @baby-blue;
  border-left: 1px solid @baby-blue;
  border-bottom: 1px solid @baby-blue;

  &.logged-out {
    top: 100px !important;
  }
}

.MenuContainer {
  display: flex;
  flex-direction: column;

  &__link {
    color: @white;
    height: 2rem;
    text-align: end;
    font-weight: 500;
  }
}

@import 'MobileMenu-nightmode';
