@import (reference) '../../../styles/custom.less';

.DelegateInstructionCard {
  color: @grey-mortar;

  div {
    word-break: break-word;

    .DelegateInstructionCard__address {
      word-break: break-all;
    }
  }
}
