@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.proposition-line {
  display: none;
}

@media @medium, @large {
  .proposition-line {
    padding: 5px;
    display: flex;
    align-items: center;
    &__text {
      margin-right: 8px;
    }
    &__icon {
      font-size: 23px;
    }
  }
}
