@import (reference) '../styles/custom.less';

.Avatar {
  cursor: pointer;
  display: block !important;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: @base-border;
  background-color: @white;
  &-lightbox {
    border-color: @silver-gray;
  }
}
.Avatar-square {
  cursor: pointer;
  display: block !important;
  //border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: @base-border;
  background-color: @white;
}

@import 'Avatar-nightmode';
