@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.BBackTop {
  position: fixed;
  //width: 100%;
  bottom: 90px;
  right: 0;
  z-index: @backtop-z-index;
  @media @medium {
    height: 0;
    bottom: 60px;
    right: 0;
  }

  .BBackTop__container {
    position: relative;
    margin: 0 auto;
    max-width: calc(100% - 100px);
    @media @large {
      padding: 0;
    }

    &--shifted {
      max-width: 935px;
    }
  }

  &_button {
    position: static !important;
    float: right;

    i {
      color: var(--website-color) !important;
      font-size: 40px;
      line-height: 40px;
      background-color: var(--website-text-color);
      border-radius: 50%;
      height: 37px;
      display: block;
      transition: 0.5s;
      width: 37px;

      &:hover {
        color: var(--website-hover-color) !important;
      }
    }
  }

  &_button-ai {
    position: static !important;
    float: right;
    background: var(--website-color) !important;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: var(--website-text-color);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: block;
    transition: 0.5s;
    padding-left: 10px;
    padding-top: 7px;
    box-shadow: rgba(31, 31, 31, 0.5) 2px 2px 5px 0;
    cursor: pointer;

    &:hover {
      background-color: var(--website-hover-color);
      color: @white;
    }
  }
}

.ShopWebsiteWrapper {
  .BBackTop {
    .BBackTop__container {
      max-width: calc(100% - 100px);
    }
  }
}
