@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.BBackTop {
  position: fixed;
  width: 100%;
  bottom: 45px;
  right: -40px;
  z-index: @backtop-z-index;
  @media @medium {
    height: 0;
    bottom: 60px;
  }

  .BBackTop__container {
    position: relative;
    margin: 0 auto;
    max-width: calc(100% - 100px);
    @media @large {
      padding: 0;
    }

    &--shifted {
      max-width: 935px;
    }
  }

  &_button {
    position: static !important;
    float: right;

    i {
      color: var(--website-color) !important;
      font-size: 40px;
      line-height: 40px;
      background-color: white;
      border-radius: 50%;
      height: 37px;
      display: block;
      transition: 0.5s;
      width: 37px;

      &:hover {
        color: var(--website-hover-color) !important;
      }
    }
  }

  &_button-ai {
    position: static !important;
    float: right;

    background: var(--website-color) !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    border-radius: 50%;
    height: 37px;
    display: block;
    transition: 0.5s;
    width: 37px;
    padding-left: 9px;
    padding-top: 4px;
    cursor: pointer;
  }
}

.ShopWebsiteWrapper {
  .BBackTop {
    .BBackTop__container {
      max-width: calc(100% - 100px);
    }
  }
}
