@import (reference) '../styles/custom.less';
@import (reference) '../styles/mixins.less';

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon,
  &__text {
    display: flex;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
    color: @primary-color;
    padding-right: 5px;
    font-size: 25px;
  }

  &__text {
    color: @blue-botticelli;
    font-size: @font-size-base;
    font-weight: 500;
  }
}
