@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.ObjectHeader {
  &__avatar-image {
    font-size: 100px;
  }
  background-color: #f3f4f6;
  background-size: cover;
  background-position: center;
  position: relative;

  &__more {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px !important;
    color: @primary-color;

    &:hover {
      cursor: pointer;
      color: darken(@primary-color, 15%);
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    button {
      margin: 0 4px;
    }
  }
  &--cover {
    background-color: darken(@primary-color, 25%) !important;

    .ObjectHeader__rank,
    .ObjectHeader__rank & > i,
    .ObjectHeader__handle,
    .ObjectHeader__more,
    .ObjectHeader__user__username,
    .ObjectHeader__follows-you,
    .ObjectHeader__rank,
    .ObjectHeader__type,
    .ObjectHeader__descriptionShort {
      color: @white !important;
      text-shadow: 2px 1px 2px black;
    }
  }
  .ObjectHeader__user__addCover {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  &__handle {
    .ObjectHeader__follows-you {
      display: none;
    }

    @media @small {
      .ObjectHeader__follows-you {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__follows-you--mobile {
    position: relative;
    top: -30px;
    text-align: center;

    @media @small {
      display: none;
    }
  }

  &__follows-you-cover-text-color {
    color: @white;
  }
}

.ObjectHeader__container {
  display: flex;
  margin: 0 auto;
  max-width: 1011px;
  padding: 16px;
  align-items: center;
  flex-direction: column;
  a {
    position: relative;
  }
  &--active {
    position: absolute;
    left: 75px;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: @green;
  }
}

.ObjectHeader__user {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ObjectHeader__row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ObjectHeader__handle {
  position: relative;
  top: -30px;
  color: @blue-botticelli;

  &-rank-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.ObjectHeader__user__username {
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  color: @grey-gondola;

  .ant-tag {
    margin-bottom: 8px;
    margin-left: 0;
    vertical-align: 4px;
    text-shadow: none;
  }
}

.ObjectHeader__user__buttons {
  display: flex;
}

.ObjectHeader__user__button {
  position: relative;
  top: 40px;
  margin-left: 10px;

  &-follows-you {
    top: 52px;
  }
}

.ObjectHeader__descriptionShort {
  font-weight: 400;
  font-size: 18px;
  color: @grey-gondola;

  .proposition-line {
    padding-top: 5px;
  }
}

.ObjectHeader__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media @small {
  &__text {
    word-break: break-word;
  }

  .ObjectHeader__container {
    padding: 30px 0 30px 16px;
    align-items: initial;
    flex-direction: initial;
  }
  .ObjectHeader__text {
    max-width: 76%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .ObjectHeader__user {
    padding-bottom: 0;
    margin: 0 20px;

    &__username {
      font-size: 32px;
    }
  }

  .ObjectHeader__row {
    align-items: initial;
    flex-direction: initial;
  }
  .ObjectHeader__extend {
    margin-left: 10px;
  }

  .ObjectHeader__rank {
    margin-top: 0;
    margin-left: 0;
  }

  .ObjectHeader__handle {
    top: -8px;

    &-rank-container {
      display: block;
      flex-direction: initial;
      justify-content: initial;
    }
  }

  .ObjectHeader__more {
    position: static;
  }

  .ObjectHeader__user__button {
    top: 12px;
  }
}

@media @large, @medium {
  .ObjectHeader__container {
    width: 100%;
    padding: 30px 0;
  }
  .ObjectHeader__text {
    max-width: 76%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .ObjectHeader__user__username {
    padding: 0;
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    color: @grey-gondola;

    .ant-tag {
      margin-left: 8px;
      margin-bottom: 0;
      vertical-align: 4px;
      text-shadow: none;
    }

    .ObjectHeader__text {
      margin-right: 8px;
    }
  }

  .ObjectHeader__info {
    justify-content: flex-start;
  }
}
