@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

.UserMenu {
  background-color: white;

  @media @small {
    height: 46px;
    border-top: solid 1px #e9e7e7;
    border-bottom: solid 1px #e9e7e7;
  }

  &__menu {
    line-height: 46px;

    @media @medium {
      white-space: nowrap;
      height: 46px;
    }
  }

  &__item {
    height: 45px;
    margin-right: 12px;
    cursor: pointer;
    color: #99aab5;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    justify-content: center;

    &--active,
    &:hover {
      color: @primary-color;
      border-bottom: 2px @border-style-base @primary-color;
    }

    @media @small {
      display: inline-block;
    }
  }

  &__badge {
    color: #c2ccd3;
    margin-left: 6px;
  }
}

div[data-dir='rtl'] .UserMenu {
  &__badge {
    margin-left: 0;
    margin-right: 6px;
  }

  &__item {
    margin-right: 0;
    margin-left: 16px;
  }
}

[data-key='about'] {
  @media @small {
    display: none;
  }
}

.menu-layout {
  .UserMenu__menu {
    @media @small {
      width: 100% !important;
    }
  }
}

@import 'UserMenu-nightmode';
