@import (reference) '../styles/custom.less';

.UserCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  padding-top: 14px;
  border-top: @base-border;

  .Follow {
    margin-left: 8px;
  }

  &:first-child {
    padding-top: 0;
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  & > &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > a:nth-child(2) {
      margin-left: 8px;
    }

    .username {
      margin-left: 8px;
    }

    .ant-tag {
      margin-right: 0;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }
}

div[data-dir='rtl'] .UserCard {
  & > &__left {
    & > a:nth-child(2) {
      margin-left: 0px;
      margin-right: 8px;
    }
  }

  &__alt {
    margin-left: 0px;
    margin-right: 8px;
  }
}

@import 'UserCard-nightmode';
