@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.SwapTokenCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media @small {
    flex-direction: row;
  }

  &__from {
    color: @red-danger;
  }

  &__to {
    color: @green;
    margin-left: 10px;

    @media @small {
      margin-left: 25px;
    }
  }
}
