@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.SwapTokenCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media @small {
    flex-direction: row;
  }

  &__amount_column {
    display: flex;
    flex-direction: column;
    @media @small {
      flex-direction: row;
    }
  }

  &__from {
    color: @red;
  }

  &__to {
    color: @green;
    margin-left: 10px;

    @media @small {
      margin-left: 25px;
    }
  }
}

.UserWalletTransactions {
  &__content-recipient {
    display: flex;
    justify-content: space-between;
  }
}
