@import (reference) '../../../styles/custom.less';

.SwapTokenCard {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__from {
    color: @red-danger;
  }

  &__to {
    color: @green;
    margin-left: 25px;
  }
}
