@import './variables.less';
@import './post-layout.less';
@import './feed-layout.less';
@import './topnav-layout.less';
@import './menu-layout.less';
@import './settings-layout.less';
@import './drafts-layout.less';

.container {
  position: relative;
  margin: 0 auto;
  max-width: @container-width;
}

.ShopWebsiteWrapper {
  .container.Shop {
    position: relative;
    margin: 0;
    max-width: none;

    @media @small {
      margin: 0 30px;
    }
  }

  .feed-layout {
    padding: 0;

    .right {
      width: 240px;
    }

    .leftContainer {
      width: 200px;
    }

    .left {
      width: 200px;
    }

    .rightContainer {
      width: 250px;
    }
  }
}

.isWidget-container {
  display: flex;
  justify-content: center;
}
