@import './variables.less';
@import './post-layout.less';
@import './feed-layout.less';
@import './topnav-layout.less';
@import './menu-layout.less';
@import './settings-layout.less';
@import './drafts-layout.less';

.container {
  position: relative;
  margin: 0 auto;
  max-width: @container-width;
}

.ShopWebsiteWrapper {
  .container {
    position: relative;
    margin: 0 30px;
    max-width: none;
    //display: flex;
    //justify-content: space-between;
  }

  .feed-layout {
    padding: 0;

    .right {
      width: 250px;
    }
  }
}

.isWidget-container {
  display: flex;
  justify-content: center;
}
