@import (reference) './variables.less';

.post-layout {
  position: relative;
  padding: 15px;

  @media @large {
    padding: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .right {
    width: @right-width;
    margin-left: 20px;
  }

  .rightContainer {
    float: right;
    display: none;
    width: (@right-width - @margin);

    @media @small {
      display: block;
    }
  }

  .center {
    float: left;
    width: 100%;

    @media @large {
      width: calc(100% - @right-width);
    }

    @media @medium {
      width: calc(100% - @right-width);
    }

    @media @small {
      width: calc(100% - @right-width);
    }
  }
}
