@import (reference) '../../../styles/custom';

.MarkerWithReward {
  display: inline-block;
  border-radius: 8px;
  padding: 0 2px;
  color: @white;
  font-size: 13px;
  position: relative;
  min-width: 50px;
  text-align: center;
  border: 1px solid @white;

  &__triangular {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    position: absolute;
    bottom: -6px;
    left: 28%;
  }

  &--hovered {
    font-size: 15px;
    border: none;

    &__triangular {
      left: 31%;
    }
  }
}
