@import (reference) '../../../styles/custom';

.MarkerWithReward {
  display: inline-block;
  border-radius: 8px;
  padding: 0 2px;
  font-size: 13px;
  position: relative;
  min-width: 50px;
  text-align: center;
  border: 1px solid var(--website-text-color);
  background: var(--website-color);
  color: var(--website-text-color);

  &__triangular {
    border-color: var(--website-color) transparent transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    position: absolute;
    bottom: -6px;
    left: 28%;
  }

  &--hovered {
    font-size: 15px;
    border: none;
    box-shadow: 0 0 6px 3px var(--website-color);

    &__triangular {
      left: 31%;
    }
  }
}
