@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.nightmode {
  .Options {
    &__pictures {
      &--black {
        color: @silver-gray;
        border-color: @silver-gray;
      }
    }
    &__option-button {
      &--black {
        color: @silver-gray;
        border-color: @silver-gray;
      }
    }
  }
}
