@import (reference) '../../styles/custom.less';

.waiv-editor {
  .md-RichEditor-root {
    border: @base-border;
    border-radius: 4px;

    .md-side-toolbar > div {
      display: flex;
      align-items: center;
    }

    .md-sb-button {
      background: @white;
      border: @border-width-base @border-style-base @grey-empress;
    }
  }
}
