@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Checklist {
  margin: 5px;

  @media @small {
    margin: 20px;
  }

  &--withoutMargin {
    margin: 0;

    @media @small {
      margin: 20px;
    }
  }

  &__breadcrumbsContainre {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media @small {
      flex-direction: row;
    }
  }

  .FeedMasonry {
    padding: 0;
    margin-top: 20px;
  }

  &__banner {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .Checklist__listItems {
      .Checklist__itemsTitle {
        display: inline-block;
        background: var(--website-color);
        color: var(--website-text-color);
        padding: 3px 10px;
        border-radius: 0 0 4px 4px;
        width: 100%;
        font-weight: 600;
        transition: 0.5s;
        font-size: 18px;
      }
    }

    .ShopObjectCard,
    .Checklist__listItems {
      margin-right: 0;
      @media (min-width: 1201px) {
        width: calc((100% - 40px) / 5);
        //
        //&:nth-child(5n) {
        //  margin-right: 0;
        //}
      }

      @media (max-width: 1200px) and (min-width: 999px) {
        width: calc((100% - 30px) / 4);
        //
        //&:nth-child(4n) {
        //  margin-right: 0;
        //}
      }

      @media (max-width: 998px) and (min-width: 481px) {
        width: calc((100% - 20px) / 3);
        //
        //&:nth-child(3n) {
        //  margin-right: 0;
        //}
      }

      @media (max-width: 480px) {
        width: calc((100% - 10px) / 2);
        //
        //&:nth-child(2n) {
        //  margin-right: 0;
        //}
      }
    }
  }

  &__listItems {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    //margin-right: 10px;

    .Checklist__itemsAvatar {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid @white-gainsboro;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      background-color: @white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.5s;

      @media (min-width: 1201px) {
        height: calc((100vw - 40px) / 5);
      }

      @media (max-width: 1200px) and (min-width: 999px) {
        height: calc((100vw - 30px) / 4);
      }

      @media (max-width: 998px) and (min-width: 481px) {
        height: calc((100vw - 20px) / 3);
      }

      @media (max-width: 480px) {
        height: calc((100vw - 10px) / 2);
      }

      &:hover {
        -webkit-box-shadow: inset -11px 11px 24px -14px var(--website-hover-color);
        -moz-box-shadow: inset -11px 11px 24px -14px var(--website-hover-color);
        box-shadow: inset -11px 11px 24px -14px var(--website-hover-color);
      }
    }

    .Checklist__itemsAvatarImg {
      width: 100%;
      display: contents;
    }

    .anticon.anticon-shopping {
      font-size: 60px;
      color: @silver-gray;
    }

    .items-count {
      margin-left: 5px;
      font-weight: 600;
    }

    span {
      font-weight: 500;
      display: inline-block;
      color: var(--website-text-color);
    }
  }

  &__empty {
    text-align: center;
    padding: 20px 0;
    color: var(--website-color);
    border: 1px solid var(--website-color);
    border-radius: 4px;
    font-size: 18px;
  }
}
