.ManageWebsites {
  &__title {
    padding: 0 0 10px;

    .ant-btn.ant-btn-primary {
      height: 25px;
      margin-left: 10px;
    }
  }

  &__dot {
    margin: 0 30px;
  }

  &__createWebsite {
    margin-top: 20px;
  }

  p {
    margin: 10px 0 0;
  }
}
