.ManageWebsites {
  &__title {
    padding: 0 0 10px;

    .ant-btn.ant-btn-primary {
      height: 25px;
      margin-left: 10px;
    }
  }

  &__button {
    width: 190px;
    height: 40px;
    display: flex;
    margin: 30px 0 15px 0;
    justify-content: center;
    align-items: center;

    border-radius: 4px !important;
    border: 1px solid #e9e7e7;
    background: #f2f2f2;
    color: #f87707;
    outline: 0;
    cursor: pointer;

    &:hover {
      border-color: #f2f2f2;
      background-color: #fff;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__dot {
    margin: 0 30px;
  }

  &__createWebsite {
    margin-top: 20px;
  }

  p {
    margin: 10px 0 0;
  }
}
