.AffiliatLink {
  text-align: center;
  display: block;
  background: rgb(255, 255, 255);
  border-radius: 4px;

  &__icon {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
    }
  }
}
