.AffiliatLink {
  text-align: center;
  display: block;
  background: rgb(255, 255, 255);
  border-radius: 4px;

  &__image {
    width: 95px;
    height: 35px;
    object-fit: contain;
    padding: 0 6px;
  }

  &__icon {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 0;
    }
  }

  &__icon-amazon {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 0 5px 0;
    }
  }
}
