@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

@height-row-info: 60px;
@height-row-slider: 26px;
@padding: 5px;
.editor-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @white;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  margin-top: 5px;
  padding: @padding;

  &.validation-error {
    border: 1px solid @red;
    box-shadow: 0 0 3px @orange, 0 0 5px @red;
  }

  @media @medium {
    &:hover .editor-object__controls > .editor-object__control-item.delete {
      visibility: visible;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: @height-row-info + @height-row-slider;
    width: 100%;
    outline: none;
    &.row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: @height-row-info;
      width: 100%;
    }
    &.row.slider {
      height: @height-row-slider;
      .ant-slider {
        width: 100%;
      }
      .label {
        color: rgba(0, 0, 0, 0.45);
        width: @height-row-info + 2 * @padding;
        text-align: center;
      }
    }
  }

  &__avatar {
    height: @height-row-info;
    width: @height-row-info;
    border-radius: 30%;
    margin-right: @padding;
  }

  &__info {
    display: flex;
    flex-direction: column;
    &.name {
      font-weight: 500;
    }
    &.description {
      max-height: @height-row-info / 2 + 5;
      line-height: 1.1;
      overflow: hidden;
    }
  }

  .editor-object__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: @height-row-info + @height-row-slider;
    padding-right: @padding;

    .editor-object__control-item {
      font-size: 18px;
      font-weight: 500;

      &.create {
        color: @green;
      }
      &.delete {
        color: @red;
      }
      & > .item-text {
        display: none;
      }
      & > .item-icon {
        font-size: 30px;
      }
    }
  }

  @media @medium {
    .editor-object__controls {
      align-items: stretch;
      min-width: 90px;

      .editor-object__control-item {
        display: flex;
        align-items: center;
        font-weight: 500;
        &.create {
          color: @green-darker;
          &:hover {
            cursor: pointer;
            color: @green;
          }
        }
        &.delete {
          visibility: hidden;
          color: @red;
          &:hover {
            cursor: pointer;
            color: @orange-light;
          }
        }
        & > .item-icon {
          font-size: 22px;
          padding-right: 2px;
        }
        & > .item-text {
          display: inline;
        }
      }
    }
  }
}

.editor-object__validation-msg {
  color: @red-danger;
}
