@import (reference) '../../styles/custom.less';

.editor-object {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;

  &__avatar {
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
  }

  &__names {
  }
}
