@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.obj-search-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .obj-search-option__avatar {
    width: 40px;
    height: 40px;
    border-radius: 25%;
  }

  .obj-search-option__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .obj-search-option__text {
      padding-left: 5px;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.first {
    justify-content: flex-end !important;

    .obj-search-option__label {
      //color: @orange-hot;
      cursor: pointer;
    }
    &:hover {
      font-weight: 500;
    }
  }
}
