@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.obj-search-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.obj-search-option.item {
  border-bottom: 1px solid @white-gainsboro;
  padding: 10px 14px;
}

@import 'SearchObjectsAutocomplete-nightmode';
