@import (reference) '../../styles/custom.less';

.InterestingObjects__more {
  a {
    color: @blue-botticelli !important;

    &:hover {
      span {
        color: var(--website-hover-color);
      }
    }
  }

  margin-top: 15px;
  font-weight: 500;
}
