@import (reference) '../../styles/custom.less';

.InterestingObjects__title {
  color: #99aab5;
  font-size: 18px;
  font-weight: 500;
}

.InterestingObjects__more > a {
  color: #99aab5;
  font-weight: 500;
}
