@import (reference) '../../styles/custom.less';

.InterestingObjects__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InterestingObjects__title {
  color: #99aab5;
  font-size: 18px;
  font-weight: 500;
}

.InterestingObjects__more > a {
  margin-top: 15px;
  color: #99aab5;
  font-weight: 500;
}
