@import (reference) '../../styles/custom.less';

.ObjectExpertise__more {
  padding-top: 14px;

  & > a {
    color: @blue-botticelli;
    font-weight: 500;
  }

  .UserCard {
    align-items: center;
  }
}
