@import (reference) '../../styles/custom.less';

.ObjectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: @base-border;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & > a:nth-child(2) {
      margin-left: 8px;
    }
    .username {
      margin-left: 8px;
    }
    .ant-tag {
      margin-right: 0;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__follow {
    margin-left: 8px;
  }
}

div[data-dir='rtl'] .Object__follow {
  margin-left: 0;
  margin-right: auto;
}

.ObjectCard__name {
  margin-left: 8px;
  margin-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
}
.ObjectCard__name-short {
  max-width: 80px;
}
div[data-dir='rtl'] .ObjectCard__name {
  margin-left: 0;
  margin-right: 8px;
}

.ObjectCard__about {
  font-size: 15px;
  color: #9d9d9d;
}

.ObjectCard__divider {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background-color: #e9e7e7;
}

@import 'ObjectCard-nightmode';
