@import (reference) '../../styles/custom.less';

.ObjectExpertise {
  &__buttons-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 14px;

    &-all {
      & > a {
        color: @blue-botticelli;
        font-weight: 500;
      }
    }

    &-more {
      color: @blue-botticelli;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        color: @orange-neonCarrot;
      }
    }
  }

  .UserCard {
    align-items: center;
  }
}

.ObjectExpertise__dots {
  text-align: center;
}
