@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.ObjectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;

  &:first-child {
    padding-top: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > a:nth-child(2) {
      margin-left: 8px;
    }

    .ant-tag {
      margin-right: 0;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__follow {
    margin-left: 8px;
  }
}

.ObjectCard__name {
  margin-left: 8px;
  margin-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 125px;
  color: @black;
  font-weight: 500;

  &:hover {
    color: @black;
  }
}

.ObjectCard__name-short {
  width: calc(100% - 20px);
}

div[data-dir='rtl'] .ObjectCard__name {
  margin-left: 0;
  margin-right: 8px;
}

@import 'ObjectCard-nightmode';
