@import (reference) '../../styles/custom.less';

.ObjectWeightBlock {
  padding-bottom: 0;

  .title {
    padding: 10px 16px;
  }

  &__icon {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: -2px;
  }

  &__more {
    padding-top: 14px;
    padding-bottom: 14px;

    & > a {
      color: @blue-botticelli;
      font-weight: 500;
    }
  }
}
