@import (reference) '../../styles/custom.less';

.SidebarBlock {
  padding: 30px 40px;
  border-radius: @border-radius-base;
  text-align: center;
  color: @white;
  background-color: @primary-color;
  margin-bottom: 1em;
}

.SidebarBlock__title {
  font-size: 18px;
  margin-bottom: 26px;
  color: @white;
  font-weight: 500;
}
