@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins';

.SidebarContentBlock {
  .content-block();
  margin-bottom: 10px;
  padding-bottom: 16px;
  &.mobileBlock {
    border-color: @normal-grey !important;
  }

  &__title {
    .content-block-title();
    margin-bottom: 12px;

    @media @small {
      border-top-right-radius: @border-radius-base;
      border-top-left-radius: @border-radius-base;
    }

    &.mobileTitle {
      color: @white-smoke !important;
      font-size: 18px;
      font-weight: 600;
      border: none !important;
      text-transform: none;
      background: none !important;
      padding: 0;
      min-height: 0;
      margin: 0 0 0.7rem;
    }
  }

  &__content {
    padding: 0 16px;
    &.mobileContent {
      color: @white-smoke;
      background-color: @grey-nero;
      .st-card {
        padding-bottom: 5px;
        border-color: @normal-grey !important;
      }
      .st-instrument-name {
        color: @white-smoke;
      }
      .st-card__content {
        border-color: @normal-grey !important;
      }
    }
    .collapsible-block {
      &__title {
        display: flex;
        align-items: center;

        &.active {
          background: white;
          border: @border-width-base @border-style-base @border-color-base !important;
          border-radius: @border-radius-base;

          & > .collapsible-block__title-text {
            color: @blue-dodgerBlue;
          }
        }

        span {
          display: block;
          color: @blue-baliHai;
          font-weight: 500;
          line-height: 2.3em;
          transition: 0.5s;
          border: @border-width-base @border-style-base transparent;

          &::first-letter {
            text-transform: uppercase;
          }

          &.collapsible-block__title-icon {
            color: @blue-botticelli;
            margin-left: auto;

            &.hidden {
              visibility: hidden;
            }

            .iconfont {
              font-size: 22px !important;
            }
          }

          &:hover {
            color: rgba(0, 0, 0, 0.75);
          }
        }
      }

      &__content {
        color: @grey-mortar;
        font-weight: 500;
      }

      &__item {
        padding: 3px 0;

        > input {
          margin-right: 10px;
        }

        .ant-checkbox-wrapper {
          font-size: 5px;
        }

        &__label {
          font-size: 16px;
        }
      }

      &__divider {
        width: 100%;
        height: 1px;
        margin: 12px 0;
        background-color: @white-gainsboro;
      }
    }
  }

  &__icon {
    color: @blue-baliHai;
    font-size: 22px !important;
    margin-right: 5px;
    vertical-align: -2px;
  }

  &__divider {
    background-color: @white-gainsboro;
    height: 1px;
    margin: 12px 0;
    width: 100%;

    &:last-of-type {
      display: none;
    }
  }

  &__more {
    cursor: pointer;
    color: @blue-botticelli;
    font-weight: 500;
  }
}

div[data-dir='rtl'] .SidebarContentBlock {
  &__icon {
    margin-right: 0px;
    margin-left: 5px;
  }
}

div[data-dir='rtl'] .collapsible-block {
  text-align: right;

  &__title {
    &__icon {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

@import 'SidebarContentBlock-nightmode';
