@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins';

.SidebarContentBlock {
  .content-block();
  margin-bottom: 10px;
  padding-bottom: 16px;

  &__title {
    .content-block-title();
    margin-bottom: 12px;

    @media @small {
      border-top-right-radius: @border-radius-base;
      border-top-left-radius: @border-radius-base;
    }
  }

  &__content {
    padding: 0 16px;

    .collapsible-block {
      &__title {
        &.active > .collapsible-block__title-text {
          background: white;
          border: @border-width-base @border-style-base @border-color-base !important;
          border-radius: @border-radius-base;
          color: @blue-dodgerBlue;
        }
        span {
          margin-bottom: -16px;
          display: block;
          padding: 0 10px !important;
          color: @blue-baliHai;
          font-weight: 500;
          line-height: 2.3em;
          transition: 0.5s;
          border: @border-width-base @border-style-base transparent;

          &::first-letter {
            text-transform: uppercase;
          }
          &.collapsible-block__title-icon {
            color: @blue-botticelli;
            margin-left: auto;
            &.hidden {
              visibility: hidden;
            }
            .iconfont {
              font-size: 22px !important;
            }
          }
          &:hover {
            color: rgba(0, 0, 0, 0.75);
          }
        }
      }

      &__content {
        color: @grey-mortar;
        font-weight: 500;
      }

      &__item {
        padding: 3px 0;

        > input {
          margin-right: 10px;
        }

        .ant-checkbox-wrapper {
          font-size: 5px;
        }

        &__label {
          font-size: 16px;
        }
      }

      &__divider {
        width: 100%;
        height: 1px;
        margin: 12px 0;
        background-color: @white-gainsboro;
      }
    }
  }

  &__icon {
    color: @blue-baliHai;
    font-size: 22px !important;
    margin-right: 5px;
    vertical-align: -2px;
  }

  &__divider {
    background-color: @white-gainsboro;
    height: 1px;
    margin: 12px 0;
    width: 100%;

    &:last-of-type {
      display: none;
    }
  }

  &__more {
    cursor: pointer;
    color: @blue-botticelli;
    font-weight: 500;
  }
}

div[data-dir='rtl'] .SidebarContentBlock {
  &__icon {
    margin-right: 0px;
    margin-left: 5px;
  }
}

div[data-dir='rtl'] .collapsible-block {
  text-align: right;
  &__title {
    &__icon {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

@import 'SidebarContentBlock-nightmode';
