@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.ExpertCard {
  font-size: 18px;
  padding: 35px 10px 10px;
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  margin-right: 10px;
  @media @small {
    width: calc((100% - 30px) / 3);
  }
}
