@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
.FeedMasonry__edit-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

.FeedMasonry {
  &__item-with-pin {
    margin-top: -40px;
    position: relative;
    .pin-outlined,
    .pin-grey,
    .pin-website-color {
      cursor: pointer;
      left: 82%;
      bottom: -11px;
      display: flex;
      position: relative;
      @media @small {
        left: 84%;
      }
      @media @large {
        left: 90%;
      }
    }
    .pin-outlined > span > svg {
      width: 42px;
      height: 42px;
      bottom: -10px;
    }
    .pin-website-color > span > svg {
      width: 42px;
      height: 42px;
      bottom: -10px;

      path {
        stroke-width: 0;
        fill: var(--website-color);
      }
    }

    .pin-grey > span > svg {
      width: 42px;
      height: 42px;
      bottom: -10px;

      path {
        fill: @blue-botticelli;
      }
    }
  }
  &__item {
    max-width: 400px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    @media @small {
      max-width: 300px;
      margin: 0 0 20px;
    }
  }

  &__emptyFeed {
    text-align: center;
    padding: 20px 0;
    color: var(--website-color);
    border: 1px solid var(--website-color);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
  }

  &__img {
    display: inline-block;
    width: 100%;
    cursor: pointer;

    &--bottom {
      border-bottom: none;
      border-radius: 0;
    }

    &--top {
      border-radius: 16px 16px 0 0;
    }

    &--only {
      border-bottom: none;
      border-radius: 16px 16px 0 0;
    }
  }

  &__imgWrap {
    border-radius: 16px;
    margin-bottom: 5px;
  }

  &__title {
    margin: 5px 0;
    color: #575858;

    &:hover {
      color: #575858;
    }
  }

  &__title,
  &__authorInfo {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }

  &__authorInfo {
    display: flex;
    align-items: center;
    color: #000000a6;

    &:hover {
      color: #000000a6;
    }

    .Avatar {
      margin-right: 5px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
    color: #99aab5;

    &:hover {
      color: #99aab5;
    }

    &--cursor {
      cursor: pointer;
    }

    &--reblog {
      display: none;

      @media @small {
        display: flex;
      }
    }

    i {
      margin-right: 2px;
    }

    span {
      margin-top: 1px;
    }

    @media @small {
      font-size: 16px;
    }
  }

  .USDDisplay {
    font-size: 14px;
    white-space: nowrap;

    @media @small {
      font-size: 16px;
    }
  }

  .iconfont {
    font-size: 17px;

    @media @small {
      font-size: 20px;
    }

    &--withMyLike {
      color: var(--website-color);
    }
  }

  .Payout__waiv-eligible {
    width: 20px;
    height: 20px;
    margin-left: 5px;

    @media @small {
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }

  &__postInfo {
    padding: 0 5px;
  }

  &__titleWrap {
    position: relative;
  }

  &__videoContainer {
    .PostFeedEmbed__preview,
    .PostFeedEmbed,
    .PostFeedEmbed__container iframe {
      border-radius: 16px 16px 0 0;
      background-color: transparent;
    }

    &--withImage {
      .PostFeedEmbed__preview,
      .PostFeedEmbed,
      .PostFeedEmbed__container iframe {
        border-radius: 16px 16px 0 0;
        background-color: transparent;
        margin: 0;
      }
    }

    &--tiktok {
      img.PostFeedEmbed__preview,
      .PostFeedEmbed,
      .PostFeedEmbed__container {
        height: 305px;
        padding-bottom: 0;
        min-height: 305px;
        object-fit: cover;
        max-height: 575px;

        @media @small {
          height: 460px;
          max-height: inherit;
        }
      }

      .PostFeedEmbed__preview,
      .PostFeedEmbed,
      .PostFeedEmbed__container iframe {
        height: 305px;
        min-height: 305px;
        max-height: 575px;

        @media @small {
          height: 460px;
          max-height: inherit;
        }
      }
    }

    .PostFeedEmbed img.PostFeedEmbed__preview--thinFeedMas {
      height: 320px;

      @media @small {
        height: 440px;
      }
    }

    .PostFeedEmbed__container--shotsSocial {
      height: 440px;
    }
    .PostFeedEmbed__container.PostFeedEmbed__container_instagram {
      height: 330px;
    }

    .PostFeedEmbed__container.PostFeedEmbed__container_instagram,
    .PostFeedEmbed__container.PostFeedEmbed__container_instagram-reel {
      padding-bottom: 140%;
      left: 0;

      iframe {
        height: 360px;

        .Header,
        .PrimaryCTA {
          display: none;
        }
      }
    }

    .PostFeedEmbed__container.PostFeedEmbed__container_instagram-reel.PostFeedEmbed__container_instagram {
      padding-bottom: 140%;
      left: 0;

      iframe {
        height: 360px;
      }
    }
  }

  .Payout {
    position: static;
  }

  &__likeWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: #99aab5;
    flex-wrap: wrap;

    .Payout__waiv-eligible {
      display: none;
    }

    .iconfont.icon-flashlight {
      display: none;
    }
  }

  &__postWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #99aab5;
  }

  .PostFeedEmbed__playButton .iconfont {
    font-size: 3em;
  }

  .PostFeedEmbed {
    margin: 0;
  }
}

.my-masonry-grid {
  display: flex;
  padding: 5px;
  width: auto;

  @media @small {
    padding: 20px;
  }
}

.my-masonry-grid_column {
  padding-right: 5px;
  background-clip: padding-box;
  max-width: 500px;

  @media @small {
    max-width: 300px;
  }

  &:last-child {
    padding-right: 0;
  }

  @media @small {
    padding-right: 10px;
  }
}

.PinContainer {
  &.ant-tooltip.ant-tooltip-placement-topLeft {
    padding-bottom: 0 !important;
  }

  & .ant-tooltip-inner {
    color: @black-text-basic;
    background: @white;
  }

  & .ant-tooltip-arrow::before {
    background: transparent;
  }
}

.FeedContainer {
  @media @large-x {
    display: flex;
    justify-content: center;
  }
}
