@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.dnd-list-container {
  width: 100%;
}

.dnd-list-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dnd-list {
  padding: 5px;
  width: 100%;

  &__item {
    margin-bottom: 5px;

    & > div {
      //border: none;
      margin: 0;

      &:hover {
        cursor: row-resize;
      }
    }
  }
}
