@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.object-sidebar {
  @media @small {
    padding-bottom: 50px;
  }

  &__section-title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__menu-item {
    .menu-btn {
      height: 35px;
      margin-bottom: 5px;

      &.field-button {
        width: 100%;
        overflow: hidden;
        color: @white-gainsboro;
        background-color: @primary-color;
        border-color: @primary-color;

        &:hover {
          background-color: @secondary-color;
          color: @white;
        }
      }
    }
  }
}

.field-info {
  padding-bottom: @content-margin;
  word-wrap: break-word;
  word-break: break-word;
  &__nopadding {
    padding-bottom: 0;
  }

  &__more {
    cursor: pointer;
    font-size: 13px;
  }

  &__more:hover {
    color: @neon-carrot;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    padding: 0;
  }

  .tag-item {
    padding-left: 28px;
  }

  .proposition-line {
    display: flex;
    align-items: center;
    margin-right: 4px;

    &__text {
      margin-left: 3px;
      color: @blue-botticelli;
      font-size: 16px;
      font-weight: 500;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__icon {
      font-size: 23px;
    }

    .icon-button__text {
      a {
        color: @blue-botticelli;
        font-size: 16px;
        font-weight: 500;
      }

      border-bottom: 2px solid transparent;

      &:hover {
        a,
        span {
          color: @primary-color;
        }

        border-bottom: 2px solid @primary-color;
      }

      &.field-selected {
        a,
        span {
          color: @primary-color;
        }

        border-bottom: 2px solid @primary-color;
      }
    }
  }

  .ant-tag {
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //.phone {
  //  padding-left: 28px;
  //  margin-top: -10px;
  //}

  //.email {
  //  padding-left: 28px;
  //}

  .address-field-view,
  .address-field-edit {
    .address-link {
      vertical-align: middle;
    }
  }

  .phone-number {
    display: block;
  }

  .name-field-view,
  .address-field-view {
    display: flex;
    flex-direction: row;

    .field-icon {
      font-weight: 600;
      text-align: center;
      height: 12px;
      width: 12px;
      line-height: 10px;
      font-size: 10px;
      border: @border-width-base @border-style-base @normal-grey;
      border-radius: 50%;
      margin: 7px 5px 0 0;
      min-width: 12px;
      min-height: 12px;
    }

    .price-value {
      white-space: normal;
    }
  }
}

.price-field-view {
  display: block;
  flex-direction: row;

  .field-icon {
    font-weight: 600;
    text-align: center;
    height: 12px;
    width: 12px;
    line-height: 10px;
    font-size: 10px;
    border: @border-width-base @border-style-base @normal-grey;
    border-radius: 50%;
    margin: 7px 5px 0 0;
    min-width: 12px;
    min-height: 12px;
  }

  .price-value {
    white-space: normal;
  }
}

.field-info__title {
  color: @blue-botticelli;
  font-weight: 500;
  display: flex;
}

.field-website {
  display: flex;
  flex-direction: column;
}

.field-avatar,
.field-background {
  max-height: 180px;
  max-width: 180px;
  overflow: hidden;

  img {
    max-width: 180px;
  }
}

.field-status__title {
  text-transform: capitalize;
}

.field-work-time {
  white-space: pre-wrap;
}

.ant-tag {
  cursor: default !important;
}

.hashtag.text-icon {
  font-weight: 400;
  margin-right: 10px;
}

.text-icon.text-icon--time {
  font-size: 11px !important;
  margin-right: 5px;
}

.text-icon.link {
  font-size: 13px !important;
  margin-right: 5px;
}

.text-icon.email {
  font-size: 13px !important;
  margin-right: 3px;
}

.text-icon.tel {
  font-size: 12px !important;
  margin-right: 5px;
}

.text-icon.coordinates {
  font-size: 11px !important;
  margin-right: 5px;
}

.UserInfo {
  font-size: 15px;

  &__list {
    div {
      white-space: nowrap;
    }
  }

  .text-icon.medium {
    font-size: 11px !important;
    margin-right: 9px;
  }

  .text-icon.link {
    font-size: 13px !important;
    margin-right: 8px;
  }
}

.show-more {
  display: block;
  transition: 0.3s;

  &:hover {
    color: @orange-hot;
    cursor: pointer;
  }
}

.ObjectInfo {
  &__margin-top {
    margin-top: -7px;
  }

  &__option-button {
    background: none;
    border: 1px solid @white-gainsboro;
    min-width: 85px;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 4px;
    &:hover {
      cursor: pointer;
      border-color: @orange;
      color: @orange;
    }
    &:active {
      border-color: @orange-hot;
      color: @orange-hot;
    }
  }
}

.publisher-paddingBottom {
  padding-bottom: 12px;
}

@import './ObjectInfo-nightmode';
