@import (reference) '../../styles/custom.less';

.field-info {
  padding-bottom: 12px;

  &:last-child {
    padding: 0;
  }

  .tag-item {
    padding-left: 28px;
  }

  .proposition-line {
    display: flex;
    align-items: center;
    margin-right: 4px;
    &__text {
      margin-left: 3px;
      color: @blue-botticelli;
      font-size: 16px;
      font-weight: 500;
    }
    a {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__icon {
      font-size: 23px;
    }
    .icon-button__text {
      a {
        color: @blue-botticelli;
        font-size: 16px;
        font-weight: 500;
      }
      border-bottom: 2px solid transparent;
      &:hover {
        a,
        span {
          color: @primary-color;
        }
        border-bottom: 2px solid @primary-color;
      }
      &.field-selected {
        a,
        span {
          color: @primary-color;
        }
        border-bottom: 2px solid @primary-color;
      }
    }
  }

  .ant-tag {
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .phone {
    padding-left: 28px;
    margin: -10px;
  }
}

.field-info__title {
  color: @blue-botticelli;
  font-weight: 500;
  display: flex;
}

.field-website {
  display: flex;
  flex-direction: column;
}

.field-avatar {
  img {
    max-width: 178px;
  }
}

.field-background {
  img {
    max-width: 178px;
  }
  margin-bottom: 50px;
}

.ant-tag {
  cursor: default !important;
}

.object-sidebar__section-title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
