@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .object-sidebar {
    &__menu-item {
      font-weight: 500;

      @media @medium, @large {
        a {
          &.active,
          &:hover {
            color: @primary-color;
          }
          color: @white-smoke;
        }
      }
    }
  }
}
