@import (reference) '../../styles/custom.less';

.SidebarContentBlock.top-instruments {
  padding: 0;

  .SidebarContentBlock__title {
    margin: 0;
  }

  .SidebarContentBlock__content {
    padding: 0;

    .st-card {
      padding: 2px 10px;
      margin: 0;
      border: none;
      border-bottom: @base-border;
      border-radius: 0;
      box-shadow: none;

      &:last-child {
        border-bottom: none;
      }

      .st-card__header {
        padding-top: 5px;
        .st-instrument-info-wrap {
          width: 95px;
          text-align: center;
        }
      }

      .st-card__daily-change-signal-info {
        justify-content: flex-end;
      }
    }
  }
}
