@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/mixins';

.UserAccuracyContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: @white;
  border: 1px solid @white-gainsboro;
  border-radius: @border-radius-base;
  margin-bottom: 0.5rem;

  &__title {
    .content-block-title(center);
  }

  &__period {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: default;

    &-item {
      width: 25%;
      &-value {
        text-align: center;
        padding: 0 0 0.3rem 0;
        font-weight: bold;
      }
    }
  }
}

.UserAccuracyContainer__period-item.border {
  border-left: 1px solid @white-gainsboro;
}

@import 'UserAccuracyContainer-nightmode';
