@import (reference) '../../../styles/custom.less';

.nightmode {
  .UserAccuracyContainer {
    border: 1px solid @normal-grey;
    background-color: @grey-nero;

    &__title {
      border-bottom: 1px @border-style-base @normal-grey;
    }
  }

  .UserAccuracyContainer__period-item.border {
    border-left: 1px solid @normal-grey;
  }
}
