@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Deposit {
  &__wrapper {
    .ant-btn {
      background: @grey-nero;
      color: @white-smoke;

      &:hover {
        color: @orange;
        border-color: @orange;
      }

      &-primary {
        color: @white-smoke;
        background: @orange-hot;

        &:hover {
          color: @white-smoke;
          background: @orange;
        }
      }
      &:disabled {
        color: @normal-grey;
        border-color: @normal-grey;
        background: @grey-nero;
      }
    }
  }
}
