@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.nightmode {
  .errorBoundary {
    background-color: @grey-nero;
  }

  .ViewMapButton {
    background-color: transparent;
    color: @white;
    border: 1px solid @normal-grey;
  }
  .SelectUserForAutocomplete {
    background: @grey-nero;
    border: 1px solid @normal-grey;
  }
}
