@import (reference) '../styles/custom.less';

.modal-row {
  padding: 10px 0;
}

.email-change {
  font-size: 19px;
}

.errorBoundary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: @primary-color;
  flex-direction: column;

  &__mainText {
    font-size: 30px;
    font-weight: 700;
  }
  &__secondaryText {
    font-size: 22px;
    font-weight: 400;
  }
}
