@import (reference) '../styles/custom.less';

.modal-row {
  padding: 10px 0;
}

.email-change {
  font-size: 19px;
}

.errorBoundary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: @primary-color;
  font-weight: 500;
}
