@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .map-wrap {
    &__header {
      background-color: @grey-nero;
      border: @border-width-base @border-style-base @normal-grey;
    }

    &__header-title {
      color: @blue-baliHai;
    }

    &__header-btn {
      border: @border-width-base @border-style-base @normal-grey;
      color: @blue-baliHai;

      &:hover,
      &.active {
        border-color: @primary-color;
        color: @primary-color;
      }
    }
  }
}
