@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

//region DiscoverObjectsContent
.discover-filters-modal.ant-modal {
  min-width: 100vw;
  .ant-modal-content {
    min-height: 100vh;
  }
  @media @small {
    position: absolute;
    left: 0;
    min-width: unset;
    max-width: 240px;
  }
}
//endregion

//region  SidenavDiscoverObjects
.sidenav-discover-objects {
  &__show-more {
    color: @black;
    text-transform: lowercase;
    text-decoration: underline;
    padding-left: 10px;
    &:hover {
      color: @primary-color;
      cursor: pointer;
    }
  }

  &__loading {
    padding-top: 10px;
    .ant-skeleton-content .ant-skeleton-paragraph > li {
      height: 22px;
      padding-top: 16px;
    }
  }
}
//endregion

@import 'DiscoverObjects-nightmode';
