@import (reference) '../../client/styles/custom.less';
@import (reference) '../../client/styles/modules/variables.less';

.SidenavDiscoverObjectsTopicLoading {
  position: relative;
  color: #353535;
  margin-top: 5px;
  padding: 15px;

  &__header {
    display: flex;

    .ant-card-loading-block {
      margin: 0 !important;
    }

    &__text {
      display: flex;
      justify-content: flex-end;
      margin: 3px 15px;

      p {
        width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: -4px;
  }
}
