{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-modules-commonjs"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "lodash",
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
