.editor-search-objects {
  z-index: 10;
  position: absolute;
  max-height: 241px;
  overflow-y: scroll;
  border: 1px solid @white-gainsboro;
  width: 100%;
  max-width: 500px;
  min-width: 250px;

  &__not-scroll {
    max-height: fit-content;
    overflow-y: initial;
  }
}

.editor-search-objects__empty {
  border: 0;
}

.fake-position-left {
  top: 0;
  left: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
}
@import './EditorSearchObjects-nightmode.less';
