@import (reference) '../../../../styles/custom.less';

.EditorSearchObjects {
  z-index: 10;
  position: absolute;

  .FakeLeftPosition {
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
  }
}
