@import (reference) '../../../../styles/custom.less';

.editor-search-objects {
  z-index: 10;
  position: absolute;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid @white-gainsboro;
}

.fake-position-left {
  top: 0;
  left: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
}
