@import (reference) '../../../../styles/custom.less';
@import (reference) '../../../../styles/modules/variables.less';

.SecondScreen {
  .ant-select-selection {
    &:hover {
      border-color: var(--website-color);
    }

    &:focus,
    &:active {
      border-color: var(--website-color);
      box-shadow: 0 0 4px 0 var(--website-color);
    }
  }
  &__textarea {
    height: 90px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #e9e7e7;
    padding: 5px;
  }

  &__text,
  .ImageSetter__label,
  .tags-selector__label {
    padding: 10px 0 5px;
    font-size: 1em;
    font-weight: 500;
    color: #5e5e5e;

    @media @small {
      padding: 20px 0 5px;
      font-size: 1em;
    }

    a {
      color: var(--website-color);
    }
  }
}
