@import (reference) '../../../styles/custom.less';

.bxy-sing-in-form {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }
  &__error-msg {
    color: @red-danger;
  }
  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .hide {
    display: none;
  }
}
