@import (reference) '../../styles/custom.less';

.nightmode {
  .SearchUser.item {
    border-bottom: 1px solid @normal-grey;
  }
  .ant-select-dropdown-menu {
    border: 1px solid @normal-grey;
    border-radius: 5px;
  }
}
