.Details {
  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
