.Payables {
  display: flex;
  top: 70px;
  flex-direction: column;
  min-width: 310px;
  padding-left: 5px;
  &__title {
    font-size: x-large;
    font-weight: 500;
    padding: 25px 0 25px;
  }
  &__total-title {
    font-size: large;
    font-weight: 500;
    padding-bottom: 20px;
  }
}
