@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.LanguageSettings {
  .ant-popover-inner-content {
    max-height: 100vh;
    @media @medium {
      max-height: 55vh;
    }
  }

  .PopoverMenu {
    position: unset;
  }

  &__option {
    height: 22px;

    &-selected {
      color: @primary-color;
    }
  }

  .Loading {
    display: inline-block;

    &__icon:before {
      font-size: 15px !important;
      vertical-align: middle;
    }
  }
}
