@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.LanguageSettings {
  &__option {
    height: 22px;

    &-selected {
      color: @primary-color;
    }
  }

  .Loading {
    display: inline-block;

    &__icon:before {
      font-size: 15px !important;
      vertical-align: middle;
    }
  }
}

.ant-popover.LanguageSettings {
  padding-top: 0;
  @media @medium {
    padding-top: 10px;
  }
}

.ant-popover.LanguageSettings > div > div > div > .ant-popover-inner-content {
  max-height: 100vh;
  @media @medium {
    max-height: 55vh;
  }
}

.ant-popover.LanguageSettings > div > div > div > .ant-popover-inner-content > div > .PopoverMenu {
  position: unset;
}
