@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

div > .NewsOverlay {
  &__popover-overlay {
    top: 0 !important;
    padding-top: 0;
    z-index: @ant-popover-notifications-z-index !important;
    position: fixed;

    .ant-popover-inner {
      background-color: #3a79ee;
      border: 1px solid @black;
      @media @small {
        border: 0;
        background-color: @white;
      }
    }

    .ant-popover-title {
      color: @white !important;
      border-bottom: 1px solid @black;
      @media @small {
        color: @blue-baliHai;
      }
    }
    @media @medium {
      padding-top: 15px;
      top: 46px !important;
    }
  }
}

@import 'NewsOverlay-nightmode';
