@import (reference) '../../styles/custom.less';

.Sidenav {
  min-width: 150px;

  &__messages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__notifications-count {
    display: flex;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: @primary-color;
    color: @white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  & > li {
    & > a {
      padding: 0 10px !important;
      display: block;
      color: #99aab5;
      font-weight: 500;
      line-height: 2.3em;
      border: @border-width-base @border-style-base transparent;

      &:hover {
        color: rgba(0, 0, 0, 0.65);
      }

      &:focus {
        text-decoration: none;
      }

      & > i {
        margin-right: 5px;
        vertical-align: -4px;
      }
    }
  }

  &__title {
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      font-weight: 800;
      text-transform: capitalize;
      cursor: pointer;
      color: @black;
    }

    &-icon {
      font-weight: 600;
      color: @blue-botticelli;
      margin-left: auto;
      cursor: pointer;
      .iconfont {
        font-size: 22px !important;
      }
    }
  }
}

div[data-dir='rtl'] .Sidenav {
  & > li {
    & > a {
      & > i {
        margin-left: 5px;
        margin-right: 0px;
      }
    }
  }
}

.Sidenav__item--active {
  background: white;
  border: @border-width-base @border-style-base @border-color-base !important;
  border-radius: @border-radius-base;
  color: rgba(0, 0, 0, 0.65) !important;

  & > i {
    color: @primary-color;
  }

  &.sidenav-discover-objects__item {
    color: @primary-color !important;
  }
}

@import 'Sidenav-nightmode';
