@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

@base-spacing: 0;

.nightmode {
  .Avatar {
    border: 1px solid #1972f5;

    @media @small {
      border: 1px solid #4f545c;
    }
  }

  .Topnav {
    background-color: @grey-nero;
    border-bottom: @border-width-base @border-style-base @normal-grey;

    &__hot-news-item {
      border-bottom: @border-width-base @border-style-base @normal-grey;
      color: @grey-darkGrey;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: @blue-vivid;
      }
    }

    &__input-container {
      .ant-select-selection {
        border: none !important;
      }

      .ant-select-search__field {
        background-color: @grey-nero !important;
      }

      input {
        color: @white-smoke;
        border: @border-width-base @border-style-base @normal-grey;

        &:hover,
        &:focus {
          border: @border-width-base @border-style-base @normal-grey !important;
        }
      }
    }

    &__menu-container {
      &__menu {
        & > li.ant-menu-item {
          & > a {
            &:hover {
              color: @white-smoke !important;
            }
          }
        }
      }
    }
  }

  .Topnav__search-dropdown-container {
    background: @grey-nero;
  }

  .Topnav__search-dropdown-container.ant-select-dropdown {
    .ant-select-dropdown-menu-item-group-title {
      color: @tertiary-color;
    }

    border-right: @border-width-base @border-style-base @normal-grey;
    border-left: @border-width-base @border-style-base @normal-grey;
    border-bottom: @border-width-base @border-style-base @normal-grey;
  }

  .Topnav__search-autocomplete.ant-select-dropdown-menu-item-active {
    &:hover {
      background-color: @blue-darkGrayish;
    }
  }

  .Topnav__search-autocomplete.ant-select-dropdown-menu-item {
    border-bottom: @border-width-base @border-style-base @normal-grey;
    color: @white-smoke;
  }

  .Topnav__search-all-results {
    background-color: @grey-nero;
  }

  .ant-select-dropdown-menu {
    .ant-select-dropdown-menu-item-group:first-child {
      .ant-select-dropdown-menu-item-active:hover {
        border-color: @normal-grey;
        background-color: @blue-darkGrayish;
      }
      li {
        border: 1px solid @normal-grey;
        background: @grey-nero;
      }
    }
  }
}
