@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

@base-spacing: 0;

.nightmode {
  .Topnav {
    background-color: @grey-nero;
    border-bottom: @border-width-base @border-style-base @normal-grey;

    &__input-container {
      .ant-select-selection {
        border: none !important;
      }
      .ant-select-search__field {
        background-color: @grey-nero!important;
      }
      input {
        color: @white-smoke;
        //border: @border-width-base @border-style-base @normal-grey;

        &:hover,
        &:focus {
          border: @border-width-base @border-style-base @normal-grey !important;
        }
      }
    }

    &__menu-container {
      &__menu {
        & > li.ant-menu-item {
          & > a {
            &:hover {
              color: @white-smoke !important;
            }
          }
        }
      }
    }
  }

  .Topnav__search-dropdown-container {
    background: @grey-nero;
  }

  .Topnav__search-dropdown-container.ant-select-dropdown {
    .ant-select-dropdown-menu-item-group-title {
      color: @tertiary-color;
    }
    border-right: @border-width-base @border-style-base @normal-grey;
    border-left: @border-width-base @border-style-base @normal-grey;
    border-bottom: @border-width-base @border-style-base @normal-grey;
  }

  .Topnav__search-autocomplete.ant-select-dropdown-menu-item-active {
    &:hover {
      background-color: #32373c;
    }
  }

  .Topnav__search-autocomplete.ant-select-dropdown-menu-item {
    border-bottom: @border-width-base @border-style-base @normal-grey;
    color: @white-smoke;
  }

  .Topnav__search-all-results {
    background-color: @grey-nero;
  }

  .ant-select-dropdown-menu :first-child > ul > li {
    border: 1px solid @normal-grey;
    background: @grey-nero;
  }

  .ant-select-dropdown-menu :first-child > ul > .ant-select-dropdown-menu-item-active {
    &:hover {
      border-color: @normal-grey;
      background-color: #32373c;
    }
  }

  /*.ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover {
    border-right-width: 5px;
  }*/
}
