@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.TopNavigation {
  height: 46px;
  border-top: solid 1px #e9e7e7;
  border-bottom: solid 1px #e9e7e7;
  background-color: @white;

  &__menu {
    height: 46px;
    line-height: 46px;
    white-space: nowrap;

    @media @medium {
      margin-left: @right-width + @margin*2;
    }
  }

  &__link {
    height: 45px;
    cursor: pointer;
    color: @blue-botticelli;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 45px;
    white-space: nowrap;

    &--active,
    &:hover {
      color: @primary-color;
      border-bottom: 2px @border-style-base @primary-color;
    }
  }

  &__item {
    display: inline-block;
    height: 45px;
    margin-right: 12px;
    cursor: pointer;
    color: #99aab5;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__item {
    @media @small {
      transform: translateX(-(@right-width / 2));
    }

    @media @medium, @large {
      transform: translateX((@left-width - @right-width) / 2);
    }
  }
}

@import './TopNavigation-nightmode';
