@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.TopNavigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  line-height: normal;
  height: 46px;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
  overflow: hidden;
  &__link {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: @blue-botticelli;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    &--active,
    &:hover {
      color: @primary-color;
      border-bottom: 2px @border-style-base @primary-color;
    }
  }
  &__item {
    height: 23px;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

@import './TopNavigation-nightmode';
