@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.TopNavigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 35px;
  height: auto;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  border-bottom: @base-border;
  padding-bottom: 10px;
  overflow: hidden;

  &__link {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: @blue-botticelli;
    font-size: 15px;

    @media @xsmall and (max-width: 830px) {
      font-size: 13px;
    }

    &--active,
    &:hover {
      color: @blue-vivid;
      border-bottom: 2px @border-style-base @blue-vivid;
    }
  }

  &__item {
    height: 30px;

    @media @small, @medium, @large {
      height: 45px;
      padding-top: 10px;
      font-weight: bold;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  @media @small, @medium, @large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: normal;
    height: 46px;
    border: none;
    text-transform: uppercase;
    padding: 0;
  }
}

@import './TopNavigation-nightmode';
