@import (reference) '../../Common.less';

.modalOpenDealStyle (){
  .modal-content {
    background-color: @color-white;
    .modal-header {
      background-color: #16254c;
      color: @color-white;
      height: 40px;
      .close {
        outline: none;
        cursor: pointer;
        color: @color-white;
      }
    }
    .modal-body {
      padding: 15px;
    }
  }
  .modal-title{
    .textStyle(@font-size-medium, @color-white, bold);
  }
  .modal-text{
    text-align: center;
    .textStyle(@font-size-large, @color-black-blue, bold);
    display: flex;
    justify-content: center;
  }
  .st-modals-value-amount{
    .textStyle(@font-size-small, @color-black-blue, normal);
    align-self: center;
    margin-top: 9px;
  }
  .toggle {
    display: table;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 1rem;
  }

  .toggle input:focus + div { text-decoration: underline; }

  .toggle > div {
    cursor: pointer;
    border-radius: 2rem;
    width: 39px;
    height: 18px;
    background: @color-blue;
    border: 2px solid @color-blue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
    font-size: 0;
  }
  .st-modal-input {
    .fieldStyle (35px, 50%, @margin-middle, @font-size-medium, @color-black-blue);
  }
  .st-modal-checkbox-wrap{
    line-height: 0;
  }
  .toggle > div:hover { box-shadow: 0 0 5px @color-blue; }

  .toggle > div:before {
    will-change: translate;
    display: block;
    position: absolute;
    top: calc(50% - .5rem);
    left: .07rem;
    content: '';
    width: 1rem;
    height: 1rem;
    background: @color-white;
    border-radius: 50%;
    -webkit-transition: 200ms;
    transition: 200ms;
  }

  .toggle > div:after {
    font-size: 1rem;
    position: absolute;
    right: 5px;
    color: @color-white;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: attr(data-off);
    pointer-events: none;
  }

  .toggle input:checked + div {
    background: @color-blue;
    border-color: @color-blue;
  }

  .toggle input:checked + div:before {
    color: @color-blue;
    -webkit-transform: translateX(calc(1*100% + 5px));
    transform: translateX(calc(1*100% + 5px));
    background: @color-white;
  }

  .toggle input:checked + div:after {
    content: attr(data-on);
    right: 20px;
  }

  input:focus + div:after { text-decoration: underline; }
}


.st-modals-title {
  .textStyle(@font-size-small, @color-darkest-gray, normal);
  align-self: center;
}
.st-modals-value {
  .textStyle(@font-size-small, @color-black-blue, normal);
  align-self: center;
}
.st-modals-header-value {
  .textStyle(@font-size-small, @color-black-blue, bold);
  align-self: center;
  text-align: right;
}
.st-modals-price {
  .textStyle(@font-size-small, @color-black-blue, bold);
  align-self: center;
  display: flex;
  justify-content: flex-end;
}


