@import (reference) '../../styles/custom.less';
@import (reference) '../../components/Story/StoryFull';

.nightmode {
  .waiv-editor {
    border: 1px solid @normal-grey;
    background-color: #191e23;
  }

  .md-RichEditor-title {
    background-color: #191e23;
    color: @white-smoke;
    caret-color: @white-smoke;
  }

  //textarea.ant-input {
  //  background-color: #191e23;
  //  border: none !important;
  //}
}
