@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .Editor__label {
    color: #f2f2f2;
  }

  .public-DraftEditor-content {
    background: #24292e;
    border: 1px solid #4f545c;
  }

  .md-block span {
    color: #f2f2f2;
  }

  .StoryFull__title + div.md-block:only-of-type {
    color: #f2f2f2;
  }
}
