@import (reference) '../../styles/custom.less';
@import (reference) '../../components/Story/StoryFull';

.md-RichEditor-root {
  box-sizing: border-box;
  position: relative;
  line-height: 1.4em;

  .ant-form-item-label {
    line-height: 20px !important;
  }

  .ant-form-item {
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 25px;
    }
  }

  .ant-form-item-label {
    padding: 0;
  }

  .Editor__label {
    color: #000000a6;
    font-size: 16px;
    font-weight: 400;
    font-family: @font-family-sans-serif;
    font-variant: tabular-nums;
    line-height: 1.5;
  }
}

.md-block span {
  font-family: @font-family-sans-serif;
  color: @grey-nero;
}

.md-RichEditor-editor {
  cursor: text;
  position: relative;
  margin: 0 auto;

  &.md-RichEditor-readonly {
    cursor: wait;
  }

  h1.StoryFull__title {
    margin-top: 0;
    display: none;
    visibility: hidden;
  }
}

.md-RichEditor-editor .public-DraftEditorPlaceholder-root:extend(.StoryFull__title) {
  color: @blue-botticelli;
}

.md-RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.md-RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.md-RichEditor-editor {
  .StoryFull__title + div.md-block:only-of-type {
    font-family: @font-family-sans-serif;
    color: @grey-nero;
    height: 18px;
    span[data-offset-key] {
      br {
        content: ' ';
        &::before {
          content: 'Write you story...';
          color: @blue-botticelli;
        }
      }
    }
  }
}

.md-RichEditor-editor .md-RichEditor-blockquote {
  margin: 0;
}

.md-RichEditor-blockquote {
  a {
    text-decoration: underline;
  }
}

.public-DraftEditor-content {
  overflow: auto;
  height: 290px;
  background: #fff;
  padding: 15px 20px;
  border: 1px solid #e9e7e7;
  border-radius: 4px;

  .md-block:first-child {
    margin-top: 0;
  }
}

.md-RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 20px;
}

.Body {
  .public-DraftStyleDefault-unorderedListItem,
  .public-DraftStyleDefault-orderedListItem {
    &::before {
      left: -30px;
    }
  }
  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
    margin-left: 0;
  }
  .public-DraftStyleDefault-ol.public-DraftStyleDefault-ul {
    margin-top: 1.5rem;
  }
}

.md-editor-action {
  position: fixed;
  top: 5px;
  left: 5px;

  button {
    display: block;
  }
}

.Editor__title {
  font-family: @font-family-sans-serif;
  color: @grey-nero;
  height: 40px !important;
}

@import './index-nightmode.less';
