@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.TokenBoughtCard {
  display: flex;
  padding: 10px 15px;
  border-bottom: @base-border;

  &__info-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 10px;
  }

  &__userName {
    color: @black;
    font-weight: 500;
  }

  &__quantity {
    &--green {
      color: @green;
    }

    &--red {
      color: @red;
    }
  }
}

@import 'TokenBoughtCard-nightmode';
