@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.TokenBoughtCard {
  display: flex;
  padding: 10px 15px;
  border-bottom: @base-border;

  &__amount_column {
    display: flex;
    flex-direction: column;
    @media @small {
      flex-direction: row;
    }
  }

  &__info-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 6px;
  }

  &__userName {
    color: @black;
    font-weight: 500;
  }

  &__marginLeft {
    margin-left: 15px;
  }

  &__quantity {
    &--green {
      color: @green;
    }

    &--red {
      color: @red-danger;
    }
  }
}

@import 'TokenBoughtCard-nightmode';
