@import (reference) '../../../../../styles/modules/variables.less';
@import (reference) '../../../../../styles/custom.less';

.NearByCard {
  display: flex;
  flex-direction: column;
  border: 1px solid @regent-gray;
  border-radius: 5px;
  width: 45%;

  &__title {
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid @regent-gray;
    background: @silver;
    padding: 5px;
    font-size: 15px;

    @media @small {
      padding: 15px 20px;
      font-size: 25px;
    }
  }

  &__image {
    display: inline-block;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: -webkit-fill-available;
  }
}

@import 'NearByCard-nightmode';
