.NearByCard {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  width: 32%;
  margin: 0 15px 30px;

  &__title {
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid gray;
    background: #c3c3c3;
    padding: 15px 20px;
    font-size: 25px;
  }

  &__image {
    display: inline-block;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: inherit;
  }
}
