@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

@wrapPadding: 12px;

.ObjectCardView {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  margin-top: 5px;
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 80px;
    outline: none;
    margin: @wrapPadding;
  }
  &__content-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
  &__info {
    width: 70%;
    max-width: 70%;
    padding-left: @wrapPadding;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    &.small {
      .ObjectCardView__title,
      .ObjectCardView__name-truncated {
        font-size: 1em;
      }
    }
  }
  &__avatar {
    width: 25%;
    .avatar-image {
      width: 100%;
      padding-top: 100%;
      border-radius: 8px;
      display: block !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 1px solid #e9e7e7;
    }
  }
  &__type {
    color: @blue-botticelli;
    margin-bottom: 0.5em;
  }
  &__price {
    color: @blue-botticelli;
    margin-bottom: 0.5em;
    i {
      margin-right: 5px;
    }
  }
  &__name {
    cursor: auto;
    display: flex;
    align-items: baseline;

    &-truncated {
      margin-right: 10px;
      color: @black;
      font-size: 1.2em;
      line-height: 1.1em;
      white-space: normal;
      vertical-align: middle;
      font-weight: 600;
    }
  }
  &__title {
    margin-top: 0.5em;
    color: @black;
    font-size: 1.2em;
  }
}

@import 'ObjectCardView-nightmode';
