@import (reference) '../styles/custom.less';

.nightmode {
  .ObjectCardView {
    border: @border-width-base @border-style-base @normal-grey;
    &__avatar {
      border: @border-width-base @border-style-base @normal-grey;
    }
    &__name {
      display: flex;
      align-items: center;
      width: auto;
      cursor: auto;
      color: @white;

      &-truncated {
        color: @white;
      }
    }
    &__title {
      color: @white;
    }
  }
}
