@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/mixins.less';

@wrapPadding: 15px;

.ObjectCardView {
  font-family: var(--template-font-body, inherit);

  .iconfont.icon-delete::before {
    cursor: pointer;
  }

  &__reject {
    color: var(--website-color);
    font-weight: 500;
    cursor: pointer;
  }

  &__rejected {
    color: @blue-gullGray;
    font-weight: 500;
    cursor: auto;
  }

  &__prefix {
    font-size: 16px;
    display: flex;
    align-items: center;
    border: 1px solid @blue-hawkesBlue;
    border-radius: 4px;
    background: @white;
    transition: 0.5s;
    min-height: 60px;
    font-weight: 500;
    word-break: break-all;
    &-content {
      margin: 4px 14px;
    }
  }
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  margin-top: 15px;
  background: @white;
  transition: 0.5s;

  &__tag-text {
    color: @blue-botticelli;
    font-weight: 500;
    font-size: 1em;
    //text-transform: capitalize;
  }

  &__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 80px;
    outline: none;
    margin: @wrapPadding;
  }

  &__content-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  &__info {
    width: 70%;
    max-width: 70%;
    padding-left: @wrapPadding;
    padding-bottom: 20px;
    word-wrap: break-word;
    word-break: break-word;
  }
  &__social-info {
    width: 70%;
    max-width: 70%;
    padding-left: @wrapPadding;
    padding-bottom: 5px;
    word-wrap: break-word;
    word-break: break-word;
  }

  &__avatar {
    width: 25%;

    .avatar-image {
      width: 100%;
      padding-top: 100%;
      border-radius: 4px;
      display: block !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 1px solid @white-gainsboro;
    }
  }

  &__type {
    color: @blue-botticelli;
    margin-bottom: 0.5em;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__price {
    color: @blue-botticelli;
    margin-bottom: 0.5em;

    i {
      margin-right: 5px;
    }
  }

  &__name {
    cursor: auto;
    display: flex;
    font-weight: 600;
    align-items: center;
    flex-wrap: wrap;

    &-truncated {
      margin-right: 10px;
      color: @black;
      font-size: 1em;
      line-height: 1.1em;
      white-space: normal;
      vertical-align: middle;
      font-weight: 600;
    }
  }

  &__title {
    color: @black;
    font-size: 1em;
  }

  &--hovered {
    &:hover {
      .hoverCard();
      cursor: pointer;
    }
  }

  &__rewardsInfo {
    text-align: end;
    color: @black;
  }

  &__rewardsPrice {
    color: @blue-botticelli;
  }

  &__priceColor {
    color: var(--website-color);
  }

  &__earnWrap {
    white-space: pre;

    .USDDisplay {
      color: var(--website-color);
    }
  }

  &__buyOn {
    color: @blue-botticelli;
    min-width: 65px;
  }

  &__affiliatLinks {
    display: flex;
    flex-wrap: wrap;
  }

  &__affiliatLinksWrap {
    display: flex;
    padding: 15px 0 0;
  }

  .AffiliatLink {
    border: @base-border;
    max-width: 122px;
    width: fit-content;
    //padding: 7px 0;
    margin-left: 5px;
    margin-bottom: 5px;

    &__icon-amazon {
      div {
        max-width: 122px;
        width: fit-content;
        padding: 0 4px;
      }
    }

    &__icon {
      div {
        max-width: 122px;
        width: fit-content;
        padding: 0;
      }

      @media @small {
        max-width: 122px;
        width: fit-content;
        padding: 0;
      }

      &:first-child {
        @media @small {
          margin-left: 0;
        }
      }
    }
  }

  .USDDisplay {
    font-weight: bolder;
  }
}

@import 'ObjectCardView-nightmode';
