@import (reference) '../styles/custom.less';

.nightmode {
  .ObjectCardView {
    border: @border-width-base @border-style-base @normal-grey;
    background: none;
    &__earnWrap {
      color: @mercury;
    }
    &__name {
      color: @white;

      &-truncated {
        color: @white;
      }
    }
    &--hovered {
      &:hover {
        background: @blue-darkGrayish;
        cursor: pointer;
      }
    }
    &__title {
      color: @white;
    }
  }
}
