@import (reference) '../../Common.less';
@import (reference) '../../../../client/styles/custom.less';

.nightmode{
  .st-open-deals-wrap-deals {
    .st-open-deals-content {
      background-color: @grey-nero;
    }
  }
  .st-close-deals-row{
    .buttonDealsStyle (@backgroundColor, @backgroundColorHover){
      color: @color-white;
      background-color: @backgroundColor;
      &:hover{
        background-color: @backgroundColorHover;
      }
    }
  }
}

