@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.MatchBots {
  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media @small {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;

    @media @small {
      font-size: 1.7em;
      display: block;
    }
  }
}
