@import (reference) '../../../../styles/custom.less';
@import (reference) '../../../../styles/modules/variables.less';

@wrapPadding: 15px;

.ObjectOverlayCard {
  font-size: 14px;
  border: 1px solid @silver;
  border-radius: 4px;
  background: @white;
  white-space: nowrap;
  padding: 10px;
  max-width: 300px;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  overflow: hidden;

  &__earn {
    position: absolute;
    top: -15px;
    right: 5px;
    border-radius: 8px;
    background: @orange-hot;
    color: @white;
    padding: 5px;
    border: 1px solid @white;
    cursor: pointer;

    &:hover {
      color: @white;
      background: @orange-light;
    }

    &--proposition {
      border: 1px solid @orange-hot;
      background: @white;
      color: @black;

      b {
        color: @orange-hot;
      }

      &:hover {
        background: @white;
        color: @black;
      }
    }
  }

  &__content-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  &__info {
    width: 70%;
    max-width: 70%;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-word;
  }

  &__avatar {
    width: 80px;

    .avatar-image {
      width: 100%;
      padding-top: 100%;
      border-radius: 4px;
      display: block !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 1px solid #e9e7e7;
    }
  }

  &__tag-text {
    display: flex;
    color: @blue-botticelli;
    font-size: 1em;
    text-transform: capitalize;
  }

  &__price {
    display: inline-block;
    color: @blue-botticelli;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;

    i {
      margin-right: 5px;
    }
  }

  &__name {
    cursor: auto;
    display: flex;
    font-weight: 600;
    align-items: center;

    &-truncated {
      margin-right: 10px;
      color: @black;
      font-size: 1em;
      line-height: 1.1em;
      white-space: normal;
      vertical-align: middle;
      font-weight: 600;
    }
  }

  &__currency {
    font-size: 10px;
    font-weight: normal;
  }

  .ObjectCardView__type {
    display: inline-block;
    margin: 0;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

//@import 'ObjectCardView-nightmode';
