@import (reference) '../../styles/custom.less';

.ant-btn.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    max-width: 100%;
    overflow: hidden;
  }

  &.active,
  &:hover {
    border-color: var(--website-color);
    color: var(--website-color);
  }
}

@import './LinkButton-nightmode';
