@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.AppendCard {
  &__approving {
    margin: 15px 16px 0;
    padding: 5px 0 0;
    border-top: 1px solid @white-gainsboro;
    font-size: 14px;
    font-family: @font-family-base;
    font-weight: 500;

    &--modal {
      border-top: none;
    }

    & > div:first-child {
      padding: 0 0 5px;
    }
  }

  &__red {
    color: @red;
  }

  &__green {
    color: @green;
  }

  &__name-admin {
    color: @orange-hot;
  }
}
