@import (reference) '../Common.less';

.st-icon-favorite-false{
  width: 18px;
  height: 18px;
  cursor: pointer;
  & svg{
    fill: @color-dark-gray;
    width: 18px;
    height: 18px;
  }
  &:hover svg{
    fill: @color-black;
  }
}
.st-icon-favorite-true {
  width: 18px;
  height:  18px;
  cursor: pointer;
  & svg {
    fill: @color-dark-blue;
    width: 18px;
    height: 18px;
  }
}
