@import (reference) '../../styles/custom.less';

.EntryModal {
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-text-content {
      font-weight: bold;
    }

    &-checkbox-wrap {
      padding-left: 5px;
    }
  }
}

.EntryModal__footer-checkbox-wrap > label > span:first-child {
  top: -3px;
}

.EntryModal.pl4 > span {
  padding-right: 5px;
}

.EntryModal.invest-title {
  font-weight: bold;
  color: @blue-dodgerBlue;
  padding-right: 0!important;
}

.EntryModal.arena-title {
  font-weight: bold;
  padding-right: 3px;
}

.EntryModal.link {
  padding-left: 3px;
  cursor: pointer;
  color: @blue-dodgerBlue;
}
