.EntryModal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__text-content {
    font-weight: bold;
  }
  &__checkbox-wrap {
    padding-left: 5px;
  }
}

.EntryModal__checkbox-wrap > label > span:first-child {
  top: -3px;
}
