@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.AddressHoursDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @media @small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__block {
    font-size: 18px;
    padding: 16px 16px 16px 0;
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    align-items: start;
    width: 100%;
    @media @small {
      align-items: center;
      min-height: 200px;
      padding: 16px 16px 16px 16px;
    }
    &--with-map {
      min-height: fit-content;
      font-size: 18px;
      padding: 16px 16px 16px 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      @media @small {
        align-items: center;
        min-height: 350px;
        padding: 16px 16px 16px 16px;
      }
    }
    &-title {
      line-height: 3;
      display: flex;
      justify-content: start;
      padding-bottom: 8px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      color: @black;
      @media @small {
        justify-content: center;
      }
    }
    &-content {
      text-align: start;
      @media @small {
        text-align: center;
      }
    }
  }
  &__block-map {
    font-size: 18px;
    display: flex;
    padding: 16px 16px 16px 0;
    flex-direction: column;
    min-height: 270px;
    width: 100%;
    .MapOS__locateGPS {
      &-button-container {
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: #fff;
        border: 1px solid @white-gainsboro;
      }
      &-button {
        vertical-align: inherit;
        border: none;
        width: 13px;
        height: 15px;
      }
    }
    .MapOS__fullScreen {
      border: 1px solid @white-gainsboro;
      .anticon.anticon-fullscreen,
      .anticon.anticon-fullscreen-exit {
        color: @text-color !important;
        font-size: 14px !important;
        display: flex;
        justify-content: center;
        height: inherit;
        align-items: center;
      }
    }
    @media @small {
      min-height: 350px;
      padding: 16px 16px 16px 16px;
    }
  }
}
.MapModalSocial {
  .MapOS__locateGPS {
    &-button-container {
      width: 25px;
      height: 25px;
      text-align: center;
      background-color: #fff;
      border: 1px solid @white-gainsboro;
    }
    &-button {
      vertical-align: inherit;
      border: none;
      width: 13px;
      height: 13px;
    }
  }
  .MapOS__fullScreen {
    border: 1px solid @white-gainsboro;
    .anticon.anticon-fullscreen,
    .anticon.anticon-fullscreen-exit {
      color: @text-color !important;
      font-size: 14px !important;
      display: flex;
      justify-content: center;
      height: inherit;
      align-items: center;
    }
  }
}
