@import (reference) '../../../styles/custom.less';

.nightmode {
  .PostsNavigation {
    background-color: @grey-nero;
    border: solid 1px @normal-grey;
    &__item {
      color: #99aab5;

      &--active,
      &:hover {
        color: @primary-color;
        border-bottom: 2px @border-style-base @primary-color;
      }
    }
  }
}
