@import (reference) '../../styles/custom.less';

.nightmode {
  .UserHeader {
    background-color: #191e23;

    &__info-mobile {
      background: @grey-nero;
      color: @blue-botticelli;
    }

    &__voteValue,
    &__rank {
      color: @white-smoke;
    }
  }
}
