@import (reference) '../../../../styles/custom.less';
@import (reference) '../../../../styles/modules/variables';

.AffiliateSection {
  &__affiliate-button {
    width: 100%;
    height: 35px;
    object-fit: contain;
    border: 1px solid @white-gainsboro;
    border-radius: 4px;
  }
  &__affiliate-ids {
  }
}
