@import (reference) '../../../styles/custom.less';
.nightmode {
  .table-profit {
    &__button-add-token {
      margin: 10px 0;
      background: var(--website-color);
      color: @white;
      display: block;
      border-color: var(--website-color);
    }
  }
}
