@import (reference) '../../../styles/custom.less';
.nightmode {
  .table-profit {
    &__button-add-token {
      margin: 10px 0;
      background: @orange-hot;
      color: @white;
      display: block;
      border-color: @color-hover-border;
    }
  }
}
