@import (reference) '../../../styles/custom.less';

.table-profit {
  margin-top: 15px;

  th,
  td {
    padding: 15px;
  }

  &__info {
    margin-top: 10px;
  }

  &__info-profit {
    margin: 10px 0;
  }

  &__button-add-token {
    margin: 10px 0;
    background: @orange-hot;
    color: @white;
    display: block;
  }

  &__info-grey {
    color: #00000040;
  }
}
