@import (reference) '../../../styles/modules/variables.less';
.SocialSignInModalContent {
  align-items: flex-start;

  @media @small {
    align-items: center;
  }

  h2 {
    color: var(--website-color);
  }
}

.SocialGiftsButton {
  font-weight: 100;
}
