@import (reference) '../../../styles/modules/variables.less';
.SocialSignInModalContent {
  align-items: flex-start;

  .ant-alert-with-description.ant-alert-no-icon {
    text-align: center;
  }

  @media @small {
    align-items: center;
  }

  h2 {
    color: var(--website-color);
  }
}

.SocialGiftsButton {
  font-weight: 100;
  cursor: pointer;
}
