@import (reference) '../../styles/modules/variables.less';

.Debts {
  display: flex;
  top: 70px;
  flex-direction: column;
  min-width: 310px;

  @media @small {
    padding: 0 12px 0 12px;
  }

  &__main-title {
    font-size: x-large;
    font-weight: 500;
    padding: 25px 0 25px;
  }

  &__information-row {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-left: 15px;

    &-total-title {
      font-size: x-large;
      font-weight: 500;
      padding-right: 5px;
    }

    &-pay {
      font-size: medium;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
