.Debts {
  display: flex;
  top: 70px;
  flex-direction: column;
  min-width: 310px;
  padding-left: 5px;

  &__main-title {
    font-size: x-large;
    font-weight: 500;
    padding: 25px 0 25px;
  }

  &__information-row {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    &-total-title {
      font-size: large;
      font-weight: 500;
      padding-right: 5px;
    }

    &-pay {
      font-size: medium;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
