@import (reference) '../Common.less';
@import (reference) '../../../client/styles/modules/variables.less';

.st-trading-form-wrapper {
  width: 375px;
  background-color: transparent;
  border: 1px solid @color-darkest-gray;

  @media @xsmall {
    width: 400px;
  }
  @media @small {
    width: 450px;
  }
}

.st-trading-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 10px;

  &__button-wrap {
    padding: 0 60px;
  }

  .st-trading-form-header {
    display: flex;
    justify-content: flex-end;
  }

  .st-trading-form-amount {
    &__input {
      border-bottom: 1px solid @color-light-gray;

      &.danger,
      &.danger:focus-within {
        border-color: @red-danger;
        color: @red-danger;
      }

      &:focus-within {
        border-bottom-color: @color-black;
      }

      input {
        background-color: transparent;
        border: none;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .st-trading-form-footer {
    display: flex;
    justify-content: space-between;
  }

  .info-icon {
    font-size: 16px;
  }

  .flex-info-block {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
