@import (reference) '../Common.less';
@import (reference) '../../../client/styles/modules/variables.less';

.st-trading-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  border: 1px solid @color-alto-gray;

  @media @small {
    flex-direction: row;
  }
  @media @large {
    flex-direction: column;
    width: 450px;
  }

  .st-trading-form {
    border: 1px solid @color-alto-gray;

    @media @large {
      border: none;
      &:first-child {
        border-bottom: 1px solid @color-alto-gray;
      }
    }
  }
}

.st-trading-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  min-height: 225px;
  width: 100%;
  padding: 10px;

  @media @large {
    min-height: 50%;
  }

  &__button-wrap {
    padding: 0 60px;
    &-uppercase {
      text-transform: uppercase;
      font-size: 0.8rem !important;
    }
  }

  &__tooltip.ant-tooltip {
    z-index: 1300 !important;
    font-size: 14px;
    line-height: 1.2;
  }

  .st-trading-form-header {
    display: flex;
    justify-content: flex-end;
  }

  .st-trading-form-amount {
    &__input {
      border-bottom: 1px solid @color-gray;

      &.danger,
      &.danger:focus-within {
        border-color: @red-danger;
        color: @red-danger;
      }

      &:focus-within {
        border-bottom-color: @color-black;
      }

      input {
        background-color: transparent;
        border: none;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .st-trading-form-footer {
    display: flex;
    justify-content: space-between;
  }

  .info-icon {
    font-size: 16px;
  }

  .flex-info-block {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
