@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.WAIVWalletTransferList {
  border: @base-border;
  border-radius: 4px;
  background: @white;
  margin-top: 10px;
}

@import 'WAIVWalletTransferList-nightmode';
