@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.Notifications {
  margin: initial;
  width: auto;

  @media @medium {
    margin: -12px -16px;
    width: 400px;
  }

  &__content {
    overflow-y: auto;

    &:hover {
      overflow-y: auto;
    }

    height: 45vh;
    max-height: 345px;
  }

  &__footer {
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-top: @border-width-base @border-style-base @normal-grey;
    @media @small {
      border-top: @base-border;
    }

    & > a {
      font-weight: 500;
      color: @white;
      @media @small {
        color: @blue-dodgerBlue;
      }
    }
  }
}

@import 'Notifications-nightmode';
