@import (reference) '../../../styles/custom.less';

.ObjectFilterCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @white-gainsboro;

  &__checkbox-wrap {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 1rem;
    }
  }

  &__count {
    color: @blue-botticelli;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    background-color: @white-ghostWhite;
    border: 1px solid @white-gainsboro;
    border-radius: 4px;
  }
}

.ObjectFilterCard:first-child > .ObjectFilterCard__checkbox-wrap > .ObjectCard {
  padding-top: 0;
}

.ObjectFilterCard:first-child
  > .ObjectFilterCard__checkbox-wrap
  > .ObjectFilterCard__checkbox-wrap-item {
  margin-bottom: 1rem;
}

.ObjectFilterCard:first-child > .ObjectFilterCard__count {
  margin-bottom: 1rem;
}
