@import (reference) '../../client/styles/custom';

.nightmode {
  .modal-text {
    color: @white!important;
  }
  .st-card__header {
    .st-instrument-name {
      color: @white;
    }
  }
  .Story,
  .StoryFull,
  .modal-open-deals {

    .st-post-sell-buy-quote {
      color: @white!important;
    }
  }
}
