//colors
@color-green:#1ebea5;
@color-dark-green:#17927f;

@color-red:#ee5451;
@color-dark-red:#d64b48;
@color-blue: #3a79ee;
@color-dark-blue:#134bad;

@color-light-gray:#f5f5f5;
@color-gray:#e9ecee;
@color-dark-gray:#e2e2e5;
@color-darkest-gray: #999;

@color-white: #fff;

@color-black: #444;
@color-black-blue: #2c3552;

@margin-small:5px;
@margin-middle:10px;
@margin-large :15px;

//font-sizes
@font-size-small: 12px;
@font-size-medium: 14px;
@font-size-large: 16px;

//avatars
@avatar-small: 25px;
@avatar-medium: 32px;
@avatar-large: 45px;
@avatar-largest: 145px;

//icons
@icon-small: 15px;
@icon-medium: 18px;
@icon-large: 24px;
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.d-flex{
  display: flex;
}
.st-quote-text-up {
  color: @color-green ;
}
.st-quote-text-down {
  color: @color-red;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-end{
  justify-content: flex-end;
}
.w-100{
  width: 100%;
}
.d-flex{
  display: flex;
}
.st-quote-text-up {
  color: @color-green ;
}
.st-quote-text-down {
  color: @color-red;
}
.st-quote-up {
  background-color: @color-green ;
  &:hover {
    background-color: @color-dark-green;
  }
}
.st-quote-down {
  background-color: @color-red;
  &:hover {
    background-color: @color-dark-red;
  }
}
.st-quote-not-update {
  color: @color-black!important;
  background-color: @color-light-gray;
}


.st-margin-left-small {
  margin-left: @margin-small;
}
.st-margin-right-small {
  margin-right: @margin-small;
}
.st-margin-top-small {
  margin-top: @margin-small;
}
.st-margin-bottom-small {
  margin-bottom: @margin-small;
}
.st-margin-right-middle {
  margin-right: @margin-middle;
}
.st-margin-left-middle {
  margin-left: @margin-middle;
}
.st-margin-top-middle{
  margin-top: @margin-middle;
}
.st-margin-bottom-middle {
  margin-bottom: @margin-middle;
}
.st-margin-right-large {
  margin-right:@margin-large;
}
.st-margin-left-none  {
  margin-left: 0!important;
}
.st-margin-left-large  {
  margin-left: @margin-large;
}
.st-margin-top-large  {
  margin-top: @margin-large;
}
.st-margin-bottom-large  {
  margin-bottom: @margin-large;
}
.st-hidden{
  visibility: hidden;
}
.formStyle() {
  .field {
    width: 100%;
    height: 35px;
    font-size: 14px;
    text-indent: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0 6px;
    box-sizing: border-box;
    &:focus {
      .input-selected-mixin();
    }
  }
  .label {
    color: @color-darkest-gray;
  }
  button {
    text-transform: uppercase;
  }
  .Select {
    margin-bottom: 15px;
    .Select-control {
      border-radius: 2px;
      height: 35px;
      .Select-input {
        input {
          line-height: 1.4rem; // vertical align works the same
          height: 1.8rem;      //  in FireFox and Chrome
        }
      }
      &[disabled] {
        background-color: #ebebe4;
      }
    }
    &.is-disabled {
      .Select-control {
        cursor: default;
      }
    }
  }
  .is-focused > .Select-control {
    .input-selected-mixin()
  }
  .is-disabled > .Select-control {
    .input-disabled-mixin()
  }
}
.input-selected-mixin(){
  border-color: dodgerblue;
  outline: none;
}
.input-disabled-mixin() {
  background-color: #ebebe4;
  cursor: none;
  outline: none;
}
.st-field-div {
  height: 35px;
  margin-bottom: 15px;
  position: relative;
}
