@import (reference) '../../styles/custom.less';

.Breadcrumbs {
  margin-bottom: 20px;

  a {
    color: @blue-gullGray;
    font-size: 18px;
    text-transform: uppercase;
  }

  .anticon.anticon-right {
    margin: 0 5px;
    color: @blue-gullGray;
  }
}
