@import (reference) '../../styles/custom.less';

.Breadcrumbs {
  margin: 10px 0;
  &__edit-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  a,
  span {
    color: @blue-gullGray;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: var(--website-hover-color);
    }
  }

  .anticon.anticon-right {
    margin: 0 5px;
    color: @blue-gullGray;
  }
}
