@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins';

.nightmode {
  .PaymentCard {
    border: 1px solid @normal-grey;
    background-color: @grey-nero;

    &__content-name-wrap-alias {
      color: @white-smoke;
    }

    &__end-wrap-icon {
      .light-arrows-color();
    }
  }
}
