@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.PaymentCard {
  display: flex;
  align-items: center;
  border: 1px solid @white-gainsboro;
  background-color: @white;
  padding: 10px 14px;
  justify-content: space-between;
  margin-bottom: 10px;

  &__content {
    display: flex;
    align-items: center;

    &-name-wrap {
      margin-left: 10px;
      max-width: calc(100vw - 210px);
      flex-direction: column;

      &-alias {
        font-weight: bold;
        color: @black-text-basic;
      }

      &-row {
        display: flex;
        align-items: center;
        font-size: medium;

        &-name {
          font-weight: 500;
          color: @blue-botticelli;
          padding-right: 10px;
        }

        &-pay {
          display: flex;

          .WalletSidebar__transfer {
            margin-bottom: 0;

            &.Action--primary:disabled {
              background-color: @white-smoke !important;
              border-color: @white-gainsboro !important;
              color: @blue-botticelli !important;
            }
          }
        }
      }
    }

    &-name {
      font-weight: 500;
      color: @blue-botticelli;
    }

    @media @small, @medium, @large {
      max-width: 350px;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__end-wrap {
    display: flex;
    align-items: center;

    &-payable {
      padding-right: 14px;
      font-size: medium;
      font-weight: 500;
    }

    &-icon > img {
      height: 25px;
      width: 25px;
      margin-left: 15px;
    }
  }
}

.PaymentCard__end-wrap-icon :hover {
  cursor: pointer;
}

@import 'PaymentCard-nightmode';
