@import (reference) '../../../styles/custom.less';

.EditDelegationModal {
  h3 {
    font-size: 16px;
    padding: 10px 0;
  }

  p {
    padding-top: 10px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: @base-border;
    padding: 15px 0;

    p {
      width: 100%;
    }
  }

  &__buttons-wrap {
    display: flex;
    justify-content: end;
    padding: 15px 0;
  }

  &__cancel-button {
    margin-right: 10px;
  }

  &__undelegate {
    margin-top: 35px;
  }
}

@import 'EditDelegationModal-nightmode';
