@import (reference) '../../styles/custom.less';

.nightmode {
  .forecasts-block {
    border: 1px solid;
    border-color: @normal-grey !important;
    border-radius: 4px;
    background: @grey-nero;
    left: auto;
    top: auto;

    &__content {
      padding: 0 10px;
    }

    &__header {
      justify-content: flex-start;
      color: @blue-baliHai;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      position: relative;
      background: @grey-nero;
      height: 45px;
      padding: 0 12px;
      border-bottom: 1px solid @normal-grey;
    }
  }
}
