@import (reference) '../../../styles/custom.less';

.nightmode {
  .WebsitesAdministrators {
    p {
      color: @blue-botticelli;
    }

    &__user-table {
      border: 1px solid @normal-grey;
      background: @grey-nero;
    }

    &__table-empty {
      background: @grey-nero;
      border: 1px solid @normal-grey;
    }

    &__user {
      border-bottom: 1px solid @normal-grey;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
