@import (reference) '../../../styles/custom.less';

.WebsitesAdministrators {
  h3 {
    padding: 20px 0;
  }

  p {
    margin-bottom: 10px;
    color: @blue-botticelli;
  }

  &__user-table {
    background: @white;
    border-radius: 4px;
    border: 1px solid @white-gainsboro;
    padding: 10px 15px;
  }

  &__table-empty {
    background: @white;
    border-radius: 4px;
    border: 1px solid @white-gainsboro;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @white-gainsboro;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    .ant-btn.ant-btn-primary {
      width: 140px;

      span {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;

    span {
      display: inline-block;
      margin-left: 5px;
    }
  }

  &__add-button {
    float: right;
    width: 140px;
    margin-right: 15px;
  }

  &__search-user {
    margin-bottom: 20px;
  }
}

@import 'Administrators-nightmode';
