@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.CreateReward {
  width: 100%;

  &__block-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    border-top: @base-border;
  }

  &__objects-wrap {
    margin: 15px 0;
  }

  &__object-message-validate {
    color: @red-danger !important;
    display: none !important;
  }

  .feed-layout {
    .center {
      float: left;
      width: 100%;

      @media @small {
        width: calc(100% - @margin);
      }

      @media @medium {
        width: calc(100% - (@left-width + @margin));
        margin-left: @margin;
      }
    }
  }
}

.CreateReward__object-message-validate.enable-require {
  display: block !important;
}

.CreateReward__object-message-validate.enable-review {
  display: block !important;
}

.CreateReward__item-title.ant-form-item-required {
  color: @black;
  opacity: 0.85;
}
