@import (reference) '../../styles/custom.less';

.nightmode {
  .CreateReward__item-title.ant-form-item-required {
    color: @white-smoke;
    opacity: 1;
  }
  .CreateReward__item-title.simple-text {
    color: @white-smoke;
    opacity: 1;
  }
  .ant-calendar-picker-icon {
    color: @white-smoke !important;
  }
}
