@import (reference) '../../styles/custom.less';

.Review-object-item {
  &__close-circle {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
    margin-right: 5px;
    opacity: 0.85;

    &:hover {
      color: @orange-hot;
    }
  }
}
