@import (reference) '../../../../styles/custom.less';

.DeleteRuleModal {
  &__content {
    padding: 0 2rem 2rem;
    border-bottom: 1px solid @blue-hawkesBlue;
  }
  &__footer {
    padding: 0 1rem;
  }
  .CreateRule__button {
    margin-top: 1rem;
  }
  .CreateRule__button-delete {
    margin-top: 0;
    margin-left: 0.85rem;
  }
  .ant-modal-body {
    padding: 2rem 0 1rem;
  }
}
