@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .ShopDepartmentsList {
    &__maindepName {
      color: @white !important;
    }

    &__depName {
      color: @blue-gullGray !important;

      &--open {
        color: @white !important;
      }
    }

    &__link {
      &--active {
        color: @white;
      }
    }
  }
}
