@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

.nightmode {
  .Objects {
    color: @blue-botticelli;

    &__title {
      background-color: @grey-nero !important;
      border: 1px solid @normal-grey !important;
    }

    &__content {
      background-color: @grey-nero !important;
      border-color: @normal-grey !important;
    }

    .WaivioObject__user__divider {
      background: @normal-grey !important;
    }
  }
}
