@import (reference) '../../styles/custom.less';

.VipTicketsSetting {
  p {
    margin-bottom: 15px;
  }

  h1,
  h3 {
    margin-bottom: 15px;
  }

  .ant-input-number {
    width: 20%;
    margin-right: 20px;
  }

  &__pay {
    background: @orange-hot;
    padding: 0 15px;
    margin-left: 15px;
    color: @white;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  &__section {
    margin-bottom: 15px;
  }

  &__add-note {
    display: flex;
    justify-content: center;
    color: @regent-gray;
  }

  &__modal-section {
    margin: 0 0 15px;

    h3 {
      margin-bottom: 15px;
    }
  }

  &__note {
    max-width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 5px;
  }
}
