@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.Department {
  &__wrapper {
    display: block;
    @media @small {
      width: auto;
      flex-wrap: wrap;
      display: flex;
    }
  }
  &__title {
    font-weight: 550;
    margin-right: 4px;
  }
  &__socialLayout {
    display: flex;
    flex-direction: column;
    @media @small {
      flex-direction: row;
    }
  }
  &__block {
    width: auto;
  }
  &__item {
    margin-left: 4px;
    &:hover {
      color: var(--website-color);
    }
  }
  &__activeDepartment {
    color: var(--website-color);
  }
  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
    display: contents;
    color: @black-text-basic;
  }
  &__nested-button {
    padding-left: 7px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title {
      height: 20px;
      line-height: 20px;
      color: @black-text-basic;
    }
    .ant-menu-sub.ant-menu-inline .ant-menu-item {
      height: 20px;
      line-height: 20px;
      background: transparent;
    }
    .ant-menu-submenu-title {
      padding-left: 5px !important;
    }
    .ant-menu-item {
      padding-left: 10px !important;
    }
    .ant-menu-submenu .ant-menu {
      background: transparent;
    }
  }
}
