@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.ObjectTypePage {
  &__tags {
    display: flex;
    align-items: center;
    .ObjectTypeFiltersTags {
      margin: 10px 0 10px 5px;
    }
  }
  &__title {
    color: @black;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@import 'ObjectTypePage-nightmode';
