@import (reference) '../styles/modules/variables.less';

.ObjectTypePage {
  .feed-layout {
    .center {
      float: left;
      width: 100%;

      @media @small {
        width: calc(100% - @margin);
      }

      @media @medium {
        width: calc(100% - (@left-width + @margin));
        margin-left: @margin;
      }
    }
  }
}
