@import (reference) '../styles/modules/variables.less';

.ObjectTypePage {
  &__title {
    margin-left: 15px;
    color: #8798a4;
    font-size: 16px;
    font-weight: 500;
  }
  .feed-layout {
    .center {
      float: left;
      width: 100%;

      @media @small {
        width: calc(100% - @margin);
      }

      @media @medium {
        width: calc(100% - (@left-width + @margin));
        margin-left: @margin;
      }
    }
  }
}
