@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.nightmode {
  .Transfer {
    &__search-content-wrap {
      &-current {
        border: 1px solid @normal-grey;
      }
    }

    &__delete-icon {
      color: @white-gainsboro;
    }

    &__search-dropdown-container.ant-select-dropdown {
      position: fixed;
      border-radius: 0 0 4px 4px;
      background-color: @grey-nero;
      border-right: @border-width-base @border-style-base @grey-mortar;
      border-left: @border-width-base @border-style-base @grey-mortar;
      border-bottom: @border-width-base @border-style-base @grey-mortar;
      box-shadow: none;
    }
    &__amount {
      &__input {
        &:focus,
        &:hover {
          + .ant-input-group-wrapper {
            .Transfer__usd-value {
              border: @border-width-base @border-style-base @normal-grey;
              border-right: 0;
            }

            .ant-input-group-addon {
              border: @border-width-base @border-style-base @normal-grey;
            }
          }
        }
      }
    }

    .has-error {
      .Transfer__amount {
        .Transfer__usd-value {
          border-left: 0 !important;
        }

        .Transfer__amount__input,
        .ant-input {
          border: @border-width-base @border-style-base @red-6 !important;
        }
      }
    }
  }
}
