.ant-tabs-nav-scroll {
  overflow: scroll !important;
}
.ant-tabs-tab-prev {
  display: none;
}
.ant-tabs-tab-next.ant-tabs-tab-arrow-show {
  display: none;
}
.ant-tabs-nav .ant-tabs-nav-animated {
  transition: none;
}
