@import (reference) '../styles/modules/variables.less';
.Wallets {
  .ant-tabs-nav-scroll {
    margin-top: -18px;
    overflow-x: auto;
    overflow-y: hidden;

    @media @medium {
      margin-top: -10px;
    }
  }

  .ant-tabs-tab {
    margin: 0 5px 0 0;
  }

  .ant-tabs-tab-prev {
    display: none;
  }

  .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    display: none;
  }

  .ant-tabs-nav.ant-tabs-nav-animated {
    transition: none;
  }

  .ant-tabs-nav-container-scrolling {
    padding-right: 0;
    padding-left: 0;
  }

  .ant-tabs-nav.ant-tabs-nav-animated {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}
