@import (reference) '../styles/modules/variables.less';
.Wallets {
  .ant-tabs-nav-scroll {
    margin-top: -18px;
    overflow-x: auto;
    overflow-y: hidden;

    @media @medium {
      margin-top: -10px;
    }
  }

  .ant-tabs-nav .ant-tabs-tab {
    height: 48px;
    line-height: 48px;
    padding: 0 !important;

    a {
      width: 100%;
      color: #99aab5;
      padding: 12px 16px;
      font-weight: 500;
    }
  }

  .ant-tabs-tab-active.ant-tabs-tab {
    a {
      color: var(--website-color);
      font-weight: 500;
    }
  }

  .ant-tabs-tab {
    margin: 0 5px 0 0;
  }

  .ant-tabs-tab-prev {
    display: none;
  }

  .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    display: none;
  }

  .ant-tabs-nav.ant-tabs-nav-animated {
    transition: none;
  }

  .ant-tabs-nav-container-scrolling {
    padding-right: 0;
    padding-left: 0;
  }

  .ant-tabs-nav.ant-tabs-nav-animated {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

@import './Wallets-nightmode';
