@import (reference) '../styles/custom.less';

.nightmode {
  .WalletTable {
    & th {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }

    & td {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }
  }
}
