@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.SideBar {
  margin-bottom: 20px;
}
.ordered-list {
  margin-left: 20px;
  color: @blue-botticelli;
}
