@import (reference) '../../../styles/custom.less';

.CreateWebsite {
  .ant-tabs-nav .ant-tabs-tab {
    color: @blue-gullGray;
    font-weight: 500;
  }

  h1 {
    margin-bottom: 15px;
  }

  &__domain-wrap {
    display: flex;

    .ant-input {
      width: 50%;
      margin-right: 5px;
    }
  }
  &__parent-wrap {
    .ant-select {
      width: 50%;
    }
  }

  &__available {
    color: @green;
  }

  &__error {
    color: @red;
  }

  &__domain-name {
    font-weight: bolder;
  }

  .ant-form-explain {
    margin: 0;
    min-height: auto;
  }

  .ant-select-auto-complete.ant-select .ant-input {
    background: @white;
  }

  .ant-form-item-children .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .ant-checkbox-wrapper {
    line-height: 1.4;
    margin-top: 25px;
  }
  &__padding {
    margin-bottom: 5px;
  }

  &__checkbox-wrap.ant-row.ant-form-item {
    margin-bottom: 5px;
  }
}

@import 'CreateWebsite-nightmode';
