@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.RewardsFilters {
  border: none;
  width: 100%;
  padding: 0;

  @media @small {
    display: block;
    width: 270px;
    background: @white;
    padding: 10px;
    border: @base-border;
    border-radius: 4px;

    &__title {
      display: flex;
      align-items: center;
      border-bottom: @base-border;
      color: @blue-baliHai;
      font-size: 16px;
      font-weight: 500;
    }

    &__subtitle {
      display: inline-block;
      font-weight: 800;
      margin-bottom: 5px;
    }

    &__block {
      margin-bottom: 5px;

      &:last-child {
        margin: 0;
      }
    }
  }
}
