.FirstScreen {
  &__selectBlock {
    margin: 5px 20px;
  }

  &__title {
    margin: 5px 0;
  }

  &__earn {
    font-weight: 400;
    color: black;
    font-size: 17px;
  }

  .ObjectCardView {
    margin: 0;
  }
}
