.FirstScreen {
  &__title {
    margin: 5px 0;
    font-size: 1.2em;
  }

  &__earn {
    font-weight: 400;
    color: black;
    font-size: 17px;
    margin-right: 5px;
  }

  .ObjectCardView {
    margin: 0;
  }

  &__priceWrap {
    display: flex;
    flex-wrap: wrap;
  }
}
