@import (reference) '../../../styles/modules/variables';
@import (reference) '../../../styles/custom.less';

.DynamicTable {
  width: 100%;
  border: 1px solid;
  text-align: center;
  font-size: 13px;

  @media @small {
    font-size: 16px;
  }

  td,
  tr,
  th {
    border: 1px solid;
    padding: 0 5px;

    .anticon.anticon-loading.Loading__icon {
      font-size: 20px !important;
    }
  }

  &__showMore {
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: @orange-hot;
    }
  }
}
