@import (reference) '../../Common.less';

.st-post-profit-red{
 color: @color-red;
}
.st-post-profit-gray{
  color: #888888;
}
.st-post-profit-green{
  color: @color-green;
}
.st-post-profit-text{
  font-weight: bold;
  margin-left: @margin-small;
}

@media (max-width: 414px) {
  .st-post-profit-text{
   font-size: 10px;
  }
}
