@import (reference) '../../../styles/custom.less';

.nightmode {
  .Campaign-rewards {
    & td {
      border: 1px solid @grey-darkGrey;
    }

    & th {
      border: 1px solid @grey-darkGrey;
    }
  }

  .ant-checkbox-disabled .ant-checkbox-inner {
    background-color: @grey-empress;
  }
}
