@import (reference) './custom.less';

body.nightmode {
  background: @black-darkTraffic;
  color: @white-smoke;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @white-smoke;
  }

  // region DatePicker
  .ant-calendar {
    background: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;
  }

  .ant-calendar-picker-container {
    color: @white-gainsboro;
  }

  .ant-calendar-input-wrap {
    border-bottom: @border-width-base @border-style-base @normal-grey;

    .ant-calendar-input {
      background:@grey-nero;
      color: @white-smoke;
    }
  }

  .ant-calendar-footer {
    border-top: @border-width-base @border-style-base @normal-grey;
  }

  .ant-calendar-header {
    border-bottom: @border-width-base @border-style-base @normal-grey;

    .ant-calendar-century-select,
    .ant-calendar-decade-select,
    .ant-calendar-year-select,
    .ant-calendar-month-select,
    .ant-calendar-day-select {
      color: @white-gainsboro;

      &:hover {
        color: @primary-color;
      }
    }

    .ant-calendar-prev-century-btn,
    .ant-calendar-next-century-btn,
    .ant-calendar-prev-decade-btn,
    .ant-calendar-next-decade-btn,
    .ant-calendar-prev-month-btn,
    .ant-calendar-next-month-btn,
    .ant-calendar-prev-year-btn,
    .ant-calendar-next-year-btn {
      &::before, &::after {
        border-color: @grey-darkGrey;
      }

      &:hover {
        &::before, &::after {
          border-color: @white-smoke;
        }
      }
    }
  }

  .ant-calendar-selected-day .ant-calendar-date {
    background: @primary-color;

    &:hover {
      color: @primary-color;
    }
  }

  .ant-calendar-disabled-cell .ant-calendar-date {
    background: @grey-gondola;

    &:hover {
      background: @grey-gondola;
    }
  }

  .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before {
    border: @border-width-base @border-style-base @primary-color;
  }

  .ant-calendar-disabled-cell,
  .ant-calendar-last-month-cell,
  .ant-calendar-next-month-btn-day,
  .ant-calendar-last-month-cell,
  .ant-calendar-next-month-btn-day {
    .ant-calendar-date {
      color: @grey-darkGrey;
    }
  }


  .ant-calendar-date {
    color: @white;

    &:hover {
      background: @normal-grey;
    }
  }

  // Year panel
  .ant-calendar-year-panel {
    background: @grey-nero;
  }

  .ant-calendar-year-panel-header {
    border-bottom: @border-width-base @border-style-base @normal-grey;

    .ant-calendar-year-panel-century-select,
    .ant-calendar-year-panel-decade-select,
    .ant-calendar-year-panel-year-select,
    .ant-calendar-year-panel-month-select {
      color: @white-gainsboro;
    }

    .ant-calendar-year-panel-prev-century-btn,
    .ant-calendar-year-panel-prev-decade-btn,
    .ant-calendar-year-panel-prev-year-btn,
    .ant-calendar-year-panel-next-century-btn,
    .ant-calendar-year-panel-next-decade-btn,
    .ant-calendar-year-panel-next-year-btn {
      &::before, &::after {
        border-color: @grey-darkGrey;
      }

      &:hover {
        &::before, &::after {
          border-color: @white-smoke;
        }
      }
    }
  }

  .ant-calendar-year-panel-year {
    color: @white;

    &:hover {
      background: @normal-grey;
      color: @white;
    }
  }

  .ant-calendar-year-panel-last-decade-cell,
  .ant-calendar-year-panel-next-decade-cell {
    .ant-calendar-year-panel-year {
      color: @grey-darkGrey;
    }
  }

  // Time panel
  .ant-calendar-time-picker,
  .ant-calendar-time-picker-inner {
    background: @grey-nero;
  }

  .ant-calendar-time-picker-select li:hover,
  li.ant-calendar-time-picker-select-option-selected {
    background: @normal-grey;
  }
  // endregion

  .ant-slider-mark-text {
    color: @grey-darkGrey;
  }

  .ant-radio-wrapper,
  .ant-slider-mark-text-active {
    color: @white-smoke;
  }

  .ant-radio-button-wrapper {
    background: @grey-nero;
    color: @white-smoke;
  }

  .ant-select {
    color: @white-smoke;
    .ant-select-arrow {
      color: @white-smoke;
    }
    .ant-select-selection {
      border: @border-width-base @border-style-base @normal-grey;
      background-color: @grey-nero;

      .ant-select-selection__clear {
        background: none;
        color: @blue-linkWater;
        transition: 0.5s;
      }
    }
  }

  .ant-select-dropdown {
    .ant-select-dropdown-menu-item-active {
      border-color: @normal-grey;
      background-color: @blue-darkGrayish;
    }
  }

  .ant-input,
  .ant-input:hover,
  .has-error .ant-input-affix-wrapper .ant-input {
    background-color: @grey-nero;
    color: @white-smoke;
    border: @border-width-base @border-style-base @normal-grey !important;
  }

  .ant-checkbox-wrapper {
    color: @white-smoke;
  }

  .ant-checkbox-inner {
    background-color: @grey-nero;
  }

  .ant-dropdown-menu {
    background-color: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;
  }

  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @grey-nero;
    }
  }

  .ant-tooltip-inner {
    border: @border-width-base @border-style-base @normal-grey;
  }

  .ant-tooltip-arrow::before {
    background-color: @normal-grey;
  }

  .ant-popover-inner {
    background-color: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;
  }

  .ant-popover-arrow {
    background-color: @grey-nero;
    border-left: @border-width-base @border-style-base @normal-grey;
    border-top: @border-width-base @border-style-base @normal-grey;
  }

  .ant-form {
    color: @blue-heather;
  }

  .ant-form-item {
    color: @blue-heather;
  }

  .ant-form-explain,
  .ant-form-extra {
    color: @blue-heather;
  }

  .has-error .ant-form-explain,
  .has-error .ant-form-split {
    color: @red;
  }

  .ant-modal-header,
  .ant-modal-content {
    background-color: @grey-nero;
    color: @white-smoke;
  }

  .ant-modal-header {
    border-bottom: @border-width-base @border-style-base @normal-grey;
  }

  .ant-modal-footer {
    border-top: @border-width-base @border-style-base @normal-grey;
  }

  .ant-input-group-addon {
    background-color: @grey-nero;
    color: @white-smoke;
    border: @border-width-base @border-style-base @normal-grey;
  }

  .ant-modal-close {
    color: @white-smoke;
  }

  .ant-form-item-label label,
  .ant-modal-title {
    color: @white-smoke;
  }

  .ant-tabs {
    color: @white-smoke;
  }

  .ant-message-notice-content {
    background: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;
    color: @white-smoke;
  }

  .username {
    color: @white-smoke;
    font-weight: 500;
  }

  .Popover__overlay {
    @media @medium-max {
      background-color: rgba(36, 41, 46, 0.97);
    }
  }

  .ant-progress-text {
    color: @white-smoke;
  }

  .ant-collapse {
    background-color: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;
    color: @white-smoke;

    .ant-collapse-item {
      border: none;
    }

    .ant-collapse-header {
      color: @white-smoke;
    }
    .ant-collapse-content {
      background-color: @grey-nero;
      border-top: @border-width-base @border-style-base @normal-grey;
      color: @white-smoke;
    }
  }

  .st-card__header .st-instrument-name,
  .modal-text {
    color: @white!important;
  }
}
