@import (reference) './custom.less';
@import (reference) './modules/variables.less';

// Buttons
.colorize-button(@color, @border-color) {
  background: @color !important;
  border-color: @border-color !important;

  &:hover,
  &:active,
  &.active {
    background: darken(@color, 15%, 'relative') !important;
    border-color: darken(@border-color, 15%, 'relative') !important;
  }

  &:disabled {
    background: lighten(@color, 20%, 'relative') !important;
    border-color: lighten(@border-color, 20%, 'relative') !important;
  }
}

.colorize-ghost-button(@color) {
  border-color: @color !important;
  color: @color !important;

  &:hover,
  &:active,
  &.active {
    border-color: @color !important;
    background-color: @color !important;
    color: white !important;
  }
}

.content-block() {
  background: @white;
  border-radius: 0;
  border-top: @base-border;
  border-bottom: @base-border;

  @media @small {
    border: @base-border;
    border-radius: @border-radius-base;
  }
}

.content-block-title(@justify: flex-start) {
  display: flex;
  justify-content: @justify;
  min-height: 48px;
  width: 100%;
  align-items: center;
  border-bottom: @base-border;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: @blue-baliHai;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 16px;
}

.view-as-link(@color: @orange-hot, @color-hover: #ff9130) {
  color: @color;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @color-hover;
  }
}

// region IA mixins
.textStyle (@fontSize, @fontColor, @fontWeight) {
  font-size: @fontSize;
  color: @fontColor;
  font-weight: @fontWeight;
}

.formStyle() {
  .field {
    width: 100%;
    height: 35px;
    font-size: 14px;
    text-indent: 5px;
    border: 1px solid @color-alto-gray;
    border-radius: 2px;
    padding: 0 6px;
    box-sizing: border-box;
    &:focus {
      .input-selected-mixin();
    }
  }
  .label {
    color: @color-darkest-gray;
  }
  button {
    text-transform: uppercase;
  }
  .Select {
    margin-bottom: 15px;
    .Select-control {
      border-radius: 2px;
      height: 35px;
      .Select-input {
        input {
          line-height: 1.4rem; // vertical align works the same
          height: 1.8rem; //  in FireFox and Chrome
        }
      }
      &[disabled] {
        background-color: #ebebe4;
      }
    }
    &.is-disabled {
      .Select-control {
        cursor: default;
      }
    }
  }
  .is-focused > .Select-control {
    .input-selected-mixin();
  }
  .is-disabled > .Select-control {
    .input-disabled-mixin();
  }
}
.input-selected-mixin() {
  border-color: dodgerblue;
  outline: none;
}
.input-disabled-mixin() {
  background-color: #ebebe4;
  cursor: none;
  outline: none;
}

.fieldStyle (@height, @width, @padding-left, @font-size, @color) {
  height: @height;
  width: @width;
  padding-left: @padding-left;
  font-size: @font-size;
  color: @color;
}

.st-icon-point (@color, @animation) {
  height: 12px;
  width: 12px;
  display: block;
  border-radius: 100%;
  border: 3px solid @color;
  animation: @animation 3s infinite ease-in-out;
}
// endregion
