@import (reference) './custom.less';
@import (reference) './modules/variables.less';

// Buttons
.colorize-button(@color, @border-color) {
  background: @color !important;
  border-color: @border-color !important;

  &:hover,
  &:active,
  &.active {
    background: darken(@color, 15%, 'relative') !important;
    border-color: darken(@border-color, 15%, 'relative') !important;
  }

  &:disabled {
    background: lighten(@color, 20%, 'relative') !important;
    border-color: lighten(@border-color, 20%, 'relative') !important;
  }
}

.colorize-ghost-button(@color) {
  border-color: @color !important;
  color: @color !important;

  &:hover,
  &:active,
  &.active {
    border-color: @color !important;
    background-color: @color !important;
    color: @white !important;
  }
}

.content-block() {
  background: @white;
  border-radius: 0;
  border-top: @base-border;
  border-bottom: @base-border;

  @media @small {
    border: @base-border;
    border-radius: @border-radius-base;
  }
}

.referrals-main-styles {
  padding: 0 15px;
  color: @black;
  width: auto;

  @media @small {
    width: 700px;
  }
}

.referrals-link-button {
  cursor: pointer;
  color: @orange-hot;
  transition: all 0.3s ease;

  &:hover {
    color: @neon-carrot;
  }

  &:active {
    color: @burnt-orange;
  }
}

.wallet-table-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: -15px;
  cursor: pointer;
  color: @orange-hot;
  transition: all 0.3s ease;
  margin-right: 20px;

  &:hover {
    color: @neon-carrot;
  }

  &:active {
    color: @burnt-orange;
  }

  @media @small {
    padding: 0;
  }
}

.view-as-link(@color: @orange-hot, @color-hover: #ff9130) {
  color: @color;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @color-hover;
  }
}

// Mobile filters
.filters-tags-block () {
  padding-left: 15px;
  padding-right: 50%;

  @media @small, @medium, @large {
    display: none;
    padding-left: 0;
  }

  &.common {
    display: none;

    @media @small, @medium, @large {
      display: block;
    }
  }
}

.filters-topic () {
  font-weight: 600;
  padding-right: 5px;
}

.filters-selector () {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;

  & > span {
    color: @primary-color;
  }

  &:hover {
    color: @primary-color;
  }
}

.filters-toggle-map () {
  padding: 10px 0 5px 15px;

  @media @small, @medium, @large {
    display: none;
  }
}

.filters-ant-modal () {
  &.ant-modal {
    min-width: 100vw;

    .ant-modal-content {
      min-height: 100vh;
    }

    @media @small {
      position: absolute;
      left: 0;
      min-width: unset;
      max-width: 240px;
    }
  }
}

.light-arrows-color {
  filter: invert(1);
}

.menu-item-link {
  color: #99aab5 !important;
  height: 30px !important;
  line-height: 30px !important;

  &:hover {
    color: @primary-color !important;
  }

  &[disabled] {
    color: #c2ccd3 !important;
  }

  & > span {
    white-space: nowrap;
  }
}

.show-more {
  color: @black;
  text-transform: lowercase;
  text-decoration: underline;
  padding-left: 10px;

  &:hover {
    color: @primary-color;
    cursor: pointer;
  }
}

.sidenav-item-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.show-more-style {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: @orange-hot;
  }
}
