@import (reference) '../../../../../styles/custom.less';

@avatar_size: 40px;
@obj_card_hover: #fff5e6;

.object-card {
  width: 100%;
  height: 60px;
  display: flex;
  cursor: pointer;
  background: @white;
  align-items: center;
  border-bottom: 1px solid @white-gainsboro;

  &__hover {
    background: @obj_card_hover;
  }

  &:last-child {
    border-bottom: none;
  }

  .object-search-card {
    padding: 10px 14px;

    &__content-avatar {
      margin-top: 0;
      width: @avatar_size;
      height: @avatar_size;
    }

    &__content-info {
      .object-search-card__content-name {
        font-size: @font-size-lg;
      }

      .object-search-card__content-text {
        font-size: small;
      }
    }
  }
}
@import './SearchItemObject-nightmode.less';
