@import (reference) '../../../styles/custom.less';

.nightmode {
  .ObjectTypes {
    &__type-wrap {
      background-color: @grey-nero;
      border: @border-width-base @border-style-base @normal-grey;
    }
    &__name-wrap {
      color: @blue-baliHai;
      border-bottom: @border-width-base @border-style-base @normal-grey;
    }
  }
}
