@import (reference) '../../styles/custom.less';

.CreateObject {
  &__row {
    display: flex;
    &.align-right {
      justify-content: flex-end !important;
    }
  }

  &__button {
    color: var(--website-color);
    cursor: pointer;

    &:hover {
      font-weight: 500;
    }
  }
  &__label {
    height: 30px;
    font-weight: bold;
    color: @tertiary-color;
  }
  &__input-label {
    margin-bottom: 4px;
    height: 30px;
    font-weight: bold;
    color: @tertiary-color;
  }
  .ant-form-explain {
    margin-bottom: 0 !important;
  }
}

@import 'CreateObject-nightmode';
