@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';

.objectInfo {
  @media @small {
    display: none;
  }

  &__experts,
  &__related,
  &__followers {
    .SidebarContentBlock {
      border-bottom: none;
      border-top: none;

      &__title {
        color: @orange-hot;
        cursor: pointer;

        & i {
          color: @orange-hot;
        }
      }
    }
  }

  &__experts {
    .SidebarContentBlock {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }

  &__followers {
    .UserDynamicList {
      .UserCard {
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
