@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.MapObjTypeWrap {
  position: relative;

  .MapConfigurationControl__zoom {
    position: relative;
    top: 60px;
    left: 93%;
  }
  .MapConfigurationControl__gps {
    bottom: 10px;
    left: 10px;
  }
  .MapConfigurationControl {
    height: 0;
  }
}
