@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.MapObjTypeWrap {
  .MapConfigurationControl__import {
    left: 10px;
    top: 10px;
  }
  position: relative;
  .pigeon-attribution {
    font-size: 8px !important;
  }
  .MapOS__fullScreen {
    bottom: 24px;
  }
  .MapOS__zoom--nested {
  }

  .MapConfigurationControl__zoom {
    position: relative;
    top: 8px;
    left: 92%;
  }
  .MapConfigurationControl__gps {
    bottom: 10px;
    left: 10px;
  }
  .MapConfigurationControl {
    height: 0;
  }
  .MapOS__fullScreen {
    .anticon.anticon-fullscreen {
      color: @black-text-basic !important;
      font-size: 14px !important;
      display: flex;
      justify-content: center;
      height: inherit;
      align-items: center;
    }
  }
}
.MapObjectModal {
  .MapOS__fullscreenContent {
    .MapConfigurationControl__gps {
      left: 10px;
      bottom: 10px;
    }
    .MapConfigurationControl__zoom {
      right: 10px;
      top: 10px;
    }
  }
  .MapOS__fullScreen .anticon.anticon-fullscreen-exit {
    color: @black-text-basic !important;
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
  }
}
