.editor_search {
  .editor_search__input {
    //border: none;
    outline: none;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    //background: transparent;
    width: 100%;
    border: 1px solid black;
  }

  .fake-div__input {
    position: absolute;
    top: 0;
    left: -9999px;
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
    height: 0;
    width: fit-content;
    font-size: 20px;
  }
}
