@import (reference) "../ModalsOpenDeal.less";

.st-modal-tp {
  display: flex;
  flex-direction: column;
  .st-modal-tp-line {
   display: flex;
   justify-content: center;
   span {
    width: 50%;
   }
  }
  .st-modal-tp-input {
   .fieldStyle (35px, 100%, @margin-middle, @font-size-medium, @color-black-blue);
  }
}
.st-modal-tp-borders-line{
  display: flex;
  align-items: center;
justify-content: center;
  p{
   margin-bottom: 0;
  }
}
