@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .CurrencyItem {
    border-bottom: 1px solid @normal-grey;

    &:last-of-type {
      border-bottom: 0;
    }

    &__value {
      color: @white-smoke;
    }

    &__label {
      color: @white-smoke;
    }
  }
}
