@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins.less';

.ActiveCampaignList {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: center;

    @media @xsmall {
      .ShopCardWidth();
    }
  }

  &__linksList {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #99aab5;

    a {
      display: inline-block;
      padding: 0 10px;
      color: #99aab5;
      text-transform: capitalize;
      position: relative;

      &:first-child {
        &::before {
          content: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 1px;
        height: 15px;
        background-color: #99aab5;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  a.ActiveCampaignList__link--active {
    color: var(--website-color);
  }
}
