@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.WithdrawModal {
  p {
    margin: 10px 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  &__inputWrap {
    display: flex;
    border: @base-border;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 10px;

    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .ant-input {
      border: none;
      border-right: @base-border;
      border-radius: 4px 0 0 4px;
      outline: none;
      padding-left: 5px;

      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
        border-right: @base-border !important;
      }
    }
  }

  &__currency {
    padding: 0 11px;
    width: 290px;
  }

  .qr-img {
    width: 25px;
  }

  &__address-wrapper {
    display: flex;
    justify-content: space-between;

    .WithdrawModal__input {
      margin-right: 10px;

      &--invalid {
        border-color: @red-danger;
      }
    }
  }

  &__block {
    margin-top: 20px;
  }

  &__qr-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;

    span {
      margin-top: 0;
      margin-left: 5px;
    }
  }

  &__addressValidate {
    display: inline-block;
    padding: 5px 0 0;
    color: @green;

    &--invalid {
      color: @red-danger;
    }
  }

  &__warning {
    border-radius: 4px;
    border: 1px solid #dfdf0f;
    background: #f9f9dd;
    padding: 10px;
  }
}

@import './WithdrawModal-nightmode.less';
