@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .WithdrawModal {
    &__inputWrap {
      border-color: @normal-grey;

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      .ant-input {
        border: none !important;
        border-right: 1px solid @normal-grey !important;
        outline: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
