@import (reference) '../../../styles/custom.less';

.nightmode {
  .UserStatisticContainer {
    border: 1px solid @normal-grey;
    background-color: @grey-nero;

    &__period {
      &-item {
        border-top: 1px solid @normal-grey;
      }
    }
  }

  .UserStatisticContainer__period-item.border {
    border-top: 1px solid @normal-grey;
    border-left: 1px solid @normal-grey;
  }
}
