@import (reference) '../../../../client/styles/custom.less';
@import (reference) '../../../../client/styles/modules/variables.less';

.InstrumentLongTermStatistics {
  background-color: @white;
  border: @base-border;
  padding: 15px;
  margin-left: -11px;
  min-width: 200px;
  &__title {
    color: @tertiary-color;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: @base-border;
  }
}

.PeriodStatisticsLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__value-success {
    color: @green;
  }
  &__value-danger {
    color: @red;
  }
}
@import 'InstrumentLongTermStatistics-nightmode';
