@import (reference) '../../../../styles/custom.less';
@import (reference) '../../../../styles/modules/variables.less';

.BaseObjSettings {
  &__details {
    margin-left: 20px;
  }
  &__tabs-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  &__tab {
    font-weight: 500;
    margin-bottom: 12px;
  }
  &__searchCard {
    border: @base-border;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__resultList {
    .BaseObjSettings__resulItem {
      transition: 0.5s;
      border-bottom: @base-border;
      background: @white;
      font-weight: 800;

      &:hover {
        //background: tan;
      }
    }
  }

  &__clear {
    position: absolute;
    top: -5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__type {
    margin-right: 35px;
  }

  &__name {
    margin-left: 10px;
    line-height: 20px;
    font-weight: 600;
    color: #000000a6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 185px;
    @media @small {
      max-width: 400px;
    }
  }
}

@import 'BaseObjSettings-nigthmode';
