@import (reference) '../../../../styles/custom.less';

.BaseObjSettings {
  &__searchCard {
    border: @base-border;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__resultList {
    .BaseObjSettings__resulItem {
      transition: 0.5s;
      border-bottom: @base-border;
      background: @white;
      font-weight: 800;

      &:hover {
        //background: tan;
      }
    }
  }

  &__clear {
    position: absolute;
    top: -5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__type {
    margin-right: 35px;
  }

  &__name {
    margin-left: 10px;
    line-height: 20px;
  }
}

@import 'BaseObjSettings-nigthmode';
