@import (reference) '../../../../styles/custom.less';

.nightmode {
  .BaseObjSettings {
    &__searchCard {
      border-color: @normal-grey;
    }

    &__resultList {
      .BaseObjSettings__resulItem {
        border-color: @normal-grey;
        background: @grey-nero;
      }
    }
  }
}
