@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

@import (css) '../../../../node_modules/@react-page/editor/lib/index.css';
@import (css) '../../../../node_modules/@react-page/core/lib/index.css';
@import (css) '../../../../node_modules/@react-page/ui/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-slate/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-image/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-background/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-spacer/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-video/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-divider/lib/index.css';

.ObjectOfTypeWebpage {
  font-size: 18px !important;
  font-family: 'Source Serif Pro', serif;
  color: @black;
  blockquote {
    display: flex !important;
  }
  blockquote::before {
    content: '\201C';
    font-size: inherit;
  }

  blockquote::after {
    content: '\201D';
    font-size: inherit;
  }
  .react-page-editable {
    min-height: 600px !important;
  }

  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 24px !important;
  }
  h4 {
    font-size: 22px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  ul {
    list-style: disc !important;
  }
  .react-page-cell-inner-leaf.slate {
    padding: 20px !important;
  }
  &__empty-placeholder {
    background: @white;
    border: 1px solid @white-gainsboro;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
  .react-page-controls-mode-toggle-control-group {
    max-height: fit-content !important;
    padding-right: 0 !important;
    @media @small {
      padding-right: 0 !important;
    }
    @media @medium {
      padding-right: 100px !important;
    }
  }

  .react-page-controls-trash {
    display: none !important;
  }

  .css-1p7a5wk-MuiButtonBase-root-MuiFab-root,
  .css-1fo2sjy-MuiButtonBase-root-MuiFab-root:not(:disabled) {
    background-color: var(--website-color) !important;
  }
}

.css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root,
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked,
.css-1gws2xf-MuiButtonBase-root-MuiIconButton-root,
.css-187mznn-MuiSlider-root,
.css-kw0y8f-MuiSvgIcon-root,
.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--website-color) !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track,
.css-1aquho2-MuiTabs-indicator,
.css-9rrh7h-MuiButtonBase-root-MuiFab-root,
.css-qize55-MuiButtonBase-root-MuiFab-root {
  background-color: var(--website-color) !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: var(--website-color) !important;
  border-color: var(--website-color) !important;
  color: var(--website-text-color) !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border-color: var(--website-color) !important;
  color: var(--website-color) !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--website-color) !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
.css-l4u8b9-MuiInputBase-root-MuiInput-root:after {
  border-bottom-color: var(--website-color) !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: var(--website-color) !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: var(--website-color) !important;

  &:hover {
    background-color: var(--website-light-color) !important;
  }
}
.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
  background-color: @red!important;
}

.colorPickerPlugin-TextColor {
  font-size: 20px;
}
li:hover {
  cursor: pointer;
}
