@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

@import (css) '../../../../node_modules/@react-page/editor/lib/index.css';
@import (css) '../../../../node_modules/@react-page/core/lib/index.css';
@import (css) '../../../../node_modules/@react-page/ui/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-slate/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-image/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-background/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-spacer/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-video/lib/index.css';
@import (css) '../../../../node_modules/@react-page/plugins-divider/lib/index.css';

.ObjectOfTypeWebpage {
  font-size: 18px !important;
  font-family: 'Source Serif Pro', serif;
  color: @black;
  .ready-to-publish-btn {
    span {
      font-family: 'Whitney', sans-serif;
    }
  }
  blockquote {
    display: flex !important;
  }
  blockquote::before {
    content: '\201C';
    font-size: inherit;
  }

  blockquote::after {
    content: '\201D';
    font-size: inherit;
  }
  .react-page-editable {
    min-height: 600px !important;
  }

  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 24px !important;
  }
  h4 {
    font-size: 22px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  ul {
    list-style: disc !important;
  }
  .react-page-cell-inner-leaf.slate {
    padding: 20px !important;
  }
  &__empty-placeholder {
    background: @white;
    border: 1px solid @white-gainsboro;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
  .react-page-controls-mode-toggle-control-group {
    max-height: fit-content !important;
    padding-right: 0 !important;
    @media @small {
      padding-right: 0 !important;
    }
    @media @medium {
      padding-right: 100px !important;
    }
  }

  .react-page-controls-trash {
    display: none !important;
  }
}

.MuiSwitch-thumb,
.MuiSwitch-track,
.MuiTabs-indicator,
.MuiButton-containedPrimary,
.MuiFab-primary:not(:disabled),
.MuiFab-secondary:not(:disabled) {
  background-color: var(--website-color) !important;
}

.MuiSlider-rail,
.MuiSlider-thumb,
.MuiSlider-track,
.Mui-selected,
.MuiSvgIcon-colorSecondary,
.MuiIconButton-colorPrimary,
.MuiButton-outlinedPrimary,
.MuiIconButton-colorSecondary {
  color: var(--website-color) !important;
}

.MuiButton-outlinedPrimary {
  border-color: var(--website-color-hover) !important;

  &:hover {
    background-color: var(--website-color-hover) !important;
  }
}

.colorPickerPlugin-TextColor {
  font-size: 20px;
}
li:hover {
  cursor: pointer;
}
