@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.SocialProductReviews {
  &__heading {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: @black;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    border: none;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    color: var(--website-color);
    background: transparent;
    cursor: pointer;
  }
}
