@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.SocialProductReviews {
  &__heading {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: @black;
  }
  &__container {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    @media @small {
      margin-bottom: 10px;
    }
  }

  &__link {
    border: none;
    padding-bottom: 8px;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 18px;
    margin-right: 0;
    color: var(--website-color);
    background: transparent;
    cursor: pointer;
    @media @small {
      text-transform: uppercase;
      margin-right: 20px;
      font-weight: 600;
    }
  }
}
