.WAIVwallet {
  .WalletSummaryInfo__icon {
    color: #f87007;
  }

  &__showWrap {
    padding: 4px 20px 4px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14px;

    .ant-checkbox-wrapper {
      margin-right: 10px;
      line-height: 22px;
    }
  }

  .WalletSummaryInfo {
    &__value {
      &--cursorPointer {
        cursor: pointer;
      }
    }
  }
}
