.WAIVwallet {
  .WalletSummaryInfo__icon {
    color: #f87007;
  }

  &__showWrap {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    .ant-checkbox-wrapper {
      margin-right: 10px;
      line-height: 22px;
    }
  }
}
