@import (reference) '../../../styles/custom.less';

.nightmode {
  .MatchBotTable {
    & td {
      border: 1px solid @grey-darkGrey;
    }

    & th {
      border: 1px solid @grey-darkGrey;
    }

    & thead th {
      color: @white-smoke;
    }
  }
}
