@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.MatchBotTable {
  border: 1px solid @black;
  text-align: center !important;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: medium;

  & td {
    border: 1px solid @black;
  }

  & th {
    text-align: center !important;
    border: 1px solid @black;
  }

  & thead th {
    font-weight: 500;
    color: @black;
    text-align: left;
  }

  & tbody td {
    font-weight: 500;
    font-size: small;
    padding: 3px 2px;
  }

  &.basicWidth {
    width: 9% !important;
  }

  &.mediumWidth {
    width: 33% !important;
  }

  &.maxWidth {
    width: 40% !important;
  }
}

@import 'MatchBotTable-nightmode';
