@import (reference) '../../../styles/custom.less';
@import (reference) '../../../components/Sidebar/User.less';

.top-performers {
  &__header {
    padding-bottom: 6px;
  }

  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__more {
    text-align: center;
    color: @blue-botticelli;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: @primary-color;
    }
  }

  .performer:extend(.User) {
    &__top:extend(.User__top) {
    }

    &__links:extend(.User__links) {
    }

    &__avatar {
      .ObjectAvatar {
        height: 34px;
        width: 34px;
        min-width: 34px;
      }
    }

    &__name:extend(.User__name) {
    }

    &__stat-info:extend(.User__follow) {
      font-size: 15px;
      &.success {
        color: @green-darker;
      }
      &.danger {
        color: @red;
      }
    }

    &__divider:extend(.User__divider) {
      margin: 8px 0;
    }
  }
}

.top-performers.SidebarContentBlock {
  padding-bottom: 8px;
  transition: all 0.5s;

  .SidebarContentBlock__title {
    justify-content: center;
    margin-bottom: 8px;
  }

  .SidebarContentBlock__content {
    padding: 0 8px;
  }
}

@import './TopPerformers-nightmode';
