@import (reference) '../../styles/custom.less';

.nightmode {
  .MapOS {
    &__zoom-button {
      color: @black;
    }
    &__overlay-wrap {
      background-color: @grey-nero;
      border: 1px solid @black;
      &-name {
        margin-left: 3px;
      }
    }
  }
}
