@import (reference) '../../styles/custom.less';

.gm-ui-hover-effect {
  display: none !important;
}
.pigeon-attribution {
  display: none;
}
.gm-style-iw {
  text-align: center;
  .tooltip-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
