@import (reference) '../../styles/custom.less';

.MapOS {
  position: relative;
  &__fullscreenContent {
    width: 100%;
    height: 60vh;
    position: relative;
    margin: 15px 0;
  }
  .mapButton-mixin() {
    position: absolute;
    cursor: pointer;
    &-button {
      width: 25px;
      height: 25px;
      text-align: center;
      background-color: @white;
      border: 1px solid @border-color-base;
      &:hover {
        background-color: @border-color-base;
      }
    }
    &:hover {
      background-color: @border-color-base;
    }
  }
  &__fullScreen {
    .mapButton-mixin();
    right: 10px;
    bottom: 15px;
    background-color: @white;
    width: 25px;
    height: 25px;
  }
  &__locateGPS {
    .mapButton-mixin();
    left: 10px;
    bottom: 15px;
  }
  &__zoom {
    .mapButton-mixin();
    right: 10px;
    top: 10px;
    font-weight: bold;
  }
  &__overlay-wrap {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: @white;
    border: 1px solid @black;
    &-name {
      margin-left: 3px;
    }
  }
  .gm-ui-hover-effect {
    display: none !important;
  }
  .pigeon-attribution {
    display: none;
  }
  .gm-style-iw {
    text-align: center;
    .tooltip-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@import 'Map-nightmode';
