.UserExpertise {
  margin-top: -22px;

  &__item {
    cursor: pointer;
    color: #99aab5;
    font-size: 16px;
    font-weight: 500;
  }

  &__badge {
    color: #c2ccd3;
    margin-left: 6px;
  }
}
