@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.UserWallet {
  &__view-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: -15px;
    cursor: pointer;
    color: @orange-hot;
    transition: all 0.3s ease;

    &:hover {
      color: @neon-carrot;
    }

    &:active {
      color: @active-orange-btn;
    }
  }
}
