@import (reference) '../styles/custom.less';

.UserReblogModal {
  &__header {
    display: flex;
    align-items: center;
  }

  &__content {
    padding-right: 16px;
  }

  .Discover__user__profile {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &__header {
      width: 100%;
    }
  }
}
