@import (reference) '../styles/custom.less';

.UserReblogModal {
  &__header {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 12px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      color: @orange-hot;
      font-weight: 500;
      border-bottom: 2px solid @orange-hot;

      .share {
        vertical-align: -1px;
        margin-right: 10px !important;
      }
    }

    &:after {
      content: '';
      width: 80%;
      border-bottom: 1px solid @white-gainsboro;
    }
  }

  .Discover__user__profile {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &__header {
      width: 100%;
    }
  }
}
