@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.Rewards {
  width: 100%;
  .RewarsHeader {
    &-block {
      display: flex;
      flex-direction: column;
    }
    &-wrap {
      background-color: @white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid @blue-hawkesBlue;
      border-bottom: none;
    }

    &-payment {
      font-size: 22px;
    }
  }
  .ObjectCardView {
    margin-top: 0;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @tertiary-color;
    font-size: 2em;
    font-weight: 500;
  }
  &__toggler-wrap {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    color: @tertiary-color;
    button {
      margin-left: 15px;
    }
  }
}
