@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

@wrapPadding: 15px;

.Rewards {
  width: 100%;

  .RewardBreadcrumb {
    .ant-breadcrumb {
      font-size: 1.7em;
      font-weight: 500;
    }
  }

  .ObjectCardView {
    margin-top: 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @tertiary-color;
    font-size: 2em;
    font-weight: 500;
  }

  &__toggler-wrap {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    color: @tertiary-color;

    button {
      margin-left: @wrapPadding;
    }
  }
}

.Rewards-modal {
  &__user-card {
    display: flex;
    align-items: center;
  }
}

.RewardBreadcrumb {
  display: none;
  @media @small {
    display: block;
  }
}

.FilteredRewardsList {
  padding: 0 @wrapPadding;
  @media @small {
    padding: 0;
  }
  &__header {
    padding: 0px 30px 8px;
    @media @small {
      display: none;
    }
    &-text {
      text-transform: capitalize;
      font-size: large;
      font-weight: bold;
      color: @black;
    }
  }
}

@import 'Rewards-nightmode';
