@import (reference) '../styles/custom.less';

.nightmode {
  .Rewards {
    .RewardBreadcrumb {
      .ant-breadcrumb-link {
        color: @primary-color;

        & a {
          color: @orange-hot;
        }

        & a:hover {
          color: @color-hover-border;
        }

        &:not(a) {
          color: @blue-baliHai;

          &:hover {
            color: @blue-baliHai;
          }
        }
      }
    }

    .ant-breadcrumb-separator {
      color: @blue-baliHai;
    }

    &__title {
      color: @blue-baliHai;
    }

    &__toggler-wrap {
      color: @blue-baliHai;
    }
  }

  .FilteredRewardsList {
    &__header-text {
      color: @white-smoke;
    }
  }
}
