@import (reference) '../../../../styles/custom.less';

.LoggedMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__link {
    color: @white;
    height: 2rem;
    line-height: 2rem;
    text-align: end;
    font-weight: 500;
    width: fit-content;
  }
}
