@import (reference) '../../../../styles/custom.less';

.LoggedMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    padding-bottom: 0.3rem;
    color: @white;
    height: 2rem;
    line-height: 2rem;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;

    &.logPanel {
      display: flex;
      justify-content: center;
      border-top: 1px solid @white;
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  .ant-menu-item-selected {
    background-color: @blue-dodgerBlue !important;
  }

  .Topnav__menu {
    color: @white !important;
  }

  .mobile-height {
    height: 3.5rem !important;
  }
}
