@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.UserProfitability {
  display: flex;
  position: relative;
  padding: 5px 15px;
  flex-direction: column;
  align-items: center;

  &__value {
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
  }

  &__profit {
    font-weight: bold;
  }

  &__loader {
    padding-top: 20px;
    width: 50px;
    height: 85px;
  }
}

.UserProfitability.success {
  color: @green;
}

.UserProfitability.unsuccess {
  color: @red;
}
