@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.UserProfitability {
  display: flex;
  position: relative;
  padding: 5px 15px;
  flex-direction: column;
  align-items: center;

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;

    &-value {
      position: absolute;
      margin-top: 30px;
      max-width: 60%;
    }

    &-chart {
      display: flex;
      justify-content: center;
      width: 78px;

      @media @xsmall {
        width: 95px;
      }
    }
  }

  .UserProfitability__data-wrapper-value {
    .neutral_count_pips {
      font-size: large;
      font-weight: bold;
      color: @grey-mortar;
    }
  }

  &__value {
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
  }

  &__profit {
    font-weight: bold;
  }

  &__loader {
    padding-top: 20px;
    width: 50px;
    height: 85px;
  }
}

.UserProfitability.success {
  color: @green;
}

.UserProfitability.unsuccess {
  color: @red;
}

.hideChart {
  display: none;
}
