@import (reference) '../../../styles/custom.less';

.UserProfitability {
  display: flex;
  position: relative;
  padding: 5px 15px;
  flex-direction: column;
  align-items: center;
  &__value {
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
  }
  &__profit {
    font-weight: bold;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    justify-content: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.UserProfitability.success {
  color: @green;
}

.UserProfitability.unsuccess {
  color: @red;
}
