@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Chat {
  position: fixed;
  display: flex;
  width: 560px;
  height: calc(((100% - 20px) - 70px) - 25px) !important;
  bottom: 50px;
  max-height: 460px;
  left: 200px;
  z-index: 1200;
  border: 1px solid black;
  border-radius: 10px;
  background-color: @white-ghostWhite;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.Chat.hide-element {
  display: none;
}
.Chat__wrap > iframe {
  height: 100%;
}
