@import (reference) '../../../styles/custom.less';

.ManageDelegate {
  .TokenManage:last-child {
    border-bottom: none;
    padding: 15px 0 0;
  }
  .TokenManage:first-child {
    padding: 0 0 20px;
  }
}
