.ReportsGlobal {
  margin-bottom: 20px;

  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }

  &__sponsors {
    .SelectUserForAutocomplete {
      margin-bottom: 5px;
    }
  }

  &__label {
    display: inline-block;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 0 5px;
  }

  &__row {
    margin-bottom: 0;
  }

  .ant-col.ant-form-item-label {
    padding: 0;
  }

  .PaymentTable {
    margin-top: 25px;
    width: 100%;
  }

  &__filters_block {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
}
