.ReportsGlobal {
  margin-bottom: 20px;

  &__sponsors {
    .SelectUserForAutocomplete {
      margin-bottom: 5px;
    }
  }

  &__label {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }

  &__row {
    margin-bottom: 24px;
  }

  .PaymentTable {
    margin-top: 25px;
    width: 100%;
  }
}
