@import (reference) '../../styles/modules/variables';

.ReportsGlobal {
  margin-bottom: 20px;

  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }

  &__sponsors {
    .SelectUserForAutocomplete {
      margin-bottom: 5px;
    }
  }

  &__label {
    display: inline-block;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 0 5px;
  }

  &__row {
    margin-bottom: 0;
  }

  .ant-col.ant-form-item-label {
    padding: 0;
  }

  .PaymentTable {
    margin-top: 25px;
    width: 100% !important;
    font-size: 10px;

    @media @small {
      th {
        font-size: 14px;
        word-break: break-word;
      }
    }
  }

  &__filters_block {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  &__picker {
    min-width: 50% !important;
    &:first-child {
      margin-right: 5px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__currency {
    margin: 0 5px;
  }

  &__checkbox {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  &__wrapButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
