@import (reference) '../../../styles/custom.less';

.ObjectExpertiseByType__more {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;

  a {
    color: #99aab5;
  }
}

.UserCard {
  align-items: center;

  &:last-child {
    border-bottom: none !important;
  }
}

.ObjectExpertise__dots {
  text-align: center;
}
