@import (reference) '../../../styles/custom.less';

.ObjectExpertiseByType__more {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  color: @orange-hot;

  & > a {
    font-weight: 500;
  }

  & > div {
    cursor: pointer;
  }

  .UserCard {
    align-items: center;
  }
}

.ObjectExpertise__dots {
  text-align: center;
}
