@import (reference) '../../../styles/custom.less';

.ObjectExpertiseByType {
  &__buttons-wrapper {
    display: flex;
    justify-content: space-around;

    &-item {
      padding: 16px 16px 0 16px;
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      color: @blue-botticelli;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        color: @orange-neonCarrot;
      }

      .UserCard {
        align-items: center;
      }
    }
  }
}

.ObjectExpertise__dots {
  text-align: center;
}
