@import (reference) '../../../styles/custom.less';

.nightmode {
  .UserForecastInstruments {
    border: 1px solid @normal-grey;
    background-color: @grey-nero;
    &__title {
      border-bottom: 1px solid @normal-grey;
    }
  }
}
