@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables';
@import (reference) '../../../styles/mixins';

.UserForecastInstruments {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: @white;
  border: 1px solid @white-gainsboro;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;

  &__title {
    .content-block-title(center);
  }
  &__chart {
    padding-top: 0.5rem;
    width: 80%;
    @media @xsmall {
      width: 95%;
    }
  }
}

@import 'UserForecastInstruments-nightmode';
