@import (reference) '../../../styles/custom.less';

.UserForecastInstruments {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: @white;
  border: 1px solid @white-gainsboro;
  border-radius: 4px;
  margin-bottom: 10px;

  &__title {
    padding: 8px 0 8px 0;
    font-weight: bold;
  }
  &__chart {
    padding-top: 10px;
    border-top: 1px solid @white-gainsboro;
    align-self: center;
    width: 100%;
  }
}

@import 'UserForecastInstruments-nightmode';
