.AsinScanner {
  &__description {
    padding: 10px 0;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__datafinitiBlock {
    padding: 10px;
    border-top: 1px solid gray;
    margin-top: 40px;

    h4 {
      margin-bottom: 15px;
    }
  }
}
