@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.BusinessMenuItems {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  //columns: 4;
  background: #fafbfc;
  border-top: solid 1px @white-gainsboro;
  border-bottom: solid 1px @white-gainsboro;
  width: 100%;
  margin-bottom: 15px;

  &__popover-item {
    width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
  }
  &__popover {
    .PopoverMenuItem {
      text-transform: uppercase;
      height: 40px;
      color: var(--website-color);
      padding: 0;
      width: 280px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-align: start;
    cursor: pointer;
    color: var(--website-color);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    a:before {
      content: '';
      position: absolute;
      right: -4px;
      transform: translate(50%, -50%);
      top: 50%;
      width: 2px;
      height: 25px;
      background-color: var(--website-color);
      //border-radius: 50%;
    }

    @media @small {
      text-align: center;
      font-size: 24px;
      padding: 20px 10px;
    }
  }
  &__item-first {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-align: start;
    cursor: pointer;
    color: var(--website-color);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

    a:after,
    a:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 2px;
      height: 25px;
      background-color: var(--website-color);
      //border-radius: 50%;
    }

    a:after {
      right: -4px;
      transform: translate(50%, -50%);
    }

    a:before {
      left: -2px;
      transform: translate(10%, -50%);
    }

    @media @small {
      text-align: center;
      font-size: 22px;
      padding: 20px 10px;
    }
  }
  &__menu-item {
    display: inline-block;
    text-transform: uppercase;
    text-align: start;
    cursor: pointer;
    color: var(--website-color);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

    @media @small {
      text-align: center;
      font-size: 24px;
      padding: 20px 10px;
    }
  }
}
