@import (reference) '../../../styles/custom.less';

.nightmode {
  .ObjectsRelated__more {
    color: @white;
    border-top: 1px solid @normal-grey;

    & span:hover {
      color: @blue-vivid;
    }
  }
}
