@import (reference) '../../../styles/custom.less';

.ObjectsRelated__more {
  margin: 0 15px 0 15px;
  padding: 15px 0 0;
  display: flex;
  justify-content: space-between;
  color: @blue-baliHai;
  border-top: @base-border;

  &:hover {
    color: @primary-color;
  }

  & > a {
    color: @blue-botticelli;
    font-weight: 500;
  }

  & > div {
    cursor: pointer;
  }

  .UserCard {
    align-items: center;
  }
}

.ObjectExpertise__dots {
  text-align: center;
}

@import 'ObjectsRelated-nightmode.less';
