@import (reference) '../../../styles/custom.less';

.ObjectsRelated__more {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  color: #f87007;

  & > a {
    color: @blue-botticelli;
    font-weight: 500;
  }
}

.UserCard {
  align-items: center;
}

.ObjectExpertise__dots {
  text-align: center;
}
