@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.MarketBuyCard {
  &__per-waiv {
    color: @blue-botticelli;
    font-size: 12px;
    margin-top: 3px;
  }

  &__quantity {
    color: @black;
  }

  &__lower-text {
    display: flex;
    justify-content: space-between;
  }

  &__space {
    margin: 0 4px;
  }
}

@import 'MarketBuyCard-nightmode';
