@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.MarketBuyCard {
  &__quantity {
    color: @black;
  }
  &__lower-text {
    display: flex;
    justify-content: space-between;
  }
  &__space {
    margin: 0 4px;
  }
}

@import 'MarketBuyCard-nightmode';
