@import (reference) '../../styles/custom.less';

.Payout {
  position: absolute;
  right: 0;
  color: @blue-botticelli;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;

  & > .iconfont {
    margin-left: 4px;
    vertical-align: -3px;
    font-size: 24px !important;
    color: @blue-linkWater;
  }

  &--waiv {
    color: @orange-hot;

    & > .iconfont {
      color: @orange-hot;
    }
  }

  &--rejected {
    text-decoration: line-through;
  }

  &__waiv-eligible {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
  }
}

div[data-dir='rtl'] .Payout {
  right: unset;
  left: 0;

  & > .iconfont {
    margin-left: 0px;
    margin-right: 4px;
  }
}
