@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';

.ReferralInstructions {
  .referrals-main-styles();

  &__title {
    padding-bottom: 10px;
  }

  &__description {
    padding-bottom: 10px;
  }

  &__is-blacklist {
    color: @black;

    &__referral-username {
      .referrals-link-button();
    }
  }

  &__wrap-conditions {
    display: flex;
    padding: 20px 0 20px;

    &__condition-content {
      display: flex;
      align-items: baseline;
      padding-left: 5px;

      &__star-flag {
        color: @red-danger;
        font-size: 25px;
        line-height: 5px;
      }
    }
  }

  &__accepted-conditions {
    &__text-wrap {
      line-height: 35px;
      padding-bottom: 40px;

      &__title {
        font-weight: 600;
      }

      &__links {
        display: flex;
        flex-direction: column;
      }
    }

    &__widget-title {
      font-weight: 600;
    }

    &__widget {
      background: @grey-darkGrey;
      padding: 10px;
      margin: 10px 0 10px;
      width: 100%;
      height: auto;
    }

    &__an-example {
      padding-top: 10px;

      &__text-link {
        .referrals-link-button();
      }
    }

    &__alert {
      padding-top: 40px;
    }
  }
}

@import 'ReferralsInstructions-nightmode';
