@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Payment {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;

  &__title {
    font-size: x-large;
    padding: 25px 0 25px;
  }
}
