@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Payment {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 0 5px;

  @media @small {
    padding: 0;
  }

  &__title {
    display: flex;
    font-size: 20px;
    flex-direction: column;

    @media @small {
      font-size: 25px;
      flex-direction: row;
    }

    &-payment {
      font-weight: 500;
      margin: 0 15px 0 0;
      padding-bottom: 5px;
    }

    &-link {
      color: @black-text-basic;
    }

    &-pay {
      display: flex;
      font-size: medium;
      font-weight: 500;
      align-items: center;
      padding-bottom: 5px;

      .WalletSidebar__transfer {
        margin-bottom: 0;
        max-width: 150px;
      }
    }
  }

  &__information-row {
    padding-bottom: 5px;

    &-important {
      color: @orange-hot;
      padding-right: 5px;
    }
  }

  &__notPayedPeriod {
    display: block;
    margin-left: 10px;
    font-weight: 500;
    white-space: pre;

    &--hidden {
      display: none;
    }

    &--expired {
      color: @orange-hot;
      white-space: pre;
    }
  }
}

@import 'Payment-nightmode';
