@import (reference) '../../styles/custom.less';

.nightmode {
  .ant-calendar-time-picker-btn-disabled {
    color: #f5f5f5 !important;
  }

  .ant-calendar-today-btn-disabled {
    color: @grey-nero;
  }

  .ant-calendar-day-select {
    color: @white-smoke !important;
  }

  .ant-calendar-time-picker-select,
  .ant-calendar-time-picker-select-option-selected {
    background-color: @grey-nero;
  }

  .ant-calendar-time-picker-select-option-selected {
    background-color: @grey-empress;
    border-bottom: 1px solid @white-smoke;
  }

  .ant-calendar-time-picker-select li:hover {
    background-color: @grey-empress;
  }
}
