@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Reports {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-width: 310px;
  padding: 0 12px 0 12px;

  @media @small {
    padding: 0;
  }

  &__wrap {
    &-title {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.7em;
    }
  }

  .CreateReportForm {
    width: 520px;

    &__row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 8px;
    }

    &__label {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }

    &__tableHeader {
      padding-bottom: 15px;
    }

    .ant-form-item {
      margin-bottom: 5px;

      .submitBtn {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .ant-calendar-picker-input.ant-input {
      width: 100%;
    }

    .ant-input.ant-select-search__field {
      width: 100%;
    }

    .ant-time-picker {
      padding-left: 10px;
    }

    .ant-input {
      width: 150px;
    }

    .ant-select-show-search {
      padding-left: 0;
    }
  }

  .PaymentTable {
    width: 100%;
    margin-bottom: 30px;

    &.basicWidth {
      width: 11%;
    }

    &.mediumWidth {
      width: 20%;
    }

    &.maxWidth {
      width: 56%;
    }
  }
}

.ant-calendar-selected-day .ant-calendar-date {
  &.ant-calendar-date[aria-selected='true'] {
    background: @orange-hot;
    color: @white;
    font-weight: bold;
    border: none;
  }

  &.ant-calendar-date[aria-disabled='true'] {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
  }
}

.ant-calendar-ok-btn-disabled,
.ant-calendar-time-picker-btn-disabled {
  cursor: not-allowed !important;
}

.ant-calendar-today-btn-disabled {
  color: transparent !important;
  cursor: default !important;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: @orange-hot !important;
}

@media (max-width: 414px) {
  .Reports {
    .ant-form {
      width: 75%;
    }

    .CreateReportForm {
      &__label,
      .ant-input,
      .ant-checkbox-wrapper {
        font-size: 14px;
      }

      &__row {
        align-items: flex-start;
      }

      .ant-form-item-label {
        line-height: 1.1;

        label {
          font-size: 14px;
        }
      }

      .ant-form-item-children {
        #ReportsForm_amount {
          width: 120%;
        }

        .ant-select-selection__placeholder {
          font-size: 14px;
        }

        #ReportsForm_currency {
          width: 80px !important;
        }
      }

      .ant-calendar-picker-input.ant-input {
        width: 85%;
      }

      .ant-calendar-picker-icon {
        right: 40px;
      }

      .ant-select-selection-selected-value,
      .ant-select-dropdown-menu-item {
        font-size: 14px;
      }
    }

    &__wrap-title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .PaymentTable {
      width: 75%;

      td,
      th {
        font-size: 12px;
        line-height: 1.3;
      }

      &__action-items {
        margin-left: 2px !important;
      }

      &.maxWidth {
        width: 12%;
      }

      &.basicWidth {
        width: 5%;
      }

      &.mediumWidth {
        width: 7%;
      }
    }
  }
}

@media (max-width: 375px) {
  .Reports {
    .PaymentTable,
    .ant-form {
      width: 68%;
    }
  }
}

@media (max-width: 360px) {
  .Reports {
    .PaymentTable,
    .ant-form {
      width: 64%;
    }
  }
}

@import 'Reports-nightmode';
