.DetailsModal {
  &__requirementsList {
    margin-left: 2rem;
  }

  &__message {
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__text-wrap {
    margin: 10px 35px 25px;
  }
}
