@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.CampaignFooter {
  width: 100%;

  .Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media @small {
      flex-direction: row;
    }

    &__wrap {
      display: flex;
      align-items: center;
    }

    &__link {
      margin: 0 5px;
    }
  }

  &__actions {
    position: relative;
    @media @small {
      height: 46px;
      line-height: 46px;
    }
  }

  &__dislike:before {
    display: inline-block;
    transform: rotate(180deg);
  }

  &__button-icon {
    color: @blue-baliHai;
    font-size: 22px !important;
    margin-right: 5px;
    vertical-align: -2px;
  }
}
