@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';

.CampaignFooter {
  width: 100%;

  .Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media @small {
      flex-direction: row;
    }
    &__border {
      border-radius: 8px;
    }
    &__wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;

      &-text {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__avatar {
      display: flex;
      align-items: center;

      .userName {
        margin-left: 10px;
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }

    &__link {
      margin: 0 5px;
    }
  }

  &__actions {
    position: relative;
    @media @small {
      height: 46px;
      line-height: 46px;
    }
  }

  &__dislike:before {
    display: inline-block;
    transform: rotate(180deg);
  }

  &__button-icon {
    color: @blue-baliHai;
    font-size: 22px !important;
    margin-right: 5px;
    vertical-align: -2px;
  }
}

.ant-input-number {
  width: 170px;

  &:focus {
    border-color: var(--website-color) !important;
    box-shadow: none !important;
  }

  &.ant-input-number-focused {
    border-color: var(--website-color);
    box-shadow: none;
  }
}

@media @medium-max {
  .CampaignFooter {
    .Buttons {
      &__wrap-text {
        max-width: 100px;
      }

      &__avatar {
        .userName {
          max-width: 100px;
        }
      }
    }
  }
}
