@import (reference) '../../styles/custom.less';

.edit-token {
  &__delete-button {
    background-color: @red;
    border: 1px solid @red;
    color: @white;
    display: block;
    margin-top: 10px;
  }
}
