@import (reference) '../../styles/custom.less';

.edit-token {
  border-top: none;

  &__select {
    max-width: 180px;
  }

  &__buttons-submit {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: right;
  }

  &__hr {
    margin: 10px 0;
  }

  &__delete-button {
    background-color: @red;
    border: 1px solid @red;
    color: @white;
    margin: 15px auto;
    display: block;

    &:hover {
      color: @white;
      background-color: @red-danger;
      border-color: @red-danger;
    }
  }

  &__delete-block {
    text-align: initial;
    margin-top: 20px;
  }

  &__save-button {
    background-color: @orange-hot;
    border: 1px solid @orange-hot;
    color: @white;
  }
}
