@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
.SocialInputItem {
  &__icon {
    //margin-top: -5px;
    margin-right: 7px;
    width: 12px;
    height: 12px;
  }
  &__addressValidate {
    display: inline-block;
    padding: 0 0 5px 0;
    color: @green;

    &--invalid {
      color: @red-danger;
    }
  }
}
