@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
.SocialInputItem {
  &__addressValidate {
    display: inline-block;
    padding: 0 0 5px 0;
    color: @green;

    &--invalid {
      color: @red-danger;
    }
  }
}
