.CompanyId {
  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
  }
  &__block {
    margin-top: 4px;
  }
  &__block-item {
    margin-bottom: 14px;
  }
  &__p {
    line-height: 18px;
    word-break: break-all;
  }
  &__wordbreak {
    word-break: break-all;
  }
  &__icon {
    font-size: 12px;
  }
  &__image {
    margin-top: 4px;
  }
}
