@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.MatchBots {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  position: static;

  @media @small {
    padding: 0 20px 0 0;
    position: absolute;
  }

  @media @large {
    padding: 0;
  }

  &__switcher {
    .ant-switch {
      background-color: @red;
    }

    .ant-switch-checked {
      background-color: @green-darker;
    }
  }

  .MatchBotTable {
    padding-inline: 0;

    @media @small {
      padding-inline: 15px;
    }

    .cell_note {
      word-break: break-all;
    }
  }
}
