@import '../../Common.less';

.st-post-current-price-wrap{
  .st-post-current-price-value-up{
    .st-form-post-deltaprice-p span{
      color: @color-green;
    }
  }
  .st-post-current-price-value-down{
    .st-form-post-deltaprice-p span{
      color: @color-red;
    }
  }
  .st-form-post-price-value-down, .st-form-post-price-value-up{
    span{
      align-items: flex-end;
    }
  }
  .st-post-current-price-triangle-up{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid @color-green;;
  }
  .st-post-current-price-triangle-down {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid @color-red;
  }
  .st-margin-arrow-top {
    margin-top: 8px;
  }
  .st-margin-arrow-bottom{
    margin-bottom: 8px;
  }
}


