@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.ModalSignIn {
  display: flex;
  flex-direction: column;
  padding: 0 65px 25px;

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;

    & > span {
      width: 100%;
    }
  }

  &__title {
    &--lined {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      color: @black;
      position: relative;
      margin: 20px 0;

      & > span {
        position: relative;
        background-color: @white;
        padding: 0 18px;
        z-index: 10;
      }

      &::after {
        content: '';
        display: block;
        background-color: @black;
        width: 55px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
      }

      &::before {
        content: '';
        display: block;
        background-color: @black;
        width: 55px;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }

  &__subtitle {
    align-self: center;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    display: block;

    & > span {
      display: block;
    }
  }

  &__icon-fb {
    margin-right: 10px;
    padding: 10px;
    border-radius: 2px;

    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &__signin {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0 2px 2px 0, rgba(0, 0, 0, 0.24) 0 0 1px 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 270px;
    height: 46px;
  }

  &__icon-steemit {
    margin-right: 10px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 2px;
  }

  align-items: center;
  justify-content: space-between;

  &__button {
    .btn;
    .btn-default;
    .btn-ghost;

    width: 100% !important;
    height: 46px !important;
    color: @white !important;
    font-size: 16px !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: @primary-color !important;
      background: @white !important;
      border: none !important;
    }
  }

  &__rules {
    text-align: center;
    margin: 20px 0 0;

    &:last-child {
      margin: 30px 0 0;
    }
  }
}
