@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables';
.DescriptionPage {
  a::after {
    display: none;
  }
  border-radius: 4px;
  border: 1px solid @white-gainsboro;
  background-color: @white;
  padding: 16px;
  &__body {
    padding: 0 12px 18px 12px;
    font-size: 20px;
    white-space: break-spaces;
  }
  &__image {
    border: 1px solid @white-gainsboro;
    margin: 10px 0;
    width: -webkit-fill-available;
    cursor: pointer;
  }
}
