.element-image {
  width: 100%;
}

.element-image img {
  width: 100%;
  height: 100%;
}

.md-block-image-figure {
  margin: 16px 0;
  text-align: center;
}

.md-block-image-caption {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-top: 8px;
  color: #666;
  line-height: 1.4;
}
