@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

@wrapPadding: 15px;

.Proposition {
  margin-bottom: @wrapPadding;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrap {
    width: 95%;
    background-color: @white;
    border: 2px solid @orange-hot;
    border-radius: 4px;
  }

  &__card {
    position: relative;
    width: 100%;
    bottom: 215px;

    .ObjectCardView {
      box-shadow: 2px 2px 8px -2px @blue-botticelli;
      overflow: hidden;
      background-color: @white;
      &__name-truncated {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .RewardsHeader {
    &-block {
      border: 0 !important;
      border-radius: 4px 4px 0 0 !important;
    }

    &-wrap {
      border-radius: 0;
      margin-bottom: 15px;
    }

    &-wrap-second {
      display: flex;
      justify-content: space-between;
      padding-top: @wrapPadding;
      border-top: 1px solid @blue-hawkesBlue;
    }

    &-details {
      cursor: pointer;
    }

    &__user-card {
      display: flex;
      align-items: center;

      &-username {
        margin-left: 10px;
        color: @normal-grey;
      }

      &-alias {
        margin-left: 10px;
        font-weight: bold;
        color: @black;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__author {
    display: flex;
    width: 50%;
    align-items: center;

    .UserCard {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__author-title {
    margin-right: @wrapPadding;
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @wrapPadding;
  }

  &__object-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ObjectCard {
      padding: @wrapPadding 0;
      width: 100%;
      border: none;
    }
  }

  .WriteReview-button {
    margin-right: @wrapPadding;
  }
}

@import 'Proposition-nightmode';
