@import (reference) '../../styles/custom.less';

.nightmode {
  .Proposition {
    margin-bottom: 15px;

    &--hovered {
      &:hover {
        .Proposition__header,
        .Proposition__footer {
          background: @blue-darkGrayish;
        }
      }
    }

    &__header {
      background-color: @grey-nero;
    }

    &__footer {
      background-color: @grey-nero;
    }

    &__card {
      .ObjectCardView {
        background-color: @grey-nero;
      }
    }
  }
}
