@import (reference) '../../../styles/custom.less';

.nightmode {
  .PowerSwitcher {
    &__wrapper {
      .ant-btn {
        background: @grey-nero;
        color: @white-smoke;

        &:hover {
          color: @orange;
          border-color: @orange;
        }

        &-primary {
          color: @white-smoke;
          background: @orange-hot;

          &:hover {
            color: @white-smoke;
            background: @orange;
          }
        }
      }
    }
    &__amount {
      outline: none;
      border-color: @normal-grey;

      .ant-input {
        border: none !important;
        padding: 0;
        height: 30px;
        outline: none;
        box-shadow: none !important;

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    &__currency .ant-select-selection,
    .has-error .ant-select-selection {
      border-radius: 0 4px 4px 0;
      width: 180px;
    }

    .ant-select-selection-selected-value &__currency-balance {
      display: none;
    }

    &__max-button {
      border-color: @normal-grey;
      color: @white-smoke;
    }
  }
}
