@import (reference) '../../../styles/custom.less';

.PowerSwitcher {
  label {
    font-weight: 800;
  }

  &__row {
    margin-bottom: 25px;

    .ant-form-item-children {
      display: flex;
    }
  }

  .has-error &__amount {
    border-color: @red-danger;
  }

  &__amount {
    outline: none;
    border: @base-border;
    border-radius: 4px 0 0 4px;
    border-right: none;
    padding: 0 55px 0 10px;
    height: 32px;

    .ant-input {
      border: none;
      padding: 0;
      height: 30px;
      outline: none;
      box-shadow: none !important;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__currency .ant-select-selection,
  .has-error .ant-select-selection {
    border-radius: 0 4px 4px 0;
    width: 180px;
  }

  .ant-select-selection-selected-value &__currency-balance {
    display: none;
  }

  &__current-currency-balance {
    border-bottom: 1px dotted @grey-silverChalice;
    cursor: pointer;
  }

  .ant-form-item-control {
    margin-bottom: 0;
  }

  &__options {
    display: flex;
    justify-content: space-between;
  }

  &__notice {
    padding: 15px 0;
    font-weight: 500;

    h4 {
      font-weight: 800;
    }
  }

  .ant-row.ant-form-item {
    margin: 0;
  }

  &__max-button {
    display: inline-block;
    border: @base-border;
    border-radius: 4px;
    padding: 0 5px;
    cursor: pointer;
  }
}

@import 'PowerSwitcher-nightmode';
