@import (reference) '../../styles/modules/variables.less';

.ShopList {
  margin-bottom: 20px;
  padding: 0 10px;

  @media @small {
    padding: 0;
  }

  &__title {
    display: none;

    @media @small {
      display: block;
    }
  }

  &__tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .anticon.anticon-right {
    font-size: 12px;
  }

  a.ShopList__departments-title {
    font-weight: bold;
    cursor: pointer;
    color: black;
  }

  &__departments {
    padding: 15px 0 0;

    &--hasQuery {
      padding: 0;
    }

    &--isSocial {
      .ObjCardListViewSwitcherForShop__departmentsList {
        .ShopObjectCard {
          width: calc((100% - 40px) / 5);

          &:nth-child(5n) {
            margin-right: 0;
          }

          &:nth-child(3n) {
            margin-right: 10px;
          }

          @media (max-width: 1200px) and (min-width: 999px) {
            width: calc((100% - 30px) / 4);

            &:nth-child(4n) {
              margin-right: 0;
            }
          }

          @media (max-width: 998px) and (min-width: 481px) {
            width: calc((100% - 20px) / 3);

            &:nth-child(3n) {
              margin-right: 0;
            }
          }

          @media (max-width: 480px) {
            width: calc((100% - 10px) / 2);

            &:nth-child(2n) {
              margin-right: 0;
            }
          }

          &__avatarWrap {
            width: 155px;
            height: 155px;

            @media @small {
              width: 200px;
              height: 200px;
            }
          }
        }
      }
    }
  }

  &__showMore {
    margin-top: 10px;
    display: inline-block;
  }
}

@import 'ShopList-nightmode';
