.ShopList {
  margin-bottom: 20px;

  .anticon {
    font-size: 12px;
  }

  &__title {
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;

    a {
      color: black;
    }
  }

  &__departments {
    padding: 15px 0 0;
    font-weight: 600;
  }

  &__showMore {
    margin-top: 10px;
    display: inline-block;
  }
}
