.CreateImage {
  &__hidden {
    display: none !important;
  }
  &__previewWrap {
    display: flex;
    justify-content: center;
  }
  &__preview {
    max-width: 100%;
    max-height: 450px;
  }
  &__submit {
    margin-top: 10px !important;
    margin-bottom: 0 !important;

    .ant-form-item-control {
      text-align: right !important;
    }
  }
}
