@import (reference) '../../styles/custom.less';

.GalleryAlbum {
  &__image {
    max-height: 100%;
    max-width: 100%;
    width: auto !important;
  }
  .ant-card-cover {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e7e7;
  }
  .ant-card {
    margin-bottom: 15px;
  }
}
