@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/mixins.less';

.PaymentTable {
  border: 1px solid @black;
  text-align: center !important;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14px;

  @media @small {
    width: 95% !important;
  }

  @media @medium {
    width: 75% !important;
  }

  @media @large {
    width: 80% !important;
  }

  & td {
    border: 1px solid @black;
  }

  & th {
    vertical-align: top;
    text-align: center !important;
    border: 1px solid @black;
  }

  & thead th {
    font-weight: 500;
    color: @black;
    text-align: left;
  }

  & tbody td {
    font-weight: 500;
    font-size: 12px;
    padding: 1px;

    @media @small {
      font-size: small;
      padding: 3px 2px;
    }
  }

  &.basicWidth {
    width: 11% !important;
  }

  &.mediumWidth {
    width: 17% !important;

    @media @small {
      width: 27% !important;
    }
  }

  &.maxWidth {
    width: 30% !important;

    @media @small {
      width: 56% !important;
    }
  }

  &__action-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: break-word;
    //max-width: 150px !important;

    @media @small {
      word-break: break-all;
      max-width: none;
    }
  }

  &__action-items {
    text-align: start;
    margin-left: 0;
    word-break: break-word;

    @media @small {
      margin-left: 5px;
    }
  }

  &__balance-column {
    font-weight: bold !important;
  }

  &__report {
    cursor: pointer;
    color: @orange-hot;
  }

  &__showMore {
    .show-more-style();
  }
}

@import 'PaymentTable-nightmode';
