@import (reference) '../../../styles/custom.less';

.nightmode {
  .PaymentTable {
    border: 1px solid @normal-grey;
    & td {
      border: 1px solid @normal-grey;
    }

    & th {
      border: 1px solid @normal-grey;
    }

    & thead th {
      color: @white-smoke;
    }
  }
}
