@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.PaymentTable {
  border: 1px solid @black;
  text-align: center !important;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: medium;

  @media @small {
    width: 95%;
  }

  @media @medium {
    width: 75%;
  }

  @media @large {
    width: 80%;
  }

  & td {
    border: 1px solid @black;
  }

  & th {
    vertical-align: top;
    text-align: center !important;
    border: 1px solid @black;
  }

  & thead th {
    font-weight: 500;
    color: @black;
    text-align: left;
  }

  & tbody td {
    font-weight: 500;
    font-size: small;
    padding: 3px 2px;
  }

  &.basicWidth {
    width: 11%;
  }

  &.mediumWidth {
    width: 27%;
  }

  &.maxWidth {
    width: 40%;
  }

  &__action-column {
    text-align: start;
  }

  &__balance-column {
    font-weight: bold !important;
  }
}

@import 'PaymentTable-nightmode';
