@import '../../Common.less';

.st-modal-broker-forgot-password-wrap {
  width: 550px;
  .modal-content {
    background-color: #fff;
    top: 150px;
    .modal-header {
      background-color: #16254c;
      color: #fff;
      height: 40px;
      .close {
        cursor: pointer;
        color: #fff;
      }
      h4, .h4 {
        font-size: 14px;
        font-weight: bold;
      }
    }
    .modal-body {
      padding: 15px;
      display: table-column;
      align-self: center;
      .st-modal-broker-forgot-password-title {
        text-align: center;
        margin-bottom: 15px;
      }
      .st-modal-broker-forgot-password-select {
        margin-bottom: 15px;
        .Select-control {
          height: 35px;
          width: 300px;
        }
      }
      .st-modal-broker-forgot-password-input-wrap {
        margin-bottom: 15px;
        width: 300px;
        .formStyle();
      }
      .st-modal-broker-forgot-password-button {
        text-transform: uppercase;
        width: 300px;
      }
    }
  }
}
