.PayoutCurrencyBlock {
  &__currency {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
