@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.edit-post {
  &__saving-badge {
    text-align: right;
    height: 24px;

    .ant-badge-status-text {
      color: @grey-darkGrey;
    }
  }

  &__giveaway {
    border-color: var(--website-color);
    color: var(--website-color);
    transition: 0.3s;
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    height: 35px;

    &:hover {
      background-color: var(--website-hover-color);
      color: @white !important;
    }
  }
}

.container-edit-post {
  .edit-post__right-container {
    display: block;
    margin-top: 10px;

    @media (max-width: 768px) {
      width: auto;
      display: block;
    }
  }

  .edit-post__objects-container {
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .right-edit-post {
    @media (max-width: 768px) {
      margin: 0;
      width: auto;
    }

    .SidebarContentBlock {
      border: 1px solid @white-gainsboro;
      border-radius: 5px;
    }
  }
}

.search-object-panel {
  margin: 1px;
}

.ant-form-item-required::before {
  content: none;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0 !important;
}

.has-error .ant-form-explain {
  margin-bottom: 2px;
}

.ant-input-number-focused {
  border-color: var(--website-color);
  box-shadow: 0 0 4px 0 var(--website-color);
}

.ant-btn {
  &:focus {
    color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    border: 1px solid;
    border-color: #e9e7e7 !important;
  }

  &:hover {
    border-color: var(--website-color) !important;
  }
}
