@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.DataImport {
  p {
    margin-bottom: 20px;
  }

  hr {
    margin: 15px 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .ant-switch {
      background: #d9534f;
    }

    .ant-switch.ant-switch-checked {
      background: #30b580;
    }
  }

  .DynamicTable {
    margin: 15px 0;
  }
}

.DynamicTable__modal .ant-modal-body {
  padding: 24px 35px;

  a:hover {
    text-decoration: underline;
  }

  li::marker {
    color: @blue-botticelli;
  }
}

.Shopify-confirm {
  .ant-modal-confirm-body .ant-modal-confirm-content {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
}
