.DataImport {
  p {
    margin-bottom: 20px;
  }

  hr {
    margin: 15px 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .ant-switch {
      background: #d9534f;
    }

    .ant-switch.ant-switch-checked {
      background: #30b580;
    }
  }

  .DynamicTable {
    margin: 15px 0;
  }
}
