@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.add-item-modal,
.create-object-modal {
  .modal-content {
    &__row {
      display: flex;

      &.align-center {
        justify-content: center;
      }
      &.align-left {
        justify-content: flex-start;
      }
      &.align-right {
        justify-content: flex-end;
      }
      &.tittle {
        font-size: 16px;
        font-weight: 500;
      }
    }

    &__name-input {
      margin-bottom: 16px !important;
    }
  }
}

@import 'AddItemModal-nightmode';
