@import (reference) '../../../styles/custom.less';

.editor-side-btn {
  width: 30px;
  height: 30px;
  line-height: 1;
  margin-left: 2px;
  background: @white;
  border: 1px solid @blue-botticelli;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  & > .iconfont {
    font-size: 24px;
    &.icon-code {
      font-size: 20px;
      line-height: 0.65;
    }
  }

  &:hover {
    border-color: @grey-empress;
  }

  &:focus {
    outline: none;
    border-color: @secondary-color;
  }
}
