@import (reference) '../../../../../styles/custom.less';

.nightmode {
  .TokenManage {
    border-color: @normal-grey;

    &__list {
      border-color: @normal-grey;

      .DelegateUserCard:last-child {
        border-bottom: none;
      }
    }

    &__delegate {
      color: @orange-hot;
      background-color: @white-smoke;
      border-color: @white-smoke;
    }
  }
}
