@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.QuickRewardsModal {
  &__select {
    width: 100%;
    margin-top: 15px;
  }

  &__select-item.ant-select-dropdown-menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eae8e8;

    .object-search-card {
      width: 100%;
    }
  }

  &__select-item--withReward.ant-select-dropdown-menu-item {
    .object-search-card {
      width: 65%;

      @media @small {
        width: 74%;
      }
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
    flex-wrap: wrap;

    @media @small {
      flex-wrap: nowrap;
    }
  }

  &__button {
    width: 145px;
    height: 30px;

    &--withRewards {
      margin: 10px auto;

      @media @small {
        margin: 0;
      }
    }
  }

  .ant-modal-title {
    text-align: center;
    font-size: 1.2em;
  }

  .ant-modal-body {
    padding: 15px;

    @media @small {
      padding: 20px;
    }
  }
}
