@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

@add-btn-width: 36px;
@input-max-width: @container-width - @right-width - @margin * 3;

.md-side-toolbar {
  display: flex;
  position: absolute;
  z-index: 1;
  left: -37px;
  top: 0;
  transition: all 0.1s ease;

  .act-buttons-group {
    display: flex;
    border: 1px solid @blue-botticelli;
    border-radius: 4px;
    margin-left: 2px;
  }

  .video-link-input,
  .object-search-input {
    background-color: @white;
    border-radius: 4px;
    width: calc(100vw - @margin * 4);

    @media @small {
      width: calc(100vw - @margin * 5 - @right-width);
    }
    @media @medium {
      max-width: @input-max-width - @margin * 2;
    }
    @media @large {
      max-width: @input-max-width;
    }

    .ant-input:focus {
      box-shadow: none;
      outline: none;
    }
    .ant-btn {
      height: 36px;
      padding: 0 8px;

      @media @medium, @large {
        display: none;
      }
    }
  }

  .object-search-input {
    .ant-select-selection {
      width: 100%;
      &__rendered {
        width: 100%;
        ul {
          width: 100%;
          li {
            margin: 0;
            .ant-input {
              height: 36px;
            }
          }
        }
      }
    }
  }
}

.md-sb-button {
  background: @white none;
  outline: none;
  border: 1px solid @grey-empress;
  color: @grey-empress;
  cursor: pointer;
  height: @add-btn-width;
  min-width: @add-btn-width;
  border-radius: @add-btn-width / 2;
  font-size: 22px;
  text-align: center;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
  }

  svg path {
    stroke-width: 0;
    fill: #545454;
  }

  &.action-btn {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 4px 10px;
    border: none;
    border-right: 1px solid @blue-botticelli;
    border-radius: 4px 0 0 4px;
    &:last-child {
      border: none;
      border-radius: 0 4px 4px 0;
    }
    @media @small {
      padding: 4px;
    }

    &:hover {
      border-color: @grey-mortar;
    }

    &:focus {
      border-color: @primary-color;
    }

    & > .btn-icon {
      padding-left: 2px;
      svg path {
        fill: @grey-empress;
      }
    }

    & > .object-btn {
      font-size: 24px;
      svg path {
        fill: @grey-empress;
      }
    }

    .action-btn__caption {
      display: none;
      font-size: 19px;
      padding-left: 4px;
      @media @small {
        display: unset;
      }
    }
  }
}

.md-add-button {
  &.md-open-button {
    transform: rotate(45deg);
  }
}

.md-add-btn-anim-appear {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-add-btn-anim-appear.md-add-btn-anim-appear-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all 0.2s ease-in;
}

.md-add-btn-anim-enter {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-add-btn-anim-enter.md-add-btn-anim-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 200ms ease-in;
}

.md-add-btn-anim-exit {
  opacity: 1;
}

.md-add-btn-anim-exit.md-add-btn-anim-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

@import './addbutton-nightmode';
