@import (reference) '../../../styles/custom.less';

.nightmode {
  .md-add-button {
    background: @grey-nero;
    border-color: @blue-baliHai;
  }
  .md-sb-button {
    &.action-btn {
      background: @grey-nero;
    }
    svg path {
      fill: @blue-baliHai !important;
    }
  }

  .md-side-toolbar {
    .act-buttons-group {
      background: @grey-nero;
      border-color: @menu-item-border;
    }

    .object-search-input,
    .video-link-input {
      background-color: @grey-nero;

      .ant-select-selection {
        border: none;
      }
    }
  }
}
