@import (reference) '../../../styles/custom.less';

@keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1;
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

@keyframes pop-downwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, -12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99, 0, 0, 1, 0, -2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, 1);
    opacity: 1;
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

@toolbar-color: #323845;

.md-editor-toolbar {
  margin-top: 15px;
  background: @toolbar-color;
  color: @white;
  cursor: auto;
  border-radius: 4px;
  z-index: 2;
  position: absolute;
  transition: all 0.1s ease;
  visibility: hidden;
  box-shadow: 0 1px 3px 0 #747171;
  -webkit-box-shadow: none;

  &.md-editor-toolbar--isopen {
    visibility: visible;
  }

  &.md-editor-toolbar--linkinput {
    animation: pop-downwards 200ms forwards linear;
    background: @white;
    width: 96.5% !important;
    margin-left: 12px;
    height: 36px;
  }

  .md-url-input {
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    display: block;
    width: 100%;
    padding: 5px 11px;
    background: @white;
    color: @black;
    font-size: 16px;
    font-weight: 100;
    height: 32px;
    border: none;
    font-family: @font-family-sans-serif;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    &:hover {
      border: none;
    }
  }

  .md-url-button {
    height: 32px;
    border-radius: 0 4px 4px 0;
  }

  .md-url-input-close {
    z-index: 5;
    color: @toolbar-color;
    position: absolute;
    right: 8px;
    top: 2.5px;
    font-size: 20px;
    cursor: pointer;
  }
}

.md-editor-toolbar-edit-link {
  padding: 4px 5px 4px 12px;
  font-size: 0.8em;
  width: 235px;

  a {
    color: @white;
    text-decoration: none;
  }

  &::after {
    bottom: initial;
    border-top: 5px solid @toolbar-color;
    border-bottom: none;
    top: -5px;
    transform: rotate(180deg);
  }

  button {
    background: none;
    border: none;
    color: @white;
    padding: 0 5px;
    margin: 5px 0;
    cursor: pointer;

    &.md-editor-toolbar-edit-button {
      border-right: 1px solid @white;
    }
  }
}

.md-RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  display: inline-block;
  border-right: 1px solid @normal-grey;
  position: relative;

  &:last-child {
    border-right: none;
  }

  .md-RichEditor-linkButton {
    vertical-align: middle;
    padding: 0 5px;
    color: @white;
    text-decoration: none;
    svg {
      position: relative;
      top: 1px;
    }
  }
}

.md-RichEditor-styleButton {
  color: @white;
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;

  &:hover {
    color: @orange;
  }

  &:last-child {
    margin-right: 0;
  }

  &.md-RichEditor-styleButton-bold {
    font-weight: bold;
  }
  &.md-RichEditor-styleButton-italic {
    font-style: italic;
  }
  &.md-RichEditor-styleButton-underline {
    text-decoration: underline;
  }
  &.md-RichEditor-styleButton-strikethrough {
    text-decoration: line-through;
  }
}

.md-RichEditor-activeButton {
  color: @orange-hot;
  background: #242933;

  &:hover {
    color: @orange;
  }
}

.md-RichEditor-controls-block {
  .md-RichEditor-styleButton:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.md-RichEditor-show-link-input {
  border: 1px solid @orange-hot;
  border-radius: 4px;

  &:focus {
    box-shadow: 0 0 0 2px @orange;
  }

  &:last-child {
    border: 1px solid @orange-hot;
  }
}

.md-RichEditor-controls-code {
  .md-RichEditor-styleButton {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 32px;
  }
  .md-RichEditor-styleButton:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:hover,
  .md-RichEditor-activeButton {
    svg {
      fill: @orange;
    }
  }
  svg {
    position: relative;
    top: 1.5px;
  }
}

@import 'toolbar-nightmode';
