@import (reference) '../../../styles/custom.less';

.nightmode {
  .md-editor-toolbar {
    &.md-editor-toolbar--linkinput {
      background: @grey-nero;
    }

    .md-url-input {
      background: @grey-nero;
      color: @white;

      &::placeholder {
        color: @tertiary-color;
      }
    }

    .md-url-input-close {
      color: @white;
    }
  }
}
