@import (reference) '../styles/custom.less';

.UserActivitySearch {
  color: @primary-color;
  text-align: left;
  width: 270px;
  overflow: auto;

  .ant-checkbox {
    top: -0.35em;

    &-inner {
      margin-top: 9px;
    }
  }
}

@import 'UserActivitySearch-nightmode';
