.nightmode {
  .ImageSetter {
    .button-upload {
      border-color: @normal-grey;
      background-color: @blue-dodgerBlue;

      @media @small {
        background-color: @grey-nero;
      }

      &:hover {
        border-color: @blue-dodgerBlue;
      }
    }

    .input-upload__item {
      border-color: @normal-grey;
      background-color: @grey-nero;
    }

    .image-box__preview {
      border-color: @normal-grey;
    }
  }
}
