@import (reference) '../../styles/custom.less';

.nightmode {
  .ImageSetter {
    .button-upload {
      border-color: @normal-grey;
      background-color: @grey-nero;

      &:hover {
        border-color: @orange-hot;
      }
    }

    .input-upload__item {
      border-color: @normal-grey;
      background-color: @grey-nero;
    }
  }
}
