@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.BrokerBalanceLoading {
  position: relative;
  color: #353535;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-card-loading-block {
      margin: 0 !important;
    }

    &__avatar {
      width: 32px !important;
      height: 32px !important;
    }

    &__text {
      margin: 0 12px;
      width: 30%;

      p {
        width: 100%;
      }
    }
  }
}
