@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .BrokerBalance {
    &__dropdown {
      .ant-dropdown-menu-item {
        color: @white-smoke;
        border-bottom: 1px solid @normal-grey;
      }

      .ant-dropdown-menu-item:hover {
        background: @blue-baliHai;
        color: @white-smoke;
      }
    }
  }
}
