@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.BrokerBalance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;

  @media @small {
    flex-direction: row;
    justify-content: space-between;
  }

  &__dropdown {
    position: fixed !important;

    .ant-dropdown-menu-item {
      color: @black;
      border-bottom: 1px solid @white-gainsboro;
    }

    .ant-dropdown-menu-item:last-child {
      border-bottom: 0;
    }

    .CurrencyItem {
      margin: 0;
      padding: 0;
    }
  }

  .anticon {
    color: @blue-botticelli;
  }
}

@import 'BrokerBalance-nightmode.less';
@import 'BrokerBalanceLoading.less';
