@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.BrokerBalance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;

  &__dropdown {
    .ant-dropdown-menu-item {
      border-bottom: 1px solid @white-gainsboro;
    }

    .ant-dropdown-menu-item:last-child {
      border-bottom: 0;
    }

    .CurrencyItem {
      margin: 0;
      padding: 0;
    }
  }

  .anticon {
    color: @blue-botticelli;
  }
}
