@import (reference) '../../styles/custom.less';

.nightmode {
  .object-of-type-page {
    background: @grey-nero;
    border-color: @normal-grey;
  }
  .object-page-preview {
    &__header {
      border-color: @normal-grey;
    }
    &__options {
      .LikeSection {
        border-color: @normal-grey;
      }
    }
  }
}
