@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.object-of-type-page {
  background: @white;
  border: @base-border;
  border-radius: @border-radius-base;

  &.view-mode {
    padding: 16px;
  }

  &__header-controls {
    padding: 16px;

    .ant-form-item,
    .LikeSection {
      margin: 0;
    }
    .ant-checkbox {
      top: -0.2em;
    }
  }
  &__empty-placeholder {
    display: flex;
    justify-content: center;
    background: @white;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
  .md-RichEditor-editor {
    .StoryFull__title + div.md-block {
      span[data-offset-key] {
        br {
          content: none;
        }
      }
    }
  }
}

@import './ObjectOfTypePage-nightmode';
