@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.QuickPostEditor {
  display: none;

  @media @xsmall {
    background-color: @white;
    border-top: @base-border;
    border-bottom: @base-border;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__contents {
    border-radius: @border-radius-base;
    background: @white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
  }

  &__avatar {
    margin-right: 5px;
  }

  @media @small {
    border-radius: @border-radius-base;
    border: @base-border;
  }
}

div[data-dir='rtl'] .QuickPostEditor {
  &__avatar {
    margin-left: 0px;
    margin-right: 5px;
  }
}

@import 'QuickPostEditor-nightmode';
