@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.WebsiteSearch {
  width: 55%;

  @media @small {
    width: 35%;
  }

  &__search-type.ant-select-dropdown-menu-item {
    border: 1px solid @blue-gullGray;
    border-radius: 4px !important;
    padding: 5px !important;
    margin: 5px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__search-type--active.ant-select-dropdown-menu-item {
    color: @orange-hot;
    border-color: @orange-hot;
  }

  &__dropdown {
    .ant-select-dropdown-menu-item-group:first-child {
      .ant-select-dropdown-menu-item-group-title {
        display: none;
      }

      .ant-select-dropdown-menu-item-group-list {
        display: flex !important;
        flex-wrap: wrap;
      }
    }
  }

  .ant-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid @black;
    padding: 0 30px !important;
  }

  .ant-input-affix-wrapper {
    .ant-input-suffix {
      left: 8px;
      right: 100%;
    }
  }
}
