.WebsiteSearch {
  width: 50%;

  .ant-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding: 0 0 0 30px !important;
  }

  .ant-input-affix-wrapper {
    .ant-input-suffix {
      left: 8px;
      right: 100%;
    }
  }
}
