@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.ThreadsEditor {
  border: 1px solid @white-gainsboro;
  padding: 3px 12px 3px 16px;
  margin-bottom: 12px;
  background: @white;

  .md-editor-toolbar.md-editor-toolbar--isopen.md-editor-toolbar--linkinput {
    left: 0 !important;
  }
}
.error-text {
  display: flex;
  justify-content: center;
  color: @red;
  margin-bottom: 12px;
  font-weight: 100;
}
