.EmailDraft {
  p {
    margin-bottom: 10px;
    color: #0d0d0d;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tooltip {
    color: #99aab5;
    cursor: pointer;
  }
}

.anticon.anticon-ellipsis {
  color: #99aab5;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}
