.EmailDraft {
  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tooltip {
    color: #99aab5;
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.anticon.anticon-ellipsis {
  color: #99aab5;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.anticon.anticon-copy {
  color: var(--website-color);
}
