@import (reference) '../../styles/custom.less';

.Rebalancing {
  padding: 0 0 20px 0;
  position: absolute;

  p {
    margin: 15px 0;
  }

  th {
    font-size: 16px;
  }

  td {
    font-size: 14px;
  }

  hr {
    margin: 20px 0;
  }

  &__checkbox-block {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: right;
    gap: 8px;
    margin-bottom: 5px;

    label {
      cursor: pointer;
    }
  }

  &__rebalanceButton--disable {
    color: #00000040;
    cursor: no-drop;

    &:hover {
      color: #00000040;
    }
  }
}
