.CleanRating {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: var(--template-font-body, PlayfairDisplay, serif);

  &__star {
    color: #f5c518;
    font-size: 18px;
  }

  &__value {
    font-size: 16px;
    font-weight: 500;
    color: #111;
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    //color: var(--website-color);
  }
}
