@import (reference) '../../../../styles/custom.less';
@import (reference) '../../../../styles/modules/variables.less';
@import (reference) '../../../../styles/mixins.less';

.SponsoredRewardsTableRow {
  &__date-row {
    @media @small {
      padding: 0 10px 0 10px;
    }
  }

  &__action-row {
    padding: 0 10px 0 20px;
    font-weight: 500;
    text-align: left;
  }

  &__details-row {
    .text-link {
      .referrals-link-button();
    }
  }

  &__balance-row {
    font-weight: 600;
  }
}
