@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';

.SponsoredRewards {
  padding: 0 15px;
  color: @black;
  width: auto;
  table-layout: fixed;

  @media @small {
    width: 820px;
  }

  &__title {
    padding-bottom: 10px;

    .title-link {
      cursor: pointer;
      color: @black;
      transition: all 0.3s ease;

      &:hover {
        color: @neon-carrot;
      }
    }
  }

  & table {
    border: 1px solid @black;
    text-align: center;
    text-transform: capitalize;
    border-collapse: collapse;
    margin-top: 20px;
    position: relative;
    width: 100%;
    overflow: auto;
  }

  & th {
    border: 1px solid @black;
    vertical-align: top;
    color: @black;
    font-weight: 600;

    @media @small {
      padding: 0 10px 0 10px;
    }
  }

  & td {
    font-size: 14px;
    border: 1px solid @black;
    color: @black;
    word-wrap: break-word;
    text-transform: none;
  }

  &__date {
    width: 11%;
  }

  &__action {
    width: 56%;
  }

  &__details {
    width: 27%;
  }

  &__amount {
    width: 11%;
  }

  &__balance {
    width: 11%;
  }
}

@import 'SponsoredRewards-nightmode';
