@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .SponsoredRewards {
    color: @white;

    &__title {
      .title-link {
        color: @white;

        &:hover {
          color: @neon-carrot;
        }
      }
    }

    & th {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }

    & td {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }
  }
}
