@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .SponsoredRewards {
    color: @white;

    & th {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }

    & td {
      border: 1px solid @grey-darkGrey;
      color: @white;
    }
  }
}
