@import (reference) '../../styles/mixins.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Popover__shared-link {
  display: block;
  line-height: 50px !important;
  height: 50px !important;
  color: @blue-botticelli;
  border-top: 1px solid @white-gainsboro;

  @media @medium {
    .menu-item-link();

    border-top: none;
  }

  .iconfont {
    font-size: 20px;
    margin-right: 8px;

    &.icon-twitter {
      color: @blue-botticelli;

      @media @medium {
        color: @twitter-link-color;
      }
    }

    &.icon-facebook {
      color: @blue-botticelli;

      @media @medium {
        color: @facebook-background-color;
      }
    }
  }
}

.hide-button--fill span svg {
  color: @orange-hot;
}

.hide-button span svg {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 10px;
}
