.WaivPriceChart {
  &__container {
    display: flex;
    justify-content: center;

    .CryptoTrendingCharts__btc-price {
      color: rgb(37 37 38);
    }

    .CryptoTrendingCharts__chart-caret {
      display: none;
    }

    .CryptoTrendingCharts__btc-price,
    .CryptoTrendingCharts__chart-percent {
      font-size: 18px;
    }

    &--marginBottom {
      margin-bottom: 20px;
    }
  }

  &__lowHight {
    display: flex;
    justify-content: space-around;

    span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  &__period {
    display: inline-block;
    color: var(--website-color);
    border: 1px solid var(--website-color);
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;

    &--active {
      background-color: var(--website-color);
      color: white;
    }
  }
}
