.WaivPriceChart {
  &__container {
    margin-bottom: 10px;
    margin-left: 50px;
  }

  &__period {
    display: inline-block;
    color: var(--website-color);
    border: 1px solid var(--website-color);
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;

    &--active {
      background-color: var(--website-color);
      color: white;
    }
  }
}
