@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

@height-row-info: 60px;
@height-row-slider: 26px;
@padding: 5px;
.editor-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @grey-nero;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  margin-top: 5px;
  padding: 15px;

  &.validation-error {
    border: 1px solid @red;
    box-shadow: 0 0 3px @orange, 0 0 5px @red;
  }
  &__checkbox-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__checkbox-wrap {
    display: flex;
    width: 50%;
  }
  &__checkbox-descr {
    margin-right: 10px;
  }
  @media @medium {
    &:hover .editor-object__controls > .editor-object__control-item.delete {
      visibility: visible;
    }
  }
  .background-transparent {
    display: flex;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    padding: 10px;
    width: 100%;
    .editor-object__tag {
      position: absolute;
      right: 10px;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: @height-row-info + @height-row-slider;
    outline: none;
    width: 97%;
    &.row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: @height-row-info;
      width: 100%;
    }
    &.row.slider {
      height: @height-row-slider;
      .ant-slider {
        width: 100%;
      }
      .label {
        color: @black;
        font-weight: bold;
        width: @height-row-info + 2 * @padding;
        text-align: center;
      }
    }
  }

  &__avatar {
    height: @height-row-info;
    width: @height-row-info;
    margin-right: @padding;
  }

  &__rankWrap {
    display: flex;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: @black;
    &.name {
      font-weight: 500;
      color: @primary-color;
      text-shadow: 1px 1px 0 @black;
    }
  }
  &__truncated {
    width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .editor-object__controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: @height-row-info + @height-row-slider;

    .editor-object__control-item {
      font-size: 18px;
      font-weight: 500;
      &.delete {
        color: @tertiary-color;
      }
      & > .item-text {
        display: none;
      }
      & > .item-icon {
        font-size: 30px;
      }
    }
  }

  @media @medium, @large {
    .editor-object__truncated {
      width: 85%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .editor-object__controls {
      .editor-object__control-item {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        &.delete {
          color: @black;
          text-shadow: 1px 2px 0 @black;

          &:hover {
            cursor: pointer;
            color: @secondary-color;
          }
        }
        & > .item-icon {
          font-size: 22px;
        }
        & > .item-text {
          display: inline;
        }
      }
    }
  }
}

.editor-object__validation-msg {
  color: @red-danger;
}
