@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

@height-row-info: 190px;
@height-row-slider: 210px;
@padding: 5px;
.editor-object {
  .editor-object-mixin(60px, 60px);
  @media @large, @medium, @small {
    .editor-object-mixin(@height-row-info, 60px);
  }
}
.editor-object-mixin (@height-row-info, @height-row-slider) {
  display: flex;
  justify-content: space-between;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  margin-top: 5px;
  padding: 15px;

  &.validation-error {
    border: 1px solid @red;
    box-shadow: 0 0 3px @orange, 0 0 5px @red;
  }
  //&__checkbox-line {
  //  display: flex;
  //  width: 100%;
  //  justify-content: space-between;
  //}
  //&__checkbox-wrap {
  //  display: flex;
  //  width: 50%;
  //}
  //&__checkbox-descr {
  //  margin-right: 10px;
  //}
  @media @medium {
    &:hover .editor-object__controls > .editor-object__control-item.delete {
      visibility: visible;
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: @height-row-info;
    outline: none;
    width: 97%;
    &.row {
      display: flex;
      flex-flow: row nowrap;
      height: @height-row-info;
      width: 100%;
    }
  }

  &__avatar {
    width: 100%;
    margin-right: @padding;
    border-radius: 8px;
    max-width: 178px;
    height: @height-row-info;
  }
  &__type {
    font-size: 15px;
    color: @blue-botticelli;
    font-weight: 500;
  }

  &__info {
    width: 100%;
    color: @black;
    padding-left: 15px !important;
  }
  &__truncated {
    font-weight: 900;
    color: @black;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 8px;
  }
  &__name {
    display: flex;
    align-items: center;
  }
  &__title {
    color: @black;
    font-size: 17px;
    word-break: break-all;
    overflow: hidden;
  }
  .editor-object__controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: @height-row-info;

    .editor-object__control-item {
      font-size: 18px;
      font-weight: 500;
      &.delete {
        color: @tertiary-color;
      }
      & > .item-text {
        display: none;
      }
      & > .item-icon {
        font-size: 30px;
      }
    }
  }
  .rate-wrap {
    display: flex;
    .rate-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 40%;
    }
    align-items: center;
    .ant-rate {
      line-height: 0;
    }
    svg {
      width: 0.8em;
      height: 0.8em;
    }
  }
  .rate-divider {
    padding-left: 15px;
    border-left: 2px @border-style-base @border-color-base;
  }
  @media @medium, @large {
    .editor-object__truncated {
      max-width: 85%;
    }
    .editor-object__controls {
      .editor-object__control-item {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        &.delete {
          color: @black;
          text-shadow: 1px 2px 0 @black;

          &:hover {
            cursor: pointer;
            color: @secondary-color;
          }
        }
        & > .item-icon {
          font-size: 22px;
        }
        & > .item-text {
          display: inline;
        }
      }
    }
  }
}

.rate-padding {
  margin: 10px 0;
}
.editor-object__validation-msg {
  color: @red-danger;
}
