@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins';

.nightmode {
  .CommentForm {
    &__editor {
      background: none;
      border: 1px solid @normal-grey;
    }
    .anticon-plus-circle {
      background: none !important;
    }
  }
}
