@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins';

.nightmode {
  .QuickComment {
    .anticon-plus-circle {
      background: transparent !important ;
    }
    .md-sb-button-plus.md-add-button.md-add-button--comments {
      background: transparent;
    }
    .md-RichEditor-editor.Body.Body--full.public-DraftEditor-content {
      background: transparent;
    }
    border: 1px solid @normal-grey;
    &__send-comment {
      .light-arrows-color();
    }
  }
}
