@import (reference) '../../styles/custom.less';

.QuickComment {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 12px 0 16px 0;

  &__avatar {
    margin-right: 8px;
  }

  &__add-img-icon {
    position: absolute;
    right: 5px;
    bottom: 13px;
  }
}
