@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.ChromeExtension {
  padding-bottom: 30px;

  p {
    margin-bottom: 20px;
  }

  &__list {
    &-item {
      margin-left: 22px;

      &-underline {
        text-decoration: underline;
      }
    }

    &-ordered-item {
    }
  }

  &__description {
    padding: 10px 0;
  }

  &__link-example {
    color: @black;
  }

  &__label {
    margin-bottom: 10px;
  }
}
