.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  padding: 20px;
  margin-left: 0px; /* gutter size offset */
  width: auto;
  max-width: 980px;
  margin: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */

  margin-bottom: 15px;
}

.item {
  width: 90%;
  max-width: 300px;
  margin: auto;
  padding: 0 0 15px;
}
