.WalletSidebar {
  &__transfer {
    margin-bottom: 10px;
    width: 100%;
    &.no-margin {
      margin-top: -10px;
    }
  }

  &__power {
    display: flex;
    margin-bottom: 10px;

    & > .Action {
      width: 100%;
    }

    & > :not(:last-child) {
      margin-right: 8px;
    }
  }
}
