@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Campaign {
  margin-bottom: 15px;
  cursor: pointer;
  .ObjectCardView {
    background-color: @white;
  }
}

@import 'Campaign-nightmode';
