@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Campaign {
  .ObjectCardView {
    background-color: @white;

    &__content {
      margin-bottom: 30px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 23px;

    .ant-btn {
      margin-right: 10px;
    }
  }
}

@import 'Campaign-nightmode';
