@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.FraudDetection {
  &__title {
    font-size: 30px;
    color: @black-text;
  }

  &__disclaimer {
    margin-top: 20px;

    span {
      font-weight: 500;
      color: @black-text;
    }
  }
}

.nightmode {
  .FraudDetection {
    &__title {
      color: #99aab5;
    }

    &__disclaimer {
      span {
        color: #99aab5;
      }
    }
  }
}
