@import (reference) '../../../styles/custom.less';

.CreateRule {
  padding: 0 12px 12px 12px;
  &__button {
    display: flex;
    justify-content: flex-end;
  }
  //&__label::before {
  //  display: inline-block;
  //  margin-right: 4px;
  //  color: @red-danger;
  //  font-size: 1em;
  //  font-family: SimSun, sans-serif;
  //  content: '*';
  //}
}

.ant-tooltip.ant-slider-tooltip {
  z-index: 1260 !important;
}

.ant-calendar-picker-container {
  z-index: 1260 !important;
}
