@import (reference) '../../../../client/styles/modules/variables.less';

.modal-open-deals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media @large {
    flex-direction: row;
  }
}
