@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

@padding: 8px;
@base-spacing: 0;

.rewards-settings {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__label {
    font-weight: 500;
    padding-right: @padding;
  }

  &__control {
    flex-grow: 1;

    .ant-select {
      width: 100%;
    }
  }

  &__guest {
    margin-top: 10px;

    span {
      font-weight: bold;
    }
  }
}

.rewards-settings__dropdown.ant-select-dropdown {
  z-index: @backtop-z-index !important;
}

.beneficiary-settings,
.upvote-settings {
  padding-top: @padding;

  .ant-checkbox-wrapper {
    .ant-checkbox {
      top: -0.2em;
    }
  }
}

.beneficiary-settings {
  &.title {
    font-weight: bold;
  }
}

.beneficiariesFindUsers__search-dropdown-container.ant-select-dropdown {
  z-index: 10000000 !important;
}

.beneficiariesFindUsers {
  &__search-content-wrap {
    display: flex;
    align-items: center;
  }

  &__search-content {
    margin-left: 10px;
    max-width: calc(100vw - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__input-container {
    padding: 0 @base-spacing;
    position: relative;
    height: 45px;
    display: flex;
    margin-left: 15px;

    &:hover .anticon.anticon-close-circle {
      opacity: 1;
    }

    &:focus .anticon.anticon-close-circle {
      opacity: 1;
    }

    .anticon.anticon-close-circle {
      position: absolute;
      color: @blue-linkWater;
      font-size: 20px;
      z-index: 1000;
      right: 16px;
      left: unset;
      cursor: pointer;
      top: 20px;
      transition: 0.5s;
      opacity: 0;

      &:hover {
        color: @blue-baliHai;
      }
    }

    > .ant-select-show-search {
      width: 100%;

      .ant-select-search__field {
        background-color: @white !important;

        &:hover,
        &:focus {
          border-radius: 4px;
        }
      }
    }

    input {
      height: 32px !important;
      margin-top: 8px;
      border-radius: @border-radius-base;
      border: @border-width-base @border-style-base @border-color-base;

      &:hover,
      &:focus {
        box-shadow: none !important;
        //border: @border-width-base @border-style-base @border-color-base !important;
      }
    }

    @media @small {
      margin-left: 20px;
    }
  }
}

.beneficiaries-weights {
  .title {
    display: flex;
    align-self: center;
    flex-shrink: 0;
    padding-right: @padding;
    font-weight: 500;
  }
}

.object-weights,
.beneficiaries-weights {
  &__header {
    padding: @padding 0;
    margin-top: 5px;

    .title {
      display: flex;
      align-self: center;
      flex-shrink: 0;
      padding-right: @padding;
      font-weight: 500;
    }

    .weight-buffer {
      width: 100%;
      padding: 0 5px 5px 5px;

      &.hide {
        visibility: hidden;
      }

      &.validation-error {
        border: 1px solid @red;
        box-shadow: 0 0 3px @orange, 0 0 5px @red;
      }
    }
  }

  &__buffer-validation-msg {
    color: @red-danger;
    text-align: right;
  }

  &__item {
    .obj-item-name {
      padding-left: 6px;
      text-transform: uppercase;
    }

    .obj-item-slider {
      margin-top: 0;
    }

    .beneficiaries-item-name {
      padding-right: 6px;
    }

    &-title {
      display: flex;
      align-items: center;

      .anticon.anticon-close-circle {
        color: @blue-linkWater;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: @blue-baliHai;
        }
      }
    }
  }
}

@import 'AdvanceSettings-nightmode';
