@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .ant-select-dropdown-menu-item {
    background-color: @grey-nero !important;
  }

  .ant-select-dropdown-menu-item:hover {
    background-color: @blue-darkGrayish !important;
    color: @white-smoke !important;
  }
}
