@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.CatalogWrap {
  display: flex;
  justify-content: center;
  background: @white;
  border: @base-border;
  padding-block: 12px;
  margin-bottom: 12px;
  width: 100%;
  font-size: @font-size-base;
  font-weight: 500;
  color: @blue-botticelli;

  &__add-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: @white;
    border: @base-border;
    padding: 2px 12px;
    margin-bottom: 12px;
    width: 100%;
    font-size: @font-size-base;
    font-weight: 500;
  }
}

@import 'CatalogWrap-nightmode';
