@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.CatalogWrap {
  &__breadcrumb {
    background: @white;
    border: @base-border;
    border-radius: @border-radius-base;
    padding: 12px;
    margin-bottom: 10px;
    word-break: break-word;

    span {
      cursor: default;
    }

    &__obj-page-link {
      color: @normal-grey;
    }

    .ant-breadcrumb {
      & > span:last-child {
        .ant-breadcrumb-link {
          display: inline-flex;
          align-items: center;
        }
        font-weight: 500;
      }
    }
  }

  &__add-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: @white;
    border: @base-border;
    padding: 2px 12px;
    margin-bottom: 12px;
    width: 100%;
    font-size: @font-size-base;
    font-weight: 500;
  }
}

@import 'CatalogWrap-nightmode';
