@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.CatalogWrap {
  background-color: @white;
  border: 1px solid @border-color-base;
  padding: 12px;

  &__breadcrumb {
    background: @white;
    border: @base-border;
    padding: 12px;
    margin-bottom: 10px;
    word-break: break-word;

    .ant-breadcrumb > span:last-child {
      font-weight: 500;
    }
  }

  &__add-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: @white;
    border: @base-border;
    padding: 2px 12px;
    margin-bottom: 12px;
    width: 100%;
    font-size: @font-size-base;
    font-weight: 500;
  }
}

@import 'CatalogWrap-nightmode';
