@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .CatalogWrap {
    background: @grey-nero;
    border: 1px solid @normal-grey;
    padding: 10px;
    &__breadcrumb {
      background: @grey-nero;
      border: 1px solid @normal-grey;
      .ant-breadcrumb-separator {
        color: @white;
      }
      &__link {
        color: @white;
      }
      &__obj-page-link {
        color: @grey-darkGrey;
      }
    }
    &__add-item {
      background: @grey-nero;
      border: 1px solid @normal-grey;
    }
  }
}
