@import (reference) '../../styles/modules/variables.less';

.RewardLists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__feed {
    width: 100%;

    @media @small {
      width: 65%;
    }
  }

  &__filterButton {
    display: block;
    font-weight: 700;

    @media @small {
      display: none;
    }

    span {
      text-decoration-line: underline;
      cursor: pointer;
      font-weight: 500;
    }
  }

  &__left {
    display: none;

    @media @small {
      display: block;
    }
  }
}
