@import (reference) '../../../client/styles/custom';

.nightmode{
  .st-create-post-optional {
    .ant-collapse {
      background-color: @grey-nero;
      color: @white!important;
      border: 1px solid @normal-grey;
    }
    .st-create-post-optional-title,
    .arrow {
      color: @white;
    }
    .ant-collapse-content-box {
      background-color: @grey-nero;
      color: @white;
    }
    .ant-collapse-item {
      border: unset;
    }
    .ant-collapse-content-active {
      border-top: 1px solid @normal-grey;
    }
  }
}
