.PowerUpOrDown {
  &__row {
    display: flex;
  }

  &__amount,
  .has-error .ant-input {
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  &__currency .ant-select-selection,
  .has-error .ant-select-selection {
    border-radius: 0 4px 4px 0;
  }
}
