@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.SwapTokens {
  &__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    cursor: pointer;

    .anticon {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background: #f5f6f9;
      color: #aebac3;
      line-height: 45px;
    }

    &--disabled {
      cursor: no-drop;
    }
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 45px;
    padding-left: 10px;
  }

  &__input {
    outline: none;
    border: @base-border;
    border-radius: 4px 0 0 4px;
    border-right: none;
    padding: 0 10px;
    height: 32px;

    .ant-input {
      border: none;
      padding: 0;
      height: 30px;
      outline: none;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  &__selector {
    .ant-select-selection {
      border-radius: 0 4px 4px 0;

      .SwapTokens__selector-balance {
        display: none;
      }
    }
  }

  &__impactBlock {
    padding: 0 0 10px;

    .ant-radio-group.ant-radio-group-outline {
      padding: 10px 0;
      width: 100%;
    }

    p {
      font-weight: 500;
    }

    .ant-radio-button-wrapper {
      @media @small {
        height: 40px;
        line-height: 40px;
      }

      width: calc(100% / 6);
      text-align: center;
      padding: 0 5px;
    }
  }

  &__inputWrap {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    &--error {
      .SwapTokens__input {
        border-color: @red-danger;
      }

      .SwapTokens__selector {
        .ant-select-selection {
          border-color: @red-danger;
          color: @red-danger;
        }
      }
    }
  }

  &__balance {
    border-bottom: 1px dotted @blue-botticelli;
    cursor: pointer;
  }

  &__hiveEngineInfo {
    padding: 10px 0;
  }

  &__estimatedWrap {
    padding: 20px 0;
  }

  &__selector-option {
    display: flex;
    justify-content: space-between;
  }

  .invalid {
    color: @red;
  }

  &__max-button {
    display: inline-block;
    border: @base-border;
    border-radius: 4px;
    padding: 0 5px;
    cursor: pointer;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@import 'SwapToken-nightmode.less';
