@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.Action {
  .btn;
  .btn-default;

  .colorize-button(#9faeba, #7c92a0);

  color: @white;

  &--primary {
    background: var(--website-color) !important;
    border-color: var(--website-color) !important;
    color: @white-darker;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background: var(--website-color) !important;
      border-color: var(--website-color) !important;
      color: @white-darker !important;
    }
    &:disabled,
    &:disabled:hover {
      background-color: @white-smoke !important;
      border-color: @white-gainsboro !important;
      color: rgba(0, 0, 0, 0.25) !important;
      cursor: no-drop;
    }
  }

  &--big {
    padding: 0 15px;
    height: 46px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @white;
  }

  & .anticon {
    vertical-align: -1px;
    margin-right: 8px;
  }
}
