@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables';

.NavigationMenu {
  display: flex;
  padding: 0 15px;
  font-size: 1rem;
  margin-top: -20px;

  @media @small {
    padding: 8px 0;
  }

  @media @medium, @large {
    display: none;
  }

  .SortSelector {
    align-self: flex-end;
  }

  &__title {
    font-weight: 500;
  }

  &__topic {
    font-weight: 600;
    padding-right: 5px;
  }
}

.MobileLeftSidebar {
  width: 100%;
  position: fixed;
  display: flex;
  height: calc(100% - 52px);
  top: 52px;
  z-index: 1200;

  &__mask {
    position: relative;
    width: 28%;
  }

  &__wrapper {
    position: relative;
    width: 72%;
    padding: 1rem;
    background: @black-darkTraffic;
    left: 0;
    animation-name: example;
    animation-duration: 1s;

    .header {
      display: flex;
      justify-content: space-between;
      color: @white-smoke;
      text-transform: uppercase;
      padding-bottom: 0.7rem;
      margin-bottom: 0.7rem;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid @white-smoke;
    }

    .content {
      padding-top: 1rem;
      color: @white-smoke;
    }

    @keyframes example {
      0% {
        left: -72%;
      }
      100% {
        left: 0;
      }
    }
  }
}
