@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables';
@import (reference) '../../../styles/mixins.less';

.MobileNavigation {
  display: flex;
  padding: 8px 15px;
  font-size: 1rem;
  margin-top: -20px;

  @media @small {
    padding: 8px 0;
  }

  @media @medium, @large {
    display: none;
  }

  &__title {
    font-weight: 500;
  }

  &__topic {
    .filters-topic();
  }

  &__selector {
    .filters-selector();

    & > span {
      color: var(--website-color);
    }

    .anticon.anticon-caret-down {
      color: var(--website-color) !important;
    }
  }

  &__filters-modal {
    .filters-ant-modal();
  }
}

.Rewards-new {
  .MobileNavigation {
    padding: 8px 0;
  }
}
