@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables';

.discover-objects-header {
  display: flex;
  padding: 8px 15px;
  font-size: 1rem;

  @media @small {
    padding: 8px 0;
  }

  @media @medium, @large {
    display: none;
  }

  .SortSelector {
    align-self: flex-end;
  }

  .filter-highlighted {
    color: @primary-color;
  }

  &__title {
    font-weight: 500;
  }
  &__topic {
    font-weight: 600;
    padding-right: 5px;
  }
  &__selector {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;

    & > span {
      color: @primary-color;
    }
    &:hover {
      color: @primary-color;
    }
  }
  &__toggle-map {
    padding: 10px 0 5px 0;
  }
  &__toggle-map,
  &__tags-block {
    padding-left: 15px;
    @media @small, @medium, @large {
      display: none;
    }
    &.common {
      display: none;

      @media @small, @medium, @large {
        display: block;
      }
    }
  }
  &__selection-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media @medium {
      justify-content: flex-end;
    }
  }
}
