@import (reference) '../../styles/custom.less';

.nightmode {
  .CampaignCardHeader {
    border-color: @normal-grey;
    &__name {
      color: @white-smoke;
      &-earn {
        color: @white-smoke;
      }
    }
  }
}
