.ReportsWebsite {
  &__data-piker-wrapper {
    display: flex;

    .ant-form-item-children {
      display: flex;
      align-items: center;
      margin-left: 30px;

      .ant-calendar-picker {
        margin-left: 20px;
      }
    }
  }
}
