.policy-confirmation {
  .ant-checkbox-wrapper {
    .ant-checkbox {
      top: -0.2em;
    }
    .ant-checkbox-checked:after {
      border-color: var(--website-color) !important;
    }
  }

  &__text {
    text-align: justify;
  }
}
