@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.AdSenseAds {
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: @blue-botticelli;
  }
  padding-bottom: 30px;
  h3 {
    padding: 20px 0 4px 0;
  }
  .ant-select {
    width: 240px;
  }
  .ant-btn.ant-btn-primary {
    margin-top: 15px;
  }
}
