<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {{#if header}} {{{header}}} {{else}}
  <title>Waivio</title>
  <meta name="description" content="Waivio is a decentralized social network based on Steem blockchain"> {{/if}}
  <link rel="manifest" href="/manifest.json" />
  <meta name="google-site-verification" content="JVVPBT1TEtH6a-w94_PZ2OcilaYPMOCexi7N1jq0tnk" />
  <meta name="yandex-verification" content="4b4911e0237edb71" />
</head>

<body{{#if nightmode}} class="nightmode"{{/if}}>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(56233942, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56233942" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <div id="app">{{{html}}}</div>
  {{{scripts}}}
  <script src="https://widget.steem.ninja/ninja.js"></script>
</body>

</html>
