<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {{#if header}} {{{header}}} {{else}}
  <title>Waivio</title>
  <meta name="description" content="Waivio is a decentralized social network based on Steem blockchain"> {{/if}}
  <link rel="manifest" href="/manifest.json" />
</head>

<body{{#if nightmode}} class="nightmode"{{/if}}>
  <div id="app">{{{html}}}</div>
  {{{scripts}}}
</body>

</html>
