<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {{#if header}} {{{header}}} {{else}}
  <title>Waivio</title>
  <meta name="description" content="Waivio is a decentralized social network based on Steem blockchain"> {{/if}}
  <link rel="manifest" href="/manifest.json" />
  <meta name="google-site-verification" content="JVVPBT1TEtH6a-w94_PZ2OcilaYPMOCexi7N1jq0tnk" />
  <script src="//script.maximarkets.org/tch-1.2.1/js/TchChart.min.js" async></script>
  <link href="//script.maximarkets.org/tch-1.2.1/css/tch-style.css?rel=1499696169515" rel="stylesheet" />
</head>

<body{{#if nightmode}} class="nightmode"{{/if}}>
  <div id="app">{{{html}}}</div>
  {{{scripts}}}
  <script src="https://widget.steem.ninja/ninja.js"></script>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="cf5e278e-43e4-4c60-b3ed-6838bcc7e935";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>

</html>
