@import (reference) '../../../client/styles/modules/variables';
@import (reference) '../../../client/styles/custom';

.short {
  color: @red;

  & > svg {
    color: @red;
  }
}

.long {
  color: @green;

  & > svg {
    color: @green;
  }
}
