@import (reference) '../Common.less';
@import (reference) '../../../client/styles/modules/variables';

.DaylyChange__quote {
  display: none;
  font-weight: bold;
  font-size: 15px;
  width: 50px;

  @media @small {
    display: block;
  }
}

.DailyChange__arrow {
  display: none;

  @media @small {
    display: block;
  }
}

.short {
  color: @red;

  & > svg {
    color: @red;
  }
}

.long {
  color: @green;

  & > svg {
    color: @green;
  }
}
