@import (reference) '../../styles/custom.less';

.RatingsWrap {
  &__rate {
    display: flex !important;
    &-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 50%;
    }
    align-items: center;
    .ant-rate {
      line-height: 0;
    }
    svg {
      width: 0.8em;
      height: 0.8em;
    }
  }
  &__divider {
    padding-left: 15px !important;
    border-left: 2px @border-style-base @border-color-base;
  }
}
