@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.RatingsWrap {
  margin-top: 0.5em;

  &__rate {
    display: flex !important;

    &-left-col {
      padding-right: 10px !important;
      border-right: 2px @border-style-base @border-color-base;
      width: 55% !important;
    }

    &-right-col {
      width: 45% !important;
      padding-left: 10px !important;
    }

    &-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 500;

      &--withoutTruncate {
        overflow: visible;
      }
    }

    align-items: center;

    .myvote.ant-rate {
      color: orange !important;

      .ant-rate-star-full {
        color: orange !important;
      }
    }

    .ant-rate {
      line-height: 0;
      font-size: 16px;
    }
  }

  &__stars {
    min-width: 90px;
    line-height: 0;

    .ant-rate-star {
      margin-right: 1px !important;
    }
    .ant-rate-disabled .ant-rate-star {
      cursor: pointer;
    }
  }

  @media (max-width: 1300px) {
    &__left-wrapper {
      display: none;
    }

    &__rate-right-col {
      padding-left: 0px !important;
      width: 100% !important;
    }
  }
}

@import 'RatingsWrap-nightmode';
