@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.HiveEngineSummaryInfo {
  &__hive-engine-blockchain-status {
    display: flex;
    padding: 0 7px;

    &--green {
      color: @green;
    }

    &--red {
      color: @red;
    }
  }
  &__margin {
    margin: 6px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
