.RateInfo {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__modal {
    .ant-modal-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 24px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-container {
      margin-bottom: 8px;

      .myvote.ant-rate {
        color: orange !important;

        .ant-rate-star-full {
          color: orange !important;
        }
      }

      .ant-rate-star-full {
        color: gray;
      }

      .ant-rate-disabled {
        .ant-rate-star {
          cursor: pointer;
        }
      }
    }
  }
}
