.RateInfo {
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__title {
    cursor: pointer;
  }
  &__stars {
    display: flex;
    align-items: center;
    &-container {
      margin-bottom: 8px;
    }
  }
}
