.RateForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ant-form-item {
      margin-right: 0 !important;
    }
  }
}
