.StarRating {
  &__progress_wrap {
    display: flex;
    align-items: center;
  }
  &__progress_line {
    width: 70px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
