@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.WebsiteBody {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;

  &__overlay-wrap {
    position: relative;
    align-items: center;
    cursor: pointer;

    &-name {
      margin-left: 3px;
    }
  }

  @media @small {
    flex-direction: row;
  }

  &__map {
    width: 100%;
    transition: 0.3s;
    margin-left: 0;
    display: block;
  }

  &__overlay {
    z-index: 6;
  }

  &__hideMap {
    .WebsiteBody__logo {
      @media @small {
        width: 150px;
        height: 80px;
        top: 83%;
        left: 45%;
      }
    }
  }

  .SearchAllResult {
    width: 100%;
    padding: 0;

    @media @small {
      width: 40%;
    }
  }

  &__filters-list {
    margin: 15px;
    display: flex;
    position: absolute;

    @media @small {
      margin: 15px 0 15px 55px;
    }
  }

  &__reserved {
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 3%;
    top: 3%;
    text-align: center;
    line-height: 30px;
    background: @orange-hot;
    border: 1px solid @orange-hot;
    font-weight: bold;
    color: @white;
    border-radius: 8px;
    padding: 0 10px;
    cursor: pointer;

    &--withMobileFilters {
      top: 6%;
    }

    &:hover {
      background: @orange-hot;
      color: @white;
    }

    span {
      font-weight: normal;
    }

    @media @small {
      right: 7%;
    }

    @media @large {
      right: 5%;
    }
  }
}

.WebsiteBodyControl {
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: flex-end;
  top: 82.5%;
  left: 85%;

  @media @small {
    left: 94%;
  }
}
