@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.WebsiteBody {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;

  &__overlay-wrap {
    position: relative;
    align-items: center;
    padding: 3px;
    cursor: pointer;

    &-name {
      margin-left: 3px;
    }
  }

  @media @small {
    flex-direction: row;
  }

  &__map {
    width: 100%;
    height: calc(100vh - 57px);
    transition: 0.3s;
    margin-left: 0;
    display: block;
  }

  &__logo {
    position: absolute;
    z-index: 3;
    display: flex;
    top: 80%;
    left: 5%;
    max-width: 150px;
    cursor: pointer;
    width: 55px;
    height: 55px;
    object-fit: cover;
    transition: 0.3s;

    @media @small {
      width: 150px;
      height: 80px;
      top: 83%;
      left: 5%;
    }
  }

  &__overlay {
    z-index: 3;
  }

  &__hideMap {
    .WebsiteBody__logo {
      @media @small {
        width: 150px;
        height: 80px;
        top: 83%;
        left: 45%;
      }
    }
  }

  .SearchAllResult {
    width: 100%;
    padding: 0;

    @media @small {
      width: 40%;
    }
  }

  &__filters-list {
    margin: 15px;
    display: flex;
    position: absolute;

    @media @small {
      display: none;
    }
  }

  &__reserved {
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 3%;
    top: 3%;
    text-align: center;
    line-height: 30px;
    background: @orange-hot;
    border: 1px solid @orange-hot;
    font-weight: bold;
    color: @white;
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;

    &--withMobileFilters {
      top: 6%;
    }

    &:hover {
      background: @orange-hot;
      color: @white;
    }

    span {
      font-weight: normal;
    }

    @media @small {
      right: 7%;
    }

    @media @large {
      right: 5%;
    }
  }
}

.WebsiteBodyControl {
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  top: 82.5%;
  left: 85%;

  @media @small {
    left: 94%;
  }

  &__gps {
    cursor: pointer;
    z-index: 100;
    margin-bottom: 5px;

    .MapOS__locateGPS-button {
      width: 35px;
      height: 35px;

      @media @small {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__zoom {
    display: none;

    @media @small {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      z-index: 100;

      &__button {
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: @white;
        border: 1px solid @border-color-base;
        color: @black;

        &:hover {
          background-color: @primary-color;
        }
      }
    }
  }
}
