@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.WebsiteBody {
  position: relative;
  display: flex;
  flex-direction: column;

  @media @small {
    flex-direction: row;
  }

  &__map {
    width: 100%;
  }

  &__hideMap {
    display: none;

    @media @small {
      display: block;
      width: 100%;
    }
  }

  .SearchAllResult {
    width: 100%;
    padding: 0;

    @media @small {
      width: 40%;
      padding: 0 25px 0 0;
    }
  }
}
