.LikeSection {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  .like-slider {
    .RawSlider {
      max-width: none;
      width: 100%;
    }
  }
  .like-worth {
    align-self: center;
    margin-bottom: 16px;
  }
  .warning-wrapper {
    text-align: justify;
  }
  span.ant-checkbox {
    padding-bottom: 1px;
  }
}
