@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

.object-about {
  background: @white;
  border: @base-border;
  margin-bottom: 16px;
  padding: 16px;

  .object-sidebar {
    .PicturesCarousel {
      width: @left-width + 100;
      margin: 0 auto;
    }
  }

  &__showMore {
    display: block;
    margin-bottom: 0;
    text-align: center;
  }

  &__content {
    margin-bottom: 15px;
  }
}

@import 'ObjectAbout-nightmode';
