@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.nightmode {
  .object-profile {
    &__row {
      background: @grey-nero !important;
      border-color: @normal-grey !important;
    }
    &__trade {
      background-color: @grey-nero;
      color: @white-smoke !important;
      border: @border-width-base @border-style-base @normal-grey !important;
    }
    .st-tab-select-label {
      background-color: @grey-nero;
    }
    .selected {
      background-color: @normal-grey !important;
    }
  }
}
