@import (reference) '../styles/custom.less';

.nightmode {
  .object-about {
    background: @grey-nero;
    border: solid 1px @normal-grey;
    .object-sidebar {
      .PicturesCarousel {
        border-color: @normal-grey;
        .slick-prev,
        .slick-next {
          color: @white-smoke !important;
        }
      }
    }
  }
}
