@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.ObjectGallery {
  .ant-card-grid {
    padding: 0;
  }

  &__addAlbum {
    width: 100%;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 8px;
      color: #99aab5;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__empty {
    background: @white;
    border-top: @base-border;
    border-bottom: @base-border;
    padding: 16px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;

    .proposition-line {
      display: flex;
      justify-content: center;
    }
  }
}
