@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.ObjectProfile {
  &__empty {
    background: @white;
    border-top: @base-border;
    border-bottom: @base-border;
    margin-bottom: 16px;
    padding: 16px;
    margin-top: -40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
}
