.ant-carousel .slick-slide {
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.slick-prev,
.slick-next {
  z-index: 3000;
  background: initial !important;
  color: initial !important;
}

.slick-prev {
  margin-left: 32px;
}

.slick-next {
  margin-right: 32px;
}
