@import (reference) '../styles/custom.less';

.ObjectRank,
.ObjectType {
  display: flex;
  align-items: center;
  .ant-tag {
    height: 20px;
    margin-left: 8px;
    text-shadow: none;
  }
}

@import 'TagBadgeStyles-nightmode';
