@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.wobj-history__filters {
  padding: 12px 6px;
  background-color: @component-background;
  border: @border-width-base @border-style-base @border-color-base;
  margin-bottom: 12px;

  @media @small, @medium, @large {
    display: flex;
    justify-content: space-between;
  }
  .ant-select {
    width: 100%;
    height: 32px;
    padding: 0 6px;

    &:first-of-type {
      margin-bottom: 10px;
    }

    @media @small, @medium, @large {
      max-width: 50%;
      margin-bottom: 0 !important;
    }
  }

  .icon-button {
    justify-content: flex-end;
    padding: 10px 6px 0 6px;

    @media @small, @medium, @large {
      padding: 0 6px;
    }
  }
}

.wobj-history__sort {
  margin-bottom: 6px;
}

@import 'WobjHistory-nightmode';
