@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.nightmode {
  .wobj-history__filters {
    background-color: @grey-nero !important;
    border: 1px solid @normal-grey !important;
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: @blue-darkGrayish !important;
  }
}
