@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.PostFeedEmbed {
  position: relative;
  margin: 4px 0;
  cursor: pointer;
  background-color: #000000;

  &__playButton {
    margin: 0 !important;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    //background: fade(@primary-color, 40%);

    & .iconfont {
      margin: auto;
      font-size: 6em;
      color: @white;
    }
  }

  &__preview {
    display: block;
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
  }

  &__container {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 56%;
    &_high {
      min-height: 600px;
    }
    iframe {
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 2px);
      position: absolute;
    }
  }

  &__container-vimeo {
    padding-bottom: 52%;
  }

  &__container_loading {
    min-height: 295px;
  }
}

.profile {
  .PostFeedEmbed__container_high {
    height: 750px;
  }
}
.ant-modal-body {
  .PostFeedEmbed__container_high {
    height: 600px;
  }
}
.PostFeedEmbed__container_instagram-reel {
  padding-bottom: 112%;
}

.PostFeedEmbed__container_instagram {
  padding-bottom: 87%;
}

@media screen and (max-width: @medium-bp) {
  .PostFeedEmbed__container_high {
    height: 740px;
  }
}
