@import (reference) '../Common.less';

.st-post-quotation-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid @color-dark-gray;
  padding: 15px;

  .st-trade-button.buy {
    margin-right: 10px;
  }
}
