@import (reference) '../../../styles/custom.less';

.nightmode {
  .CryptoTrendingCharts {
    &__chart-header {
      color: @white-smoke;
    }

    &__usd-price {
      color: @primary-color;
    }

    &__btc-price {
      color: @blue-botticelli;
    }

    path.line {
      stroke: @primary-color !important;
    }

    g.lineChart {
      background: @grey-nero !important;
    }

    circle.data-point {
      fill: @primary-color !important;
      stroke: lighten(@primary-color, 40%) !important;
    }

    g.tick text {
      fill: @blue-botticelli;
    }

    .linechart-tooltip {
      background-color: @grey-nero;
      border-color: @blue-botticelli;
    }
  }
}
