@import (reference) '../../../styles/custom.less';

.forecasts-block {
  border: 1px solid @white-gainsboro;
  border-radius: 4px;
  background: @white;
  left: auto;
  top: auto;

  &__content {
    padding: 0 10px;
  }

  &__header {
    justify-content: flex-start;
    color: @blue-baliHai;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    background: @white;
    height: 45px;
    padding: 0 12px;
    border-bottom: 1px solid @white-gainsboro;

    &-icon {
      font-size: 22px;
      margin-right: 5px;
      vertical-align: -2px;
    }
  }
}
