@import (reference) '../../styles/custom.less';

.nightmode {
  .Manage {
    &__button {
      color: @white;
      background-color: @orange-hot;
      border-color: @orange-hot;

      &:hover {
        color: @white;
        background-color: #ff9130;
        border-color: #ff9130;
      }
    }
  }
  .Manage__button > a {
    color: @white;
  }
}
