@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Manage {
  display: flex;
  position: fixed;
  top: 120px;
  flex-direction: column;
  min-width: 420px;

  &__account-balance-wrap {
    &-title {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: x-large;
    }

    &-text-content {
      font-weight: 500;
    }
  }

  &__rewards-campaign-wrap {
    margin-top: 20px;

    &-title {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: x-large;
    }

    &-text-content {
      font-weight: 500;
    }
  }
}

.Manage__account-balance-wrap-text-content :nth-child(2) {
  padding-left: 50px;
}

.Manage__account-balance-wrap-text-content :nth-child(3) {
  padding-left: 42px;
}

.Manage__rewards-campaign-wrap-text-content :first-child {
  padding-left: 7px;
}
