@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .UserInstrumentsTable {
    border: 1px solid @normal-grey;
    background-color: @grey-nero;
  }

  .UserInstrumentsTableHeader {
    border-bottom: 1px solid @normal-grey;
    &__item.active {
      color: @white-gainsboro;
    }
  }
}
