@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/mixins';
@import (reference) '../../../styles/modules/variables.less';

.UserInstrumentsTable {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: @white;
  border: 1px solid @white-gainsboro;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.UserInstrumentsTableHeader {
  .content-block-title(space-between);

  &__item {
    display: flex;
    justify-content: center;
    width: 30%;

    &-icon {
      padding-right: 0.2rem;
    }

    &-content {
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.UserInstrumentsTableHeader__item.active {
  color: rgba(0, 0, 0, 0.7);
}

.UserInstrumentsTableRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: bold;
  padding: 0.5rem;
  align-items: center;
  &__instruments {
    display: flex;
    align-items: center;
    text-align: left;
    width: 33%;
    @media @small {
      padding-left: 1rem;
    }

    &-icon {
      margin-right: 0.3rem;
    }
  }

  &__deals,
  &__profit {
    cursor: default;
    text-align: center;
    width: 33%;
  }
}

.UserInstrumentsTableRow__profit.success {
  color: @green;
}

.UserInstrumentsTableRow__profit.unsuccess {
  color: @red;
}

@import 'UserInstrumentsTable-nightmode';
