.GiveawayPreviewBlock {
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  margin: 10px 0 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
  }

  &__section {
    margin-bottom: 12px;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__list {
    margin-left: 12px;
    margin-top: 4px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  &__icon {
    color: var(--websive-color);
    margin-right: 8px;
  }

  &__disclaimer {
    color: #595959;
    margin-top: 8px;
  }

  .ant-checkbox-inner {
    margin-right: 5px;

    &::after {
      border-color: var(--website-color) !important;
      color: var(--website-color) !important;
      -webkit-animation-name: none;
      animation-name: none;
    }
  }
}
