@import (reference) '../../styles/custom.less';

.UserStatistics {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}

.UserStatistics.empty-data {
  width: 100%;
  color: @tertiary-color;
  font-weight: bold;
  text-align: center;
}
