.GenerateReport {
  margin-bottom: 20px;

  &__info {
    margin-bottom: 20px;
    color: #99aab5;
  }

  .ant-btn {
    margin-bottom: 20px;
  }

  h2 {
    margin: 20px 0;
    line-height: 20px;
  }
}
