@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.WalletTable {
  &__bright {
    margin-left: 44.5% !important;
  }

  &__back-btn {
    display: block;
    text-align: right;
  }

  &__submit {
    display: block;
    margin-top: 15px;
  }

  & span.username {
    transition: 0.5s;

    &:hover {
      color: @orange-hot;
    }
  }

  &__selectedUserWrap {
    .SelectUserForAutocomplete {
      &:last-child {
        margin-bottom: 0;
      }

      margin-bottom: 5px;
    }
  }

  &__total {
    padding: 15px 0;

    b {
      color: @black;
    }
  }

  &__userSearch.ant-select {
    width: 100%;

    @media @small {
      width: 455px;
    }
  }

  &__date-wrap {
    display: flex;
  }

  &__tableFilter {
    .ant-row.ant-form-item {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }
}

.ant-form-explain {
  margin-bottom: -30px;
}

@import './WalletTable-nightmode';
