@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.WalletTable {
  padding: 0 0 30px;
  &__checkbox-text {
    margin-left: 5px;
    margin-top: 2px;
  }
  &__bright {
    margin-left: 44.5% !important;
  }

  &__back-btn {
    display: block;
    text-align: right;
  }

  &__submit {
    display: block;
    margin-top: 15px;
  }

  & span.username {
    transition: 0.5s;

    &:hover {
      color: var(--website-color);
    }
  }

  &__selectedUserWrap {
    .SelectUserForAutocomplete {
      &:last-child {
        margin-bottom: 0;
      }

      margin-bottom: 5px;
    }
  }

  &__total {
    padding: 10px 0 0;

    b {
      color: @black;
    }
  }

  &__userSearch.ant-select {
    width: 100%;

    @media @small {
      width: 455px;
    }
  }

  &__date-wrap {
    display: flex;
  }

  &__tableFilter {
    .ant-row.ant-form-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__datepickerFooter {
    text-align: center;
    cursor: pointer;
    color: var(--website-color);
    transition: 0.5s;
    border: none;
    background: transparent;
    outline: none;
    display: block;
    width: 100%;

    &:hover {
      color: var(--website-hover-color);
    }
  }

  &__exclude {
    color: @blue-gullGray;
    margin: 5px 0;
    &--last {
      color: @blue-gullGray;
      margin-top: -6px;
    }
  }

  &__disclaimer {
    margin-bottom: 10px;
  }

  &__csv-button {
    outline: none;
    background: transparent;
    border: none;
    color: var(--website-color);
    &:hover {
      cursor: pointer;
      color: var(--website-hover-color);
    }
    &:disabled {
      color: @silver;
      cursor: initial;
    }
  }

  &__accountsLabel::before {
    display: inline-block;
    margin-right: 4px;
    color: @red-danger;
    font-size: 16px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }

  &__error {
    color: @red-danger;
  }
}

.ant-form-explain {
  margin-bottom: -30px;
}

.WalletTableSwitcher {
  .ant-tabs-nav .ant-tabs-tab a {
    color: @blue-botticelli;
    padding: 12px 16px;
    font-weight: 500;
  }

  .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active a {
    color: var(--website-color);
    padding: 12px 16px;
    font-weight: 500;
  }
}

@import './WalletTable-nightmode';
