@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.SocialNotifications {
  margin: 20px 0;

  @media @small {
    margin: 20px 130px;
  }
  .NotificationsPage__title {
    padding-left: 0;
  }
}
