@import (reference) '../../../client/styles/custom.less';

.forecastCard {
  display: flex;
  border: 1px solid @blue-hawkesBlue;
  border-radius: 4px;
  padding: 12px;
  background-color: @white;
  margin-bottom: 5px;

  &__disabled {
    opacity: .5;
  }

  &__title {
    text-align: center;
    width: 95%;
    margin-bottom: 25px;
  }

  &__image {
    width: 25%;
    height: 25%;
    object-fit: contain;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0 0 15px;
  }

  &__top-block {
    display: flex;
    justify-content: space-between;
  }
}

.graphic {
  display: block;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid @blue-botticelli;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: .5s;
  outline: none;

  &:hover {
    background-color: @blue-hawkesBlue;
  }

  &:disabled {
    cursor: auto;

    &:hover {
      background-color: transparent;
    }
  }
}

.no-posts {
  padding: 10px 15px;
}

@import 'QuickForecastCard-mode_night';
