@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.CategoryItemView {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @white;
  border: @base-border;
  border-radius: @border-radius-base;
  margin-top: 5px;
  &__content {
    display: flex;
    align-items: center;
  }

  &__reject {
    color: var(--website-color);
    font-weight: 500;
    cursor: pointer;
  }

  &__rejected {
    color: @blue-gullGray;
    font-weight: 500;
    cursor: auto;
  }

  .anticon {
    color: @tertiary-color;
  }
  &__avatar {
    width: 70px;
    border-radius: 8px;
    height: 70px;
    display: block !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid @white-gainsboro;
  }
  &__name {
    display: flex;
    align-items: center;
    width: auto;
    cursor: auto;

    &-truncated {
      margin-left: 15px;
      color: @grey-gondola;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      font-size: 24px;
      letter-spacing: -0.5px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 8px;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: var(--website-color);
      }

      .items-count {
        font-weight: 400;
      }
    }
  }
}

@import './CategoryItemView-nightmode';
