@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.SearchAllResult {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0 20px 0 0;
  transition: 0.3s;
  left: -100%;
  z-index: 201;

  @media @small {
    left: -40%;
  }

  &__toggle-button {
    display: none;

    @media @small {
      display: inline-block;
      width: 25px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: @blue-botticelli;
      position: absolute;
      border: 1px solid @white-gainsboro;
      border-radius: 4px;
      right: -35px;
      top: 10px;
      background: @white;
      cursor: pointer;
    }
  }

  &__show {
    left: 0;
  }

  &__main-wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    background: @white;
    padding: 10px;
    height: 100%;

    @media @small {
      height: 94%;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 15px;
  }

  &__filters-button.ant-btn {
    display: flex;
    align-items: center;

    span {
      margin: 0;
    }

    i {
      margin-top: 4px;
    }
  }

  &__buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 20px;

    @media @small {
      display: none;
    }
  }

  &__type-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: @white;
  }

  &__type {
    font-size: 22px;
    padding: 0 5px;
    border-right: 1px solid @black;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.5s;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: @orange-hot;
    }

    &--active {
      color: @orange-hot;
    }

    &:last-child {
      border: none;
    }
  }

  &__active-tag {
    background: @maize;
    color: @black;
  }

  &__empty {
    text-align: center;
    padding: 20px;
  }

  &__showMap.ant-btn {
    display: flex;
    align-items: center;

    span {
      margin: 0;
    }

    i {
      margin-top: 4px;
    }
  }

  &__loader {
    padding: 20px 0;
  }

  &__sortWrap {
    display: flex;
    justify-content: space-between;

    &--withoutReload {
      justify-content: flex-end;
    }
  }

  &__reload {
    display: none;

    @media @small {
      display: flex;
      color: @orange-hot;
      cursor: pointer;

      svg {
        width: 15px;
        margin-right: 5px;
        margin-top: 3px;
      }
    }
  }

  &__listReload {
    margin-top: 10px;
    border: 1px solid @white-gainsboro;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;

    svg {
      width: 15px;
      margin: 0 5px 0 0;
    }

    &:hover {
      color: @orange-hot;
    }
  }

  &__filter-list {
    max-height: 360px;
    overflow: auto;
  }

  &__dining {
    .SearchAllResult__type-wrap {
      display: none;
    }

    .SearchAllResult__filters {
      text-transform: uppercase;
    }
  }
}
