@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.SearchAllResult {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 100%;
  padding: 0 20px 0 0;

  &__main-wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    background: @white;
    padding: 10px;
    height: 94%;
  }

  &__filters {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 15px;
  }

  &__buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0;

    @media @small {
      display: none;
    }
  }

  &__type-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: @white;
  }

  &__type {
    font-size: 25px;
    padding: 0 5px;
    border-right: 1px solid @black;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.5s;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: @orange-hot;
    }

    &--active {
      color: @orange-hot;
    }

    &:last-child {
      border: none;
    }
  }
}
