@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .SearchAllResult {
    &__main-wrap {
      background: @grey-nero;
    }

    &__filter-list .ant-dropdown-menu-item {
      color: @white-pale;
    }
  }
  .SearchAllResult__filters-button.ant-btn {
    background: @scorpion;
    color: @white-smoke;
  }
}
