@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.WebsiteWelcomeModal {
  h3 {
    font-size: 14px;
    font-weight: bold;
  }

  .WebsiteWelcomeModal__police-title {
    font-size: 15px;
  }

  .ant-modal-body {
    padding: 10px 20px;
  }

  @media @small {
    h3 {
      font-size: 17px;
    }
  }

  &__img {
    width: 100%;
    height: 260px;
    padding-bottom: 5px;
    margin: 5px 0;

    @media @small {
      height: 450px;
    }
  }

  &__paragph {
    font-weight: 500;
    color: @black;
  }

  .ant-tabs-bar.ant-tabs-top-bar {
    display: none;
  }

  &__button {
    outline: none;
    padding: 0 10px;
    background: transparent;
    border: 1px solid @blue-linkWater;
    cursor: pointer;
    border-radius: 4px;

    &--second {
      background: @orange-hot;
      color: @white;
      border: 1px solid @orange-hot;
    }
  }

  &__police {
    font-size: 13px;
  }

  .ant-modal-title {
    font-size: 20px;
  }

  .ant-modal-header {
    padding: 16px 20px;
  }
}
