@import (reference) '../../styles/modules/variables.less';

.DebtsList {
  display: flex;
  align-items: flex-start;

  &__list {
    width: 100%;

    @media @small {
      width: 90%;
    }
  }

  .RewardsFilters {
    display: none;
    @media @small {
      display: block;
    }
  }
}
