.WebsiteTopNavigation {
  display: none;
  justify-content: center;
  padding: 10px;
  background: #fafbfc;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: solid 1px #e9e7e7;

  a {
    display: inline-block;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
  }
}
