@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.WebsiteTopNavigation {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #fafbfc;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: solid 1px #e9e7e7;
  width: 100%;
  z-index: 99;
  &__popover {
    font-family: var(--template-font-body, inherit);

    .ant-popover-inner-content {
      overflow: auto;
      font-family: var(--template-font-body, inherit);
    }
  }
  &__link {
    display: inline-block;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    cursor: pointer;
    color: var(--website-color);
    font-family: var(--template-font-body, Whitney, 'Source Sans Pro', sans-serif);

    &:hover {
      color: var(--website-hover-color);
    }

    &::after {
      content: '';
      transition: 0.5s;
      display: block;
      width: 0;
      height: 1px;
      margin-left: 0;

      @media @small {
        margin-left: 25px;
      }
    }

    &--active,
    &:hover {
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--website-hover-color);

        @media @small {
          width: calc(100% - 50px);
        }
      }
    }

    &--active {
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--website-color);

        @media @small {
          width: calc(100% - 50px);
        }
      }
    }
  }
}
