@import (reference) '../../../styles/custom.less';
.AffiliateCodes {
  &__object-table {
    background: @white;
    border-radius: 4px;
    border: 1px solid @white-gainsboro;
    padding: 10px 15px;
  }

  &__table-empty {
    background: @white;
    border-radius: 4px;
    border: 1px solid @white-gainsboro;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
  }
  p {
    margin-bottom: 10px;
    color: @blue-botticelli;
  }
  padding-bottom: 30px;
  h3 {
    padding: 20px 0;
  }
  &__object {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid @white-gainsboro;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    .ant-btn.ant-btn-primary {
      width: 140px;

      span {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  &__aff-code {
    color: @blue-botticelli;
  }
  &__object-info-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    a {
      color: @black-text-basic;
    }
  }
  &__object-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;

    span {
      display: inline-block;
    }
  }

  &__mainTitle {
  }
}
