@import (reference) '../../../styles/custom.less';

.WebsiteObjects {
  &__explanations {
    margin-bottom: 10px;
  }
}

.MapWrap {
  position: relative;

  &__cancel {
    z-index: 2;
    color: @red-danger;
    float: right;
    margin: -7px -3px;
    font-weight: 700;
    cursor: pointer;
  }

  &__new-aria-btn {
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 15px;

    & i {
      font-size: 35px;
      color: @orange-hot;
      background: @white;
      border-radius: 50%;
    }
  }

  &__agree-areas {
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 55px;

    & i {
      font-size: 35px;
      color: @orange-hot;
      background: @white;
      border-radius: 50%;
    }
  }

  &__loading {
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 55px;

    & i {
      font-size: 35px;
      color: @orange-hot;
    }
  }

  .WebsiteObjectsControl {
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    top: 70%;
    left: 93%;

    &__gps {
      cursor: pointer;
      z-index: 100;
      margin-bottom: 5px;
    }

    &__zoom {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      z-index: 100;

      &__button {
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: @white;
        border: 1px solid @border-color-base;
        color: @black;

        &:hover {
          background-color: @primary-color;
        }
      }
    }
  }
}
