@import (reference) '../../Common.less';

.ModalComparePerformance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .InstrumentLongTermStatistics {
    margin-left: 0;
  }
}
