@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.EditorToolbar {
  background: @component-background;
  border-bottom: 0;
  white-space: nowrap;
  margin: 0 10px;

  & > &__button.ant-btn {
    border: none !important;
    padding: 0 10px !important;
    animation: 0 !important;

    &.ant-btn-clicked:after {
      animation: 0 !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: @black;
      transition: unset;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }

    .iconfont {
      font-size: 18px !important;
    }
  }

  &__popover {
    &.ant-popover {
      animation: none !important;

      .ant-popover-inner-content {
        border-radius: 0 0 4px 4px;
      }

      .ant-popover-arrow {
        background: @grey-nero;
        top: 3px !important;
      }

      .ant-popover-title {
        color: @white !important;
        background: @grey-nero;
        border-radius: 4px 4px 0 0;
      }

      &.ant-popover-placement-bottom {
        padding-top: 7px;
      }
    }

    @media only screen and (max-width: @medium-bp) {
      &.ant-popover {
        top: 48px !important;
        bottom: unset !important;
        &-placement-bottom {
          padding-top: 0;
        }
      }
    }
  }
}

.EditorToolbar__container {
  align-items: center;
  border-bottom: 0;
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
  border: @base-border;
  border-bottom: 0;
  display: flex;
  margin-right: 0 !important;
  overflow-y: hidden !important;
  background: @component-background;
}

@import 'EditorToolbar-nightmode';
