.check-review-modal {
  &__body {
    padding: 12px;
  }
  &__paragraph {
    padding: 6px 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;

    button {
      width: 40%;
    }
  }
}
