.check-review-modal {
  &__body {
    padding: 12px;
  }
  &__paragraph,
  &__list {
    padding: 6px 0;
  }
  &__list-title::first-letter {
    text-transform: uppercase;
  }
  &__list-item {
    i.anticon {
      padding: 0 5px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;

    button {
      width: 40%;
    }
  }
}
