@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/mixins.less';

.ReferralDetail {
  .referrals-main-styles();

  &__title {
    padding-bottom: 10px;
  }

  &__offer-percent {
    font-weight: 600;
    font-size: 15px;
  }

  &__description {
    padding-bottom: 20px;
  }

  &__addition-offers-text {
    padding-bottom: 10px;
  }

  &__addition-users-text {
    padding-bottom: 10px;
  }

  &__addition-session-text {
    padding-bottom: 10px;
  }

  &__commissions-title {
    padding: 20px 0 10px;
    font-weight: 600;
  }

  &__commissions-example {
    padding: 10px 0 10px;
  }

  &__commissions-sponsor {
    padding-bottom: 10px;
  }

  &__commissions-processing {
    padding-bottom: 10px;
  }

  &__commissions-distribution {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    line-height: 30px;
    padding-bottom: 10px;
  }

  &__commissions-payments {
    padding-bottom: 20px;

    &__receivables {
      .referrals-link-button();
    }
  }

  &__referral-period {
    padding: 20px 0 10px;
    font-weight: 600;
  }

  &__referral-sessions {
    padding-bottom: 10px;
  }

  &__referral-partners {
    padding-bottom: 20px;

    &_status {
      .referrals-link-button();
    }
  }
}

@import 'ReferralDetails-nightmode';
