@import (reference) '../../../../client/styles/custom.less';

.nightmode {
  .InstrumentLongTermStatistics {
    border: @normal-grey;

    &__title {
      border-bottom: @normal-grey;
    }

    background-color: @grey-nero;
    border: @normal-grey;
  }
}
