@import (reference) '../../../../client/styles/custom.less';

.nightmode {
  .InstrumentLongTermStatistics {
    &__title {
    border-bottom: @base-border;
  }

    background-color: @grey-nero;
    border: @normal-grey;
  }
}
