@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.UserWalletSummary {
  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0 10px 0;
  }

  &__itemWrap {
    padding: 10px 0;
    border-bottom: @base-border;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    color: @blue-baliHai;
    margin: 5px 0 0 35px;
  }

  &__icon {
    color: @blue-baliHai;
    margin-right: 10px;

    &.icon-flashlight_fill {
      height: 30px;
      line-height: 30px;
    }

    &.hive {
      height: 20px;
      width: 20px;
      margin-left: 5px;
    }
  }

  &__label {
    align-items: center;
    color: @black;
    display: flex;
    font-size: 18px;
  }

  &__value {
    .red {
      color: @red;
    }

    align-items: center;
    color: @black;
    display: flex;
    font-size: 18px;
    margin-left: auto;
    text-align: right;

    &--cursorPointer {
      cursor: pointer;
    }
  }

  &__reward {
    &::after {
      color: @blue-botticelli;
      content: ' - ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }

  @media @small {
    border: @base-border;
    border-radius: @border-radius-base;
  }
}

div[data-dir='rtl'] .UserWalletSummary {
  &__icon {
    margin-right: 0;
    margin-left: 10px;
  }

  &__value {
    direction: ltr;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }
}

@import './UserWalletSummary-nightmode';
