@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.UserWalletSummary {
  &__button {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--website-color);
    border-radius: 4px;
    color: var(--website-color);
    &:hover {
      border: 1px solid var(--website-hover-color);
      color: var(--website-hover-color);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0 10px 0;
  }

  &__itemWrap {
    padding: 10px 0;
    border-bottom: @base-border;

    &:last-of-type {
      border-bottom: 0;
    }
  }
  &__itemWrap--no-border {
    margin: 20px 0;

    &.last-block {
      margin-bottom: 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    color: @blue-baliHai;
    margin: 5px 0 0 35px;
  }

  &__icon {
    color: @blue-baliHai;
    margin-right: 10px;

    &.icon-flashlight_fill {
      color: @hive-red;
      height: 30px;
      line-height: 30px;
    }

    &.hive {
      height: 20px;
      width: 20px;
      margin-left: 5px;
    }
  }
  &__icon--savings {
    svg {
      width: 17px;
      margin-bottom: -5px;
      margin-left: 7px;
      margin-right: 1px;

      path {
        fill: @hive-red;
      }
    }
  }
  &__icon--savings-green {
    svg {
      width: 17px;
      margin-bottom: -5px;
      margin-left: 7px;
      margin-right: 1px;

      path {
        fill: @hbd-green;
      }
    }
  }

  &__label {
    align-items: center;
    color: @black;
    display: flex;
    font-size: 18px;
    &.power-down {
      margin-left: 35px;
    }
  }

  &__value {
    .red {
      color: @red;
    }

    align-items: center;
    color: @black;
    display: flex;
    font-size: 18px;
    margin-left: auto;
    text-align: right;

    &--cursorPointer {
      cursor: pointer;
    }
  }

  &__reward {
    &::after {
      color: @blue-botticelli;
      content: ' - ';
    }

    &:last-of-type {
      &::after {
        content: '';
      }
    }
  }

  @media @small {
    border: @base-border;
    border-radius: @border-radius-base;
  }
}

div[data-dir='rtl'] .UserWalletSummary {
  &__icon {
    margin-right: 0;
    margin-left: 10px;
  }

  &__value {
    direction: ltr;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }
}

@import './UserWalletSummary-nightmode';
