@import (reference) '../../../../../styles/custom.less';

.modalBodySlider {
  &_title {
    padding: 8px 0;
    font-weight: 500;
  }

  &_text {
    padding-top: 8px;
    color: @grey-darkGrey;
    margin-bottom: 20px;
  }
}
