@import (reference) '../../../styles/modules/variables.less';
@import (reference) '../../../styles/custom.less';

.ManageRcDelegations {
  p {
    margin-bottom: 10px;
  }
  &__container {
    border: @base-border;
    border-radius: 4px;
    padding: 10px 10px 0;
  }
}
