@import (reference) '../../../../styles/modules/variables.less';
@import (reference) '../../../../styles/custom.less';

.ReportTableRewards {
  border: 1px solid @black;
  text-align: center !important;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: medium;
  margin-bottom: 20px;
  width: 100%;

  & td {
    border: 1px solid @black;
  }

  & th {
    vertical-align: top;
    text-align: center !important;
    border: 1px solid @black;
  }

  & thead th {
    font-weight: 500;
    color: @black;
    text-align: left;
  }

  & tbody td {
    font-weight: 500;
    font-size: small;
    padding: 3px 2px;
  }

  &.basicWidth {
    width: 11%;
  }

  &.mediumWidth {
    width: 22%;
  }

  &.maxWidth {
    width: 40%;
    text-align: start !important;
    padding-left: 15px;
  }

  &__header {
    font-size: 18px;
    color: @black;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .ReportTableRewardsRow {
    &__name {
      text-align: left;
      padding-left: 25px;
    }

    &__total {
      text-align: left;
      padding-left: 15px;
      font-size: medium;
      font-weight: 600;
      color: @black;
    }

    &__amount {
      font-size: medium;
      font-weight: 600;
      color: @black;
      align-items: center;
    }
  }
}

@media (max-width: 414px) {
  .ReportTableRewards {
    font-size: 14px;

    &__header {
      font-size: 16px;
    }

    &.maxWidth {
      width: 30%;
      padding-left: 5px;
    }

    & tbody td {
      font-size: 11px;
    }

    .ReportTableRewardsRow {
      &__total,
      &__amount {
        font-size: 12px;
      }

      &__name,
      &__total {
        padding-left: 5px;
      }
    }
  }
}

@import 'ReportTableRewards-nightmode';
