@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.ShopObjectCard {
  background: @white;
  padding: 35px 10px;
  border-radius: 4px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: @base-border;
  position: relative;
  margin-right: 10px;

  &:nth-child(3n) {
    @media @small {
      margin-right: 0;
    }

    margin-right: 10px;
  }

  &:nth-child(2n) {
    @media @small {
      margin-right: 10px;
    }

    margin-right: 0;
  }

  @media @small {
    width: 31%;
  }

  &__affiliatLinks {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    justify-content: center;

    @media @small {
      margin: 15px 0;
    }
  }

  &__affiliatLinksWrap,
  &__avatarWrap {
    display: flex;
  }

  &__avatarWrap {
    align-items: flex-start;

    .HeartButton {
      position: absolute;
      margin-left: 10px;
      top: 10px;
      right: 10px;

      &--active {
        color: var(--website-color);
      }
    }
  }

  .AffiliatLink {
    border: @base-border;
    width: 65px;
    padding: 0 2px;
    margin-left: 5px;
    margin-bottom: 5px;

    @media @small {
      width: 100px;
      padding: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__name {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
  }

  &--rewards {
    border: 1px solid var(--website-color);
    padding: 30px 10px;
  }

  &__rewardTitle {
    margin-bottom: 30px;
  }

  &__price {
    color: var(--website-color);
    font-weight: 600;
  }

  .ObjectAvatar {
    border: none;
  }

  .ObjectCardView__tag-text {
    text-align: center;
  }
}
