@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.ShopObjectCard {
  background: @white;
  padding: 35px 10px 10px;
  border-radius: 4px;
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: @base-border;
  position: relative;
  margin-right: 10px;

  @media @small {
    width: calc((100% - 30px) / 3);
  }
  &__tag {
    text-transform: none;
  }

  .RatingsWrap {
    max-width: 100%;
  }

  &__affiliatLinks {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    justify-content: center;

    @media @small {
      margin: 15px 0;
    }
  }

  &__affiliatLinksWrap,
  &__avatarWrap {
    display: flex;
  }

  &__avatarWrap {
    width: 175px;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media @small {
      width: 225px;
      height: 225px;
    }
  }

  &__topInfoWrap {
    .HeartButton {
      position: absolute;
      margin-left: 10px;
      top: 10px;
      right: 10px;

      &--active {
        color: var(--website-color);
      }
    }
  }

  &__avatarWrap {
    align-items: flex-start;
  }

  .AffiliatLink {
    border: @base-border;
    max-width: 122px;
    width: auto;
    width: fit-content;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 5px;

    &__icon-amazon {
      div {
        max-width: 122px;
        width: fit-content;
        padding: 0 4px;
      }
    }

    &__icon {
      div {
        max-width: 122px;
        width: fit-content;
        padding: 0;
      }

      @media @small {
        max-width: 122px;
        width: fit-content;
        padding: 0;
      }

      &:first-child {
        @media @small {
          margin-left: 0;
        }
      }
    }
  }

  &__name {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
    color: @black;
    font-weight: 500;

    &:hover {
      color: @black;
    }
  }

  &--rewards {
    border: 1px solid var(--website-color);
    padding: 30px 10px;
  }

  &__rewardTitle {
    margin-bottom: 30px;
    font-size: 17px;

    .USDDisplay {
      color: var(--website-color);
    }
    &--small {
      margin-bottom: 30px;
      font-size: 17px;
      text-align: center;

      .USDDisplay {
        color: var(--website-color);
      }
    }
  }

  &__price {
    color: var(--website-color);
    font-weight: 600;
  }

  .ObjectAvatar {
    border: none;
  }

  .ObjectCardView__tag-text {
    text-align: center;
  }
}

@import './ShopObjectCard.clean.less';
