@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';
.md-add-button--comments {
  margin-top: 7px;
}
.ant-drawer.ant-drawer-bottom.ant-drawer-open {
  z-index: @ant-message-z-index;
  height: 100%;
}
.ant-drawer-content-wrapper {
  height: 100% !important;
}
.smooth-height {
  transition: height 0.3s ease-in-out;
}
.ChatWindow {
  z-index: @ant-message-z-index;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: white;
  border-radius: 0;
  border-top: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //bottom: -120%;
  right: 0;
  //transition: bottom 0.5s ease-in-out;

  @media @small {
    width: 400px;
    right: 20px;
    height: 600px;
    border-radius: 10px;
    transition: bottom 0.5s ease-in-out;
    bottom: -120%;
  }

  &.open {
    bottom: 0;
    @media @small {
      bottom: 10px;
    }
  }

  &.closed {
    transition: none;
  }
  ol {
    list-style-position: inside;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: -20px;
  }
  li {
    margin-bottom: -10px;
  }

  br {
    display: none;
  }
  img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: -webkit-fill-available;
    max-width: 100%;
    max-height: 300px;
  }
  .QuickComment__send-comment {
    z-index: @ant-message-z-index;
    bottom: 20px;
    right: 25px;
    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .info-paragraph {
    text-align: center;
  }

  .chat-logo {
    border: 0.5px solid var(--website-text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .chat-logo-small {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .chat-header-text {
    margin-left: 10px;
  }
  .chat-header-text-sites {
    margin-left: 15px;
    text-align: center;
    max-width: 215px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--website-color);
    color: var(--website-text-color);
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
    @media @medium {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .chat-header-logo-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .chat-header-buttons-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chat-header-buttons-wrap--all {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-left: 1px solid @white-gainsboro;
    border-right: 1px solid @white-gainsboro;
  }
  .ImageSetter {
    padding: 0 10px;
    margin-bottom: -10px;
    z-index: 10;
    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 5px;
    color: @blue-botticelli;
    font-weight: 500;
  }
  .message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    //margin-bottom: 15px;
    color: @black-text-basic;
    min-height: 40px;
    border-radius: 5px;
    max-width: 280px;
    width: fit-content;
    padding: 8px 16px;
    white-space: break-spaces;
    word-break: break-word;
    font-weight: 500;
  }

  .message.from-user {
    background-color: var(--website-light-color);
    margin-left: auto;
  }

  .message.from-assistant {
    background-color: @white-gainsboro;
    margin-right: auto;
  }

  .options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .options-column {
    display: flex;
    justify-content: flex-start;
    margin: 0 20px 20px;
    gap: 10px;
    flex-direction: column;
  }
  .chat-messages {
    margin-top: 10px;
  }

  .options button {
    background-color: @white-gainsboro;
    color: @black-text-basic;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }
  .options-column button {
    text-align: left;
    width: fix-content;
    max-width: 330px;
    background-color: @white-gainsboro;
    color: @black-text-basic;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }

  .chat-footer {
    display: flex;
    padding: 10px;
    border: 1px solid @white-gainsboro;

    @media @medium {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .chat-footer .chat-input {
    font-weight: 500;
    padding: 8px 30px 8px 12px;
    flex: 1;
    border: 1px solid @white-gainsboro;
    border-radius: 5px;
    resize: none;
  }

  .header-button-icon {
    font-size: 22px;
    cursor: pointer;
  }
  .typing-container {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: @white-gainsboro;
  }

  .dot {
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0 3px;
    animation: typing 1.5s infinite;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes typing {
    0%,
    80%,
    100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.5);
    }
  }
}

.AiReloadContainer {
  &.ant-tooltip.ant-tooltip-placement-topLeft {
    padding-bottom: 0 !important;
  }

  & .ant-tooltip-inner {
    color: @black-text-basic;
    background: @white;
    width: 235px;
    margin-left: 50px;
  }

  & .ant-tooltip-arrow::before {
    background: transparent;
  }
}
.ChatWindow.fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1999;
  border-radius: 0;
  background-color: rgba(300, 300, 300, 0.9);
}

.ChatWindow.fullscreen {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 95vw;
  height: 95vh !important;
  border-radius: 10px;
  z-index: 2000;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  .options {
    justify-content: center;
    gap: 20px;
  }
  .message {
    max-width: 90vw;
    @media @medium {
      max-width: 60vw;
    }
    &.from-user {
      max-width: 60vw;
    }
  }

  .chat-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .chat-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
