@import (reference) '../../../styles/custom.less';

.WebsitesSettings {
  padding: 15px 0;

  p {
    color: @blue-botticelli;
    line-height: 25px;
  }

  .ant-form-explain {
    margin-bottom: 0;
  }

  &__benefic-block {
    padding-left: 30px;
  }

  &__referral-terms {
    margin-bottom: 20px;
  }

  &__currency.ant-select.ant-select-enabled {
    width: 85px;
  }

  &__language.ant-select.ant-select-enabled {
    width: 150px;
  }
}
