@import (reference) '../../../styles/custom.less';

.WebsitesSettings {
  p {
    color: @blue-botticelli;
  }

  .ant-form-explain {
    margin-bottom: 0;
  }

  &__benefic-block {
    padding-left: 30px;
  }
}
