@import (reference) '../../../styles/custom.less';

.nightmode {
  .WebsiteMainPage {
    & .money-tree-picture {
      display: none;
    }

    & .money-tree-picture-nightmode {
      display: initial;
      height: 127px;
      width: 100px;
    }
  }
}
