.WebsiteReservedButtons {
  display: flex;
  align-items: center;

  .Buttons__post-menu {
    margin-left: 10px;
  }
}

.Proposition__footer {
  .WebsiteReservedButtons__button.ant-btn {
    border-radius: 8px;
    background: var(--website-color);
  }
}
