.WebsiteReservedButtons {
  display: flex;
  align-items: center;

  .Buttons__post-menu {
    margin-left: 10px;
  }

  &__button {
    text-transform: none;
  }
}

.Proposition-new__footer {
  .WebsiteReservedButtons__button.ant-btn.ant-btn-primary {
    border-radius: 8px;
    background: var(--website-color);

    &:hover {
      background: var(--website-color);
      border-color: var(--website-color);
    }
  }
}
