@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.ObjectTypesNavigation {
  .object-types-navigation-loader {
    padding-left: 10px;
    .ant-skeleton-content .ant-skeleton-paragraph > li {
      height: 26px;
      margin-top: 12px;
    }
  }
}
