@import (reference) '../../../styles/custom.less';

.nightmode {
  .Proposition-new {
    &__title {
      border-bottom: 1px solid #e7e9f5;
      color: white;
    }

    &__footer {
      color: #99aab5;
    }

    &__infoItem {
      color: #99aab5;

      a {
        color: #99aab5;
      }
    }

    &__userCard {
      color: white;
    }

    &__days {
      color: white;
    }
  }
}
