@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.Proposition-new {
  font-size: 14px;
  margin: 20px 0;

  &__yourRewards {
    display: none !important;

    @media @small {
      display: inline !important;
    }
  }

  &__header {
    border: 2px solid #f87007;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    margin: 0 15px;

    @media @small {
      margin: 0 25px;
    }
  }

  &__title {
    padding: 0 0 10px;
    border-bottom: 1px solid #e7e9f5;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
  }

  &__footer {
    border: 2px solid #f87007;
    color: #99aab5;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 15px;
    margin: 0 15px;

    @media @small {
      margin: 0 25px;
    }

    .ant-btn-primary {
      margin-right: 10px;
    }

    .Comment {
      font-size: 16px;
    }

    .iconfont {
      cursor: pointer;
    }
  }

  &__footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Comment {
      font-size: 16px;
    }

    &--noEligible {
      justify-content: flex-end;
    }

    &--reserved {
      flex-direction: column;

      @media @small {
        flex-direction: row;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sponsorInfo {
    display: flex;
    justify-content: space-between;
  }

  &__infoItem {
    color: #99aab5;
    display: flex;
    flex-direction: column;
    font-weight: 500;

    a {
      color: #99aab5;
      font-weight: 500;
    }

    &--right {
      align-items: flex-start;
    }
  }

  .ObjectCardView {
    margin: 0;
    box-shadow: 2px 2px 8px -2px #99aab5;
  }

  &__userCard {
    display: flex;
    color: black;
    font-weight: bold;

    .Avatar {
      margin-right: 5px;
    }
  }

  &__minus {
    padding: 0 5px;
  }

  &--hovered {
    &:hover {
      cursor: pointer;

      .Proposition__header,
      .Proposition__footer {
        background: @solitaire;
      }
    }
  }

  .iconfont.icon-message_fill {
    margin: 0 1px 0 5px;
  }

  &__commentCounter {
    margin: 0 5px 0 3px;
  }

  &__days {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
    font-size: 16px;
  }

  &__details {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}
