@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .Proposition-new {
    &__title {
      border-bottom: 1px solid #e7e9f5;
      color: white;
    }

    &__footer {
      color: @blue-botticelli;
    }

    &__infoItem {
      color: @blue-botticelli;

      a {
        color: @blue-botticelli;
      }
    }

    &__userCard {
      color: white;
    }

    &__days {
      color: white;
    }
  }
}
