@import (reference) '../../../styles/custom.less';

.nightmode {
  .MainPageHeader {
    background: @grey-nero;

    &__logo b,
    &__link,
    &__logo-border,
    &__listLink a {
      color: @white-smoke;
    }
    &__buttonWrap {
      .Topnav__menu-container__menu > li.ant-menu-item > a {
        color: @white-smoke !important;
      }
    }
  }
}
