@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.WebsiteHeader {
  height: 56px;
  line-height: 52px;
  -webkit-box-shadow: inset 0 0 5px 0 #7d5d5d4a;
  box-shadow: inset 0 0 5px 0 #7d5d5d4a;

  &__link {
    font-size: 25px;
    transition: 0.5s;
    color: @regent-gray;
  }

  &__title {
    text-align: center;
    font-size: 25px;
    color: @regent-gray;
  }

  .topnav-layout &__button-block.right {
    margin-right: 0;

    @media @small {
      margin-right: 20px;
    }
  }
}
