.WebsiteHeader {
  height: 56px;
  line-height: 52px;

  &__link {
    font-size: 25px;
    transition: 0.5s;
    color: #7c92a0;
  }

  &__title {
    text-align: center;
    font-size: 25px;

    & span {
      text-transform: uppercase;
    }
  }
}
