@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.nightmode {
  .MainPageHeader {
    background: @grey-nero;

    &__logo b,
    &__link,
    &__logo-border,
    &__listLink a {
      color: @white-smoke;
    }

    .WebsiteSearch {
      border: none;

      .ant-input {
        border-radius: 8px;
        border: 1px solid @white-smoke !important;
      }
    }

    span {
      color: @white-smoke;
    }

    .DiningFiltersClass {
      background: @grey-nero;
    }

    &__buttonWrap {
      .Topnav__menu-container__menu > li.ant-menu-item > a {
        color: @white-smoke !important;
      }
    }
  }
}
