@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.ChatButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: none;

  @media @small {
    display: block;
    bottom: 24px;
    right: 24px;
  }

  &__item > .ant-btn-circle {
    width: 60px;
    height: 60px;
    font-size: x-large;
  }

  &__item > .ant-btn-primary {
    background-color: @blue-vivid;
  }

  &.hide-element {
    display: none;
  }
}
