@import (reference) '../../styles/modules/variables.less';

.ChatButton {
  position: fixed;
  bottom: 100px;
  right: 24px;
  display: none;

  @media @small {
    display: block;
    bottom: 20px;
    right: 20px;
  }

  @media @medium {
    bottom: 100px;
    right: 24px;
  }

  &__item > .ant-btn-circle {
    width: 60px;
    height: 60px;
    font-size: x-large;
  }

  &.hide-element {
    display: none;
  }
}
