@import (reference) '../../styles/custom.less';

.DelegateListModal {
  &__list {
    .DelegateUserCard:last-child {
      border-bottom: none;
    }
  }

  .DelegateUserCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: @base-border;

    &__name {
      color: @black;
      margin-left: 10px;
    }
  }
}

@import 'DelegateUserCard-nightmode.less';
