@import (reference) '../../styles/custom.less';

.DelegateListModal {
  &__list {
    .DelegateUserCard:last-child {
      border-bottom: none;
    }
  }

  .DelegateUserCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: @base-border;

    &__expiring {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
        font-size: 30px;
      }
    }

    &__name {
      color: @black;
      margin-left: 10px;
      font-weight: 500;
    }
  }
}

@import 'DelegateUserCard-nightmode.less';
