@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';
.feed_empty {
  text-align: center;
  font-size: 16px;
  border: 1px solid @white-gainsboro;
  background: #ffffff;
  border-radius: 4px;
  padding: 16px;
  margin: 10px 0;
  color: @blue-botticelli;
  font-weight: 500;
}

.nightmode {
  .feed_empty {
    border: 1px solid #4f545c;
    background: #24292f;
  }
}
