.MapForms {
  &__desktop-map,
  &__mobile-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .ant-form-item-label.AppendForm__appendTitles.map-title {
      margin-bottom: 20px;
      display: flex;
      width: 100%;
    }
  }
  &__map-button {
    margin: 20px 0;
  }

  .NewsFiltersRule__line-search {
    padding: 0;
  }
  .ant-select-auto-complete.ant-select .ant-select-search--inline {
    margin-top: 0;
  }
}
