@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.RewardsList {
  &__title {
    font-size: 18px;
  }

  &__message {
    margin-top: 30px;
    text-align: center;
  }
}
