@import (reference) '../../../styles/custom.less';

.PayoutDetail {
  &__beneficiaries {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__benefisItem {
    &--modal {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 0 20px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__time {
    color: @blue-botticelli;
  }
}
