@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.DepartmentsWobjList {
  padding: 0 10px;

  @media @small {
    padding: 0;
  }

  &__breadCrumbsWrap {
    display: none;

    @media @small {
      display: block;
    }
  }

  &__title {
    display: none;
    font-size: 16px;
    font-weight: 700;

    @media @small {
      display: block;
    }
  }
}
