@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.BusinessObject {
  &__margin-b {
    margin-bottom: 10px;
  }

  &__row {
    padding: 0;
    min-height: fit-content;

    @media @medium {
      margin: 0 auto;
      text-align: start;
      padding: 35px 16px 16px 16px;
      width: 500px;
      display: flex;
      flex-direction: column;
    }
    @media @large {
      margin-left: 27%;
    }
    .SocialProduct__title {
      max-width: 400px;
    }
  }

  &__links {
    .mb5px {
      margin-bottom: 10px;
    }
    .twitter-icon {
      display: inline-block;
      width: 25px;
      margin: 6px 4px 0 -4px;
    }
    .tiktok-icon {
      display: inline-block;
      width: 20px;
      margin: 2px 4px 0 0;
    }
    .snapchat-icon {
      margin: 0 10px -5px 0;
      svg {
        //display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 0 -3px 0;
      }
    }
    .text-icon {
      font-size: 20px !important;
      vertical-align: 0 !important;
    }
  }

  &__email {
    margin-left: 4px;
  }
  &__website {
    .mb5px {
      margin-bottom: 10px;
    }
    margin-left: 4px;
    font-size: 18px;
    .field-website__title {
      .text-icon.link {
        font-size: 15px !important;
      }
    }
  }
  &__contact-details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    @media @small {
      display: block;
      columns: 1;
      margin-bottom: 0;
    }
    @media @large {
      columns: 1;
      margin-bottom: 0;
    }
    .mb5px {
      margin-bottom: 10px;
    }
    .phone {
      margin-left: 4px;
      word-wrap: break-word;
      @media @small {
        max-width: 230px;
      }
      .text-icon.tel {
        margin-right: 0 !important;
        font-size: 15px !important;
      }
    }
  }
}
