@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.BusinessObject {
  .twitter-icon {
    display: inline-block;
    width: 25px;
    margin: 6px 4px 0 -4px;
  }
  .text-icon {
    font-size: 20px !important;
  }
  &__margin-b {
    margin-bottom: 15px;
  }
  &__website {
    font-size: 18px;
    .field-website__title {
      .text-icon.link {
        font-size: 15px !important;
      }
    }
  }
  &__phone-number {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    .phone {
      .text-icon.tel {
        font-size: 15px !important;
      }
    }
  }
}
