@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Blacklist {
  &__menu {
    display: flex;
    justify-content: space-around;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid @blue-hawkesBlue;
  }

  &__link {
    display: block;
    height: 45px;
    cursor: pointer;
    color: @blue-botticelli;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    white-space: nowrap;

    &--active,
    &:hover {
      color: @primary-color;
      border-bottom: 2px @border-style-base @primary-color;
    }
  }

  &__user {
    &__name {
      margin-right: 8px;
    }

    &__content {
      font-weight: 500;
      display: flex;
      margin-bottom: 8px;
    }

    &__links {
      display: flex;
      width: 100%;

      & > a {
        font-weight: bold;
      }
    }

    &__profile {
      display: flex;
      margin-left: 8px;
      text-align: left;
      word-break: break-word;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__header {
        display: flex;
      }

      &__delete {
        .ant-btn-primary {
          width: 140px;
        }
      }
    }

    &__divider {
      width: 100%;
      height: 1px;
      margin: 12px 0;
      background-color: @white-gainsboro;
    }
  }

  &__content {
    .ant-select-selection__rendered {
      line-height: 32px !important;
    }

    &-title {
      &-blacklist {
        font-size: 1.2em;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.65);
      }
    }

    &-blacklist {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #e9e7e7;
      padding: 20px 15px 0;
      margin-bottom: 15px;
      margin-top: 10px;

      &.empty {
        padding-bottom: 20px;
        text-align: center;
      }
    }

    &-title {
      margin-top: 20px;
      margin-bottom: 12px;
      font-weight: 500;
    }

    &-caption {
      font-size: 14px;
      margin-left: 3px;
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .ant-btn-primary {
      width: 140px;
    }

    &-add {
      margin-right: 15px;
    }
  }
}

.nightmode {
  .Blacklist {
    &__menu {
      border-bottom-color: @normal-grey;
    }

    &__user {
      &__name {
        color: @blue-botticelli;
      }

      &__divider {
        background-color: @normal-grey;
      }
    }

    &__content-blacklist {
      background-color: @grey-nero;
      border-color: @normal-grey;
    }

    &__content-caption {
      color: @blue-botticelli;
    }

    &__content-title {
      color: @blue-botticelli;

      &-blacklist {
        color: @blue-botticelli;
      }
    }
  }
}
