.PropositionList {
  &__breadcrumbs {
    display: flex;
    align-items: center;
  }

  &__parent {
    font-size: 24px;
    font-weight: 500;
    color: black;
  }

  &__icon {
    margin: 0 5px 0 10px;
  }
}
