@import (reference) '../../styles/modules/variables.less';

.PropositionList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__page {
    display: none;

    @media @small {
      display: inline;
    }
  }

  &__disclaimer {
    text-align: justify;
  }

  &__parent,
  &__page {
    font-size: 18px;
    font-weight: 700;
    color: black;
    word-break: break-word;

    @media @small {
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__icon {
    margin: 0 5px 0 10px;
    display: none;

    @media @small {
      display: inline;
    }
  }

  &__feed {
    width: 100%;

    @media @small {
      width: 65%;
    }
  }

  &__filterButton {
    display: block;
    font-weight: 700;

    @media @small {
      display: none;
    }

    span {
      font-weight: 500;
    }
  }

  &__left {
    display: none;

    @media @small {
      display: block;
      margin-left: 20px;
    }
  }

  .SearchAllResult__buttonWrap {
    padding: 0;
  }

  &__breadcrumbs {
    display: flex;
  }
}

.FraudDetection {
  .PropositionList__feed {
    width: 100%;

    @media @small {
      width: 85%;
    }
  }
}
