@import (reference) '../../styles/modules/variables.less';

.PropositionList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__breadcrumbs {
    //display: flex;
    //align-items: center;
  }

  &__disclaimer {
    text-align: justify;
  }

  &__parent {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    color: black;
    word-break: break-word;
  }

  &__icon {
    margin: 0 5px 0 10px;
  }

  &__feed {
    width: 100%;

    @media @small {
      width: 65%;
    }
  }

  &__filterButton {
    display: block;
    font-weight: 700;

    @media @small {
      display: none;
    }

    span {
      font-weight: 500;
    }
  }

  &__left {
    display: none;

    @media @small {
      display: block;
      margin-left: 20px;
    }
  }
}

.FraudDetection {
  .PropositionList__feed {
    width: 100%;

    @media @small {
      width: 85%;
    }
  }
}
