.nightmode {
  .PropositionList {
    &__parent,
    &__page {
      color: white;
    }

    &__icon {
      margin: 0 5px 0 10px;

      @media @small {
        display: inline;
      }
    }
  }
}
