@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.UserAccuracy {
  display: flex;
  position: relative;
  flex-direction: column;

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;

    &-value {
      position: absolute;
      margin-top: 30px;
      max-width: 60%;
    }

    &-chart {
      display: flex;
      justify-content: center;
      width: 78px;

      @media @xsmall {
        width: 95px;
      }
    }
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 105px;
  }
}

.UserAccuracy__data-wrapper-value {
  .value {
    font-size: x-large;
    font-weight: bold;
    &.success {
      color: @green;
    }
    &.unsuccess {
      color: @red;
    }
  }
}

.hideChart {
  display: none;
}
