@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/custom.less';

.Settings {
  padding-bottom: 24px;

  &__section {
    &:not(:first-child) {
      margin-top: 16px;
    }

    &__inputs {
      padding-top: 8px;

      .ant-form-item {
        margin-bottom: 8px;
      }
    }

    & > h3 > span:nth-of-type(2) {
      font-weight: normal;
    }

    & > h3:not(:first-of-type) {
      margin-top: 16px;
    }

    & > p {
      color: #99aab5;

      &:last-of-type {
        margin-bottom: 4px;
      }
    }

    .ant-radio-wrapper {
      display: block;

      :nth-child(2) {
        vertical-align: middle;
      }
    }

    &__component {
      margin-top: 16px;
    }

    &__checkbox {
      .ant-checkbox-wrapper {
        display: flex;
        align-items: center;
      }
    }

    &--flex-wrapper {
      display: unset;
      align-items: center;

      @media @small {
        display: flex;
      }
    }
  }

  &__prefix-icon {
    font-size: 14px !important;
  }

  .Action {
    margin-top: 16px;
    width: auto;
  }

  &__version {
    margin-top: 16px;
    width: auto;
  }

  &__profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ant-btn {
      margin-left: 1rem;
    }
  }

  &__modal {
    .ant-modal-content {
      width: 100%;

      @media @small {
        width: 600px;
      }
    }

    .ant-modal-body {
      padding: 0 24px 24px;
    }
  }

  &__delete-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    transition: 0.5s;

    &:hover {
      color: @orange-hot;
    }
  }

  &__search-account {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid @white-gainsboro;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
  }

  &__account-info {
    display: flex;
    align-items: center;
  }

  &__account-name {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__margin-add {
    margin-bottom: 20px;
  }

  &__input.ant-select-show-search.ant-select-auto-complete.ant-select.ant-select-combobox.ant-select-enabled {
    width: 100% !important;
  }
}

@import 'Settings-nightmode';
