@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.nightmode {
  .Settings {
    &__account-name {
      color: @white-gainsboro;
    }
  }

  .ant-modal-confirm-body .ant-modal-confirm-title {
    color: @white-gainsboro !important;
  }

  .ant-modal-confirm-body .ant-modal-confirm-content {
    color: @white-gainsboro !important;
  }
}
