@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Withdraw {
  font-size: 16px;

  &__title {
    margin-bottom: 0 !important;
  }

  &__title-footer {
    text-align: left;
    font-weight: bolder;
    color: @black;
  }

  &__wrapper-footer {
    display: flex;
    justify-content: space-between;
    color: @black;
  }

  &__button-footer {
    padding: 2px 15px;
    border: none;
    background-color: @orange-hot;
    border-radius: 4px;
    color: @white;
    cursor: pointer;
    transition: 0.3s;
    outline: none;

    &:hover {
      background-color: @neon-carrot;
    }

    &:disabled {
      color: @blue-baliHai;
      background-color: @grey-iron;
      cursor: no-drop;

      &:hover {
        background-color: @grey-iron;
      }
    }
  }

  &__input-wrapper {
    border: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    &:first-of-type {
      flex-wrap: nowrap;
    }

    @media @small {
      flex-wrap: nowrap;
    }
  }

  &__input-text {
    border: 1px solid @white-gainsboro;
    outline: none;
    padding: 4px 11px;
    width: 100%;
    height: 38px;
    border-radius: 4px;

    @media @small {
      border-right: none;
      border-radius: 4px 0 0 4px;
    }

    &--send-input {
      width: 66%;
      border-right: none;
      border-radius: 4px 0 0 4px;

      @media @small {
        width: 100%;
      }
    }

    &--error {
      border-color: @red-danger;
    }
  }

  &__switcher-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;

    @media @small {
      width: auto;
      font-size: 18px;
      margin: 0;
    }
  }

  &__subtitle {
    display: block;
    margin: 5px 0 20px;

    @media @small {
      margin-top: 10px;
    }
  }

  &__switcher-button {
    border: 1px solid @white-gainsboro;
    color: @blue-botticelli;
    border-radius: 4px;
    background-color: @white;
    padding: 2px;
    cursor: pointer;
    width: 34%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
      border-radius: 0 4px 4px 0;
    }

    @media @small {
      width: 85px;
      padding: 2px 10px;
      font-size: 18px;
    }

    &--border-radius {
      border-radius: 0;
      border-right-color: transparent;
      transition: 0.3s;

      &:first-child {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid @white-gainsboro;

        @media @small {
          border-radius: 0;
        }
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid @white-gainsboro;
      }
    }

    &--active {
      color: @orange-hot;
      border-color: @orange-hot;
    }

    &--active-radius {
      color: @orange-hot;
      border-color: @orange-hot;
      border-right: 1px solid @orange-hot;

      &:first-child {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid @orange-hot;

        @media @small {
          border-radius: 0;
        }
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid @orange-hot;
      }
    }
  }

  &__qr-button {
    background-color: transparent;
    border: 1px solid @white-gainsboro;
    outline: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    flex-basis: 28%;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 1px solid @neon-carrot;
      color: @neon-carrot;
    }

    span {
      display: none;

      @media @small {
        display: inline-block;
      }
    }
  }

  &__input {
    border: 1px solid @white-gainsboro;
    outline: none;
    border-radius: 4px;
    padding: 4px 11px;
    flex-basis: 70%;
  }

  &__address-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .balance {
    border-bottom: 1px dotted rgb(160, 159, 159);
    cursor: pointer;
  }

  .qr-img {
    width: 25px;
  }

  .invalid {
    color: @red;
  }

  .valid {
    color: @green;
  }

  &__modal.ant-modal {
    .ant-modal-content {
      .ant-modal-body,
      .ant-modal-footer {
        padding: 24px;
      }
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@import './Withdraw-nightmode';
