@import (reference) '../../../styles/custom.less';
@import (reference) '../../../styles/modules/variables.less';

.MatchBots {
  &__highlighted-block {
    border-top: 1px solid @black-text-basic;
    border-bottom: 1px solid @black-text-basic;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;

    &-change-vote {
      color: var(--website-color);
      cursor: pointer;
    }

    &--withoutBorder {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__text-content {
    font-size: medium;
  }

  &__text-link {
    color: var(--website-color);
    cursor: pointer;

    &--disabled {
      cursor: wait;
      color: #99aab5;
    }
  }
}
