@import (reference) '../../styles/custom.less';

.object-feed {
  &__row {
    display: flex;
    background: @white;
    border: @base-border;
    padding: 16px;
    margin-bottom: 12px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: @orange-hot;
    transition: 0.3s;
  }

  &__row:hover {
    color: @neon-carrot;
    cursor: pointer;
  }

  .Campaign__button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 23px;
    right: 10px;
  }

  .ObjectCardView__content {
    padding-bottom: 15px;
  }
}

@import 'ObjectFeed-nightmode';
